[2016-07-10 14:03] kgracey commented on #301
Can't wait! You mean I'll actually get to play with them today? This is super exciting!

[2016-07-10 14:05] DarkmatterVale commented on #301
You will have to get someone to build and deploy the demo branch, but that should be the only obstacle...

[2016-07-10 14:08] zfi commented on #291
Good morning,

The automated build process is working but not in the manner you expected.
The Demo build checks for new commits every 15 minutes. It will build and
redeploy the updates to the Demo server if it sees any new commits. The
last update occurred about 22 minutes ago.

Jim

On Sun, Jul 10, 2016 at 6:40 AM, Vale <notifications@github.com> wrote:

[2016-07-10 14:10] kgracey commented on #291
This sounds perfectly useful to us! KG

[2016-07-10 14:12] kgracey commented on #301
From Jim E's email a few minutes ago it sounds like a sweeper comes by every 15 minutes, picks up new code you produce, and makes it live for all the monkeys like me to start using.

[2016-07-10 14:12] DarkmatterVale commented on #291
Ah, awesome! I just checked and the new SD Card blocks have been built and pushed out.

[2016-07-10 14:15] DarkmatterVale commented on #301
Yea. I am testing the blocks right now...Once I am confident I didn't make any blaring mistakes, I will send a PR to demo for, as you said, the monkeys to test :D

[2016-07-10 14:15] kgracey opened #329 "Rename Communicate / Serial Terminal to Communicate / Print"
It would be more intuitive to rename the Serial Terminal to Print.

[2016-07-10 14:15] zfi commented on #291
We will have to expose the Jenkins build server to the Internet in order to permit GitHib to send notifications to Jenkins. It will involve some firewall magic but it's doable. The polling option was plan 'B'.

[2016-07-10 14:16] kgracey commented on #301
BTW, these blocks should go into the Communicate category and be called "XBee RF" unless you have a better counter-proposal.

[2016-07-10 14:20] DarkmatterVale commented on #290
What do you mean? Isn't there no need to handle 10 bytes of data for the RFID read block?

[2016-07-10 14:21] DarkmatterVale commented on #301
Would you like me to create a new category named "XBee RF" under the communicate category? I am currently putting them in communicat->protocols, and have named them "Xbee setup", "Xbee transmit", and "Xbee receive"

[2016-07-10 14:23] kgracey commented on #290
The RFID Reader sends out 10 bytes of data. How could we handle all the data coming from the RFID Reader in Blockly?

[2016-07-10 14:24] kgracey commented on #301
Exactly. I have thought about whether or not we should have a separate “RF” category, but I think the XBee blocks fit best in the “Communicate” category for now, so that’s the best place to put them.

[2016-07-10 14:27] DarkmatterVale commented on #301
Gotcha, I just merged into demo so you should see an update soon.

[2016-07-10 14:28] DarkmatterVale commented on #290
Can't we just store the data in a char as shown in your example?

[code]

[2016-07-10 14:29] DarkmatterVale commented on #290
Or do I need to do something else to be able to handle the data?

[2016-07-10 14:33] kgracey commented on #290
Sure, I guess so! I don’t know enough about C, but it seems that it auto-sizes so that if we get a whole bunch of bytes from the RFID reader it’ll just be one long Char, right?

[2016-07-10 14:35] DarkmatterVale commented on #290
To be honest with you I have no idea. Its been a few months since I programmed C++, and at least a half a year since I last programmed C...

[2016-07-10 14:36] zfi commented on #301
The build system polls GitHub every 15 minutes, beginning at the top of the
hour. I am configuring email motifications now so you have some feedback
from the process.

On Sun, Jul 10, 2016 at 7:27 AM, Vale <notifications@github.com> wrote:

[2016-07-10 14:36] kgracey commented on #290
Then let’s try this out. As long as we can use the output of the RFID reader to make some decisions in Blockly it’ll work fine. Let’s see what happens.

[2016-07-10 15:02] DarkmatterVale commented on #290
Sounds like a great plan

[2016-07-10 18:22] kgracey commented on #301
I see some strange remnants of blocks in the Communicate menu. I'm wondering if these are partial remnants of errant XBee blocks (which should be visible, if not mistaken).
![image](https://cloud.githubusercontent.com/assets/9534148/16715299/876cb13c-4690-11e6-8c80-1e81723268cc.png)

[2016-07-10 18:35] DarkmatterVale commented on #301
Try clearing your cache; I'm seeing the blocks just fine on my end

[2016-07-10 18:41] kgracey commented on #301
OK, that worked but I noticed two small things:

1. Could you move the XBee blocks up a level (from Communicate / Protocols to Communicate) so they are on the same level as Serial LCD, Print and Protocols?

1. Rename Xbee to XBee (X and B are both caps) in the blocks.

Thanks! KG

[2016-07-11 10:48] DarkmatterVale commented on #301
I do not think I can put blocks within an "upper category"; they have to exist within a subcategory. Would you like me to create an "XBee RF" category?

[2016-07-11 15:38] CarsonGracey commented on #301
@DarkmatterVale, We could put them on the same category level as Serial LCD, Print, and Protocols and name it XBee.

[2016-07-11 16:11] CarsonGracey opened #333 "Removing Exponent drop down from operators"
![cog](https://cloud.githubusercontent.com/assets/20099916/16737475/623514de-4746-11e6-8ef3-32d42f1b96e1.PNG)

This option from the drop down can be completely removed since C language does not even support exponential functions.

[2016-07-11 16:19] kgracey commented on #333
Woops. Specifically, our Propeller C doesn’t seem to support it. And, I can’t think of a specific use of it for Blockly projects at this stage. This will change in the future, but for now we don’t need the exponent operator.

[2016-07-11 16:22] CarsonGracey opened #334 "Semicolon needed in toggle"
One small problem with the toggle option, ```set_direction(0, 0)``` just needs a semicolon after the function ```set_direction(0, 0);```

Blockly code:
[code]

[2016-07-11 16:45] CarsonGracey commented on #300
Tested and Verified.

[2016-07-11 16:51] CarsonGracey commented on #299
Tested and Verified.

[2016-07-11 17:05] PropGit opened #335 "Need Version and Build Indication Display"
@michellampo, @DarkmatterVale, @cbradyatinquire, @zfi, @kgracey
We have a problem I'd like to see us solve swiftly.
### Problem

We desperately need the BlocklyProp interface to display version and build information that uniquely identifies the running instance that the user is using.  Currently, there's nothing except the change log (which is a different topic).  Such Version & Build information

[2016-07-11 17:18] kgracey commented on #335
Great idea, Jeff. This would be helpful for us as well as we bounce between the demo.blockly.parallax.com and blocky.parallax.com, wondering about whether or not the two are the same version. - Ken

[2016-07-11 17:28] CGracey opened #336 "Disabling blocks doesn't disable variables"
This issue is fairly low priority since it doesn't actually stop the code from successfully compiling or running. I was testing all the MX2125 with five different variables and I disabled a few blocks where variables where defined, but they still appeared in the code as integers despite them being disabled. It may be helpful to remove variables in the code if the only blocks they are used in are d

[2016-07-11 17:30] CarsonGracey commented on #298
Tested and Verified.

[2016-07-11 17:40] CarsonGracey opened #337 "Sensor name change"
Small fix, add an L to the HMC5883 in the menu since its full name is HMC5883L

[2016-07-11 17:44] kgracey commented on #308
Bump. @michellampo can you do this?

[2016-07-11 20:30] CarsonGracey opened #338 "RFID Close"
![close rfid](https://cloud.githubusercontent.com/assets/20099916/16745551/31695bc4-476b-11e6-97a1-e8ac96d7e6a6.PNG)

This block currently produces the code ```rfid_close(rfidser* device);``` when it needs to be ```rfidser_close(rfidser* device);```

[2016-07-11 21:07] DarkmatterVale commented on #301
Gotcha

[2016-07-11 21:08] DarkmatterVale commented on #336
hmmm I see what you mean. I will have to look into how disabled blocks work...

[2016-07-11 21:09] DarkmatterVale commented on #335
I think this is a great idea. How do we decide when to change major and minor versions?

[2016-07-11 21:32] Wierdowl opened #339 "RFID Reader Block"
While testing this block:
![screen shot 2016-07-11 at 2 23 36 pm](https://cloud.githubusercontent.com/assets/20117212/16747333/7321b770-4773-11e6-8a76-f7ebc92df7fd.png)
I found that it generated this code:
[code]
Which did not work, but when I changed it to this:
[code]
Where I put in a semicolon after "badge__ = rfid_get(rfid, 1000)" and it started to work.-Blake

[2016-07-11 21:56] CarsonGracey opened #340 "HMC5883L Blocks"
[code]

[2016-07-12 19:07] PropGit commented on #122
I can't easily verify that this is resolved or not.  I will close it and if I see it occur again, I will reopen the issue.

[2016-07-12 19:07] #122 closed

[2016-07-12 19:11] PropGit commented on #124
Similar to Issue #122, I'm not unable to duplicate this issue.  I will close it and reopen if I see it happen again.

[2016-07-12 19:11] #124 closed

[2016-07-12 19:24] PropGit commented on #126
I have not experienced this since the switch to simplified log in (and OAuth) enhancements.

[2016-07-12 19:24] #126 closed

[2016-07-12 20:08] PropGit commented on #335
###For when to change major and minor versions:
This can be a tricky thing to hande.  Normally I'd suggest that Demo drives the version forward and Production assumes that version when all of Demo is merged in; however, it's very likely we will rarely have all of Demo's current features merged in at once, which makes Production's version numbers only loosely connected to Demo's.  In light of this,

[2016-07-12 20:40] CarsonGracey opened #341 "Comment Block"
It may be helpful to add a comment block, which would basically be a text block that would insert the code ```//Text```, since nearly everyone puts comments on their code, a block that could do that would be very helpful.

[2016-07-12 21:52] kgracey opened #342 "Welcome David Carrier"
Just a quick test to see that @dcarrier-parallax is part of our team (check out the S3 blocks).

@michel-cf you can close this issue :)

Ken

[2016-07-12 22:27] DarkmatterVale commented on #342
Welcome David!

[2016-07-12 22:27] #342 closed

[2016-07-12 22:30] PropGit opened #343 "OAuth Problems"
We need to disconnect the forced-exclusive nature of logging in with an email address as 1) a localized account, and 2) an OAuth account.

* If a local account is created in BlocklyProp with an email address that happens to be that of a Google account, then later trying to "Log in using Google" causes a fatal error:
![image](https://cloud.githubusercontent.com/assets/1266318/16785738/8669fec4-4844

[2016-07-12 22:31] CarsonGracey opened #344 "Hackable Electronic Badge"
On the HEB, the drop down menu for either of the shown blocks doesn't match up with the pin names on the board. For example each of the numbers should be changed to:

![touchpad](https://cloud.githubusercontent.com/assets/20099916/16783845/c4ebbc0a-483a-11e6-8d82-e13876cee4ed.PNG)

Is-touchpad-pressed?
0 - P27
1 - P26
2 - P25
3 - P15
4 - P16
5 - P17
6 - Center Button

![led state](https://cloud.gi

[2016-07-12 22:37] PropGit commented on #148
This appears to have been fixed by the simplified authentication enhancement which led up to PR #296.

[2016-07-12 22:37] #148 closed

[2016-07-12 22:42] DarkmatterVale opened #345 "Old projects need to be removed"
I got an error on my dev VM which I couldn't figure out until I realized that I've made significant changes to blocks in the past few days which broke backwards compatibility. Someone needs to go through all of the old projects that are broken and either:

1) fix them
2) delete them

[2016-07-12 22:42] PropGit commented on #139
Have not seen this problem occur again.  Closing issue.

[2016-07-12 22:42] #139 closed

[2016-07-12 22:52] DarkmatterVale commented on #289
Michel, can you please create a PR into the master branch for this?

[2016-07-12 22:59] DarkmatterVale commented on #308
I think @michel-cf will have to take this one...its a little above my pay grade :D

[2016-07-12 23:22] kgracey commented on #309
@CarsonGracey please test and verify.

[2016-07-12 23:29] kgracey commented on #329
Tested and verified with one small change: Print should be print (lower case).

[2016-07-12 23:35] DarkmatterVale commented on #329
Ahhhhhhh ok

[2016-07-12 23:38] DarkmatterVale commented on #329
Just pushed this update to Demo

[2016-07-12 23:50] DarkmatterVale commented on #289
I just sent a PR

[2016-07-12 23:55] DarkmatterVale commented on #311
I cannot merge this into demo because of conflicts and I cannot rebase from demo into my master because of other issues...so we are kinda stalemated until further notice...

[2016-07-13 00:07] DarkmatterVale opened #357 "Change Spin titles to Scribbler"

[2016-07-13 01:23] PropGit commented on #290
Is this issue verified fixed?

[2016-07-13 01:24] PropGit commented on #282
Has this been retested yet?

[2016-07-13 09:03] michel-cf commented on #357
Why???

[2016-07-13 13:07] michel-cf commented on #343
This is something that I've never seen done.

What I'm willing to do is add a button in the user profile page to convert their account from one authentication source to another.

[2016-07-13 15:17] PropGit commented on #357
I too wonder what the reason is here.  Scribbler is not the language, it's hardware whose routines are implemented in the Spin language.  If we are changing every occurrence of "Spin" in BlocklyProp to be "Scribbler" it's the same as changing every occurrence of "C" in BlocklyProp to be "Activity Board WX" or "Hacker Electronic Badge."

[2016-07-13 15:27] michel-cf commented on #341
Are you aware that you can add comments to a block? Isn't that enough?

[2016-07-13 15:41] PropGit commented on #343
I'm adding @kgracey and @zfi here to make sure we're all in agreement (or not).

@michel-cf - That's not really going to solve the problem well; the problem is that the user doesn't know what's going on.
* In one case, they are left wondering what "???oauth.wrong-authentication-source???" means- and that's not really a proper user-level error message anyway.
* In the other case they are wondering

[2016-07-13 15:51] michel-cf commented on #343
???oauth.wrong-authentication-source??? or anything with ??? in front and after is a missing translation.

We can put in whatever clear instruction we want.

[2016-07-13 15:56] PropGit commented on #317
@cbradyatinquire - Can you verify that this is fixed on demo?

[2016-07-13 16:14] CarsonGracey commented on #341
I just found that out after reading your comment but the only problem I personally see with that is that you have to click on the ? each time to view your comment instead of always having them open and easily visible.

[2016-07-13 16:15] kgracey commented on #341
I think it's a request worthy of discussion. Strangely, I had also asked @michel-cf the same question a while back [maybe he remembers] in some other Issue. One of our interns had asked the same question about comments. A comment block would be easy enough to make, but allow them to be more visible in their appearance within the block code.

I'd like to know what others think of this, too. I'm on

[2016-07-13 16:18] CarsonGracey commented on #329
One small thing, I think he wanted Print in the menu to be upper case while this print block:
![print](https://cloud.githubusercontent.com/assets/20099916/16810877/aa2b7f9a-48da-11e6-9f73-16b83089ed2e.PNG)
could be all lowercase.

[2016-07-13 16:24] CarsonGracey opened #359 "Menu name error in demo"
Under communicate instead of just XBee, it reads ???category.communicate.xbee???

[2016-07-13 17:04] kgracey commented on #359
![screen shot 2016-07-12 at 2 21 39 pm](https://cloud.githubusercontent.com/assets/9534148/16812280/3ba0dafa-48e1-11e6-82cf-74abda4ee3ba.png)

[2016-07-13 17:05] kgracey commented on #359
![screen shot 2016-07-13 at 10 18 14 am](https://cloud.githubusercontent.com/assets/9534148/16812294/5420a326-48e1-11e6-89a9-2f3aacd262f8.png)

[2016-07-13 17:06] PropGit commented on #341
Can we make a comment block (that only contains comments, as requested by this issue) that displays the comments by default, and leave the existing blocks' comment features hide the comment by default?  I think that'd be nice.

It'd also be great if there could be a button on the header that allows the user to show-all comments or hide-all comments in one simple step.

[2016-07-13 17:09] PropGit commented on #359
That means the translation string for the xbee block in the communication category was mistakenly left out.

[2016-07-13 17:53] kgracey commented on #341
That would be the most tidy solution if it were possible. If this isn’t easily accommodated or possible just let us know - we all know there are bigger issues that Michel is dealing with so you guys can factor this in as appropriate given our September release.

[2016-07-13 17:54] kgracey commented on #282
YES. This has been tested and verified.

[2016-07-13 18:10] zfi commented on #122
This likely happens if the SMTP configuration is broken. The email send attempt happens after the initial customer account data is put in the database. The email send fails so the customer is unable to confirm the registration.

This should be reproducible on a dev VM that has no SMTP server configured.

[2016-07-13 18:20] zfi commented on #311
Can you recreate the changes in a new branch on your repo and the do a PR for that branch? We should never be in a position where we cannot release code.

[2016-07-13 19:13] kgracey opened #361 "S3 block: set motor speed text revision"
@dcarrier-parallax please modify this block:
![screen shot 2016-07-13 at 12 23 41 pm](https://cloud.githubusercontent.com/assets/9534148/16816528/16119d08-48f3-11e6-81c5-f7989801308f.png)
to:
![screen shot 2016-07-13 at 12 23 28 pm](https://cloud.githubusercontent.com/assets/9534148/16816536/1ad8b7c2-48f3-11e6-8366-36495df88e8c.png)
so that the input ranges are clear to the user. Please auto-scale

[2016-07-13 20:02] kgracey opened #362 "S3 block: LED states not working properly"
Three pieces of information for you @dcarrier-parallax, starting with my blocks:
![screen shot 2016-07-13 at 1 13 13 pm](https://cloud.githubusercontent.com/assets/9534148/16817875/bdb6773a-48f9-11e6-904a-4ba7cf552b7b.png)
and the code it produces:
[code]
and the result is that the right LED flashes green (it should be solid, and the left and center should be red and amber, respectively. I'm not s

[2016-07-13 20:23] kgracey commented on #321
I'd like to free up this from the current deadlock by asking @michel-cf to take a look and respond.

I've given the terminal needs some thought and believe they can be very simple. After working with some sensors, multiple inputs, and robots, these are the minimal formatters that would be nice to have:

- Home Cursor
- Position Cursor (X,Y)
- Clear Screen
- New Line

Along with a larger font size

[2016-07-13 20:52] michel-cf commented on #321
I just finished a feature that will be put online today/in a few days.
I'll look further into this on Friday and over the weekend.

[2016-07-13 20:53] PropGit commented on #321
@michel-cf - Here's some more information that is important for this feature.  This is some information I described for the Parallax IDE's Debug Terminal, but applies here.

For these control characters to work as expected:
* Visible characters appear left-to-right, top-to-bottom as they arrive; scrolling the display as needed to show and emit a new line beyond the bottom of the display
* All char

[2016-07-13 21:07] michel-cf opened #363 "Colored categories"
I found a new feature in Blockly, and implemented it on small scale:

![image](https://cloud.githubusercontent.com/assets/5745991/16819792/5fbc68b0-494e-11e6-953d-64704c0ad88b.png)

You can give categories a color, and it appears a small colored block next to the category name. And instead of the plain blue color, the defined color is used to highlight the selected category.

Do we want this?

[2016-07-13 21:10] kgracey commented on #363
I think it’s pretty cool, actually. Other versions of Blocky (ArduBlock, MakeBlock, etc.) make good use of colors in this way. I like it!

[2016-07-13 21:17] CarsonGracey opened #364 "S3: Dialogue window when loading EEPROM"
![object](https://cloud.githubusercontent.com/assets/20099916/16819824/0a1d1490-4903-11e6-860c-ff4a1aac9009.PNG)

I got this dialogue popup in Google Chrome when I tried loading EEPROM on the S3, it happened 5-6 times before it went away. It has shown up again once or twice since. Also, no Spin code was sent or compiled when this happened.

[2016-07-13 21:20] michel-cf commented on #336
When I update to the new Blockly this might solve it: https://github.com/google/blockly/pull/472
(We'll need to see what the actual impact of this is)

[2016-07-13 21:20] PropGit commented on #363
Me too!

[2016-07-13 21:27] michel-cf commented on #341
I can disable comment's altogether and we can make a block for it.
I don't think the other suggested solutions are possible.

[2016-07-13 21:30] kgracey commented on #341
I think it could be best to handle things this way. My only reasons for thinking this way (so far) are that myself and two students couldn’t easily find the comments in the blocks, and therefore find them not too useful as designed.

I think a comment block would be a good solution here so that the user comments are ALWAYS visible.

[2016-07-13 21:33] kgracey opened #365 "S3 block: infrared (or LEDs) not producing functional code"
@dcarrier-parallax please try this code:
![screen shot 2016-07-13 at 2 45 58 pm](https://cloud.githubusercontent.com/assets/9534148/16820577/b522cd78-4906-11e6-8f28-f6584f98806a.png)
[code]
Because we don't have a Spin block for Print I am trying other ways to test the sensors using LEDs as feedback. So, I really don't know if the issue likes with your wrapper code around the LED control or the in

[2016-07-13 21:34] kgracey commented on #363
Well, that's TWO of us! Push this great idea to DEMO @michel-cf!

[2016-07-13 21:38] kgracey opened #366 "S3 block: Print block request"
@dcarrier-parallax I am now stuck with testing because I am unable to discern the values of the sensors (line, obstacle, light, etc.) with LEDs only as feedback. Please let me know when you have a working Print block. I expect the initial implementation to be very simple: strings or integers should be fine.

[2016-07-13 21:39] michel-cf commented on #363
I merged it into demo. Please keep in mind that this is incomplete at this stage. But it shows how to implement it.

[2016-07-13 21:47] CarsonGracey opened #368 "S3 block: Sound and repeat"
![s3 sound](https://cloud.githubusercontent.com/assets/20099916/16820976/ad4bece0-4908-11e6-8bc2-ca1bea648b2a.PNG)

Theoretically, these blocks should play ascending notes while repeating, ascending 1 Hz per repeat starting at 0 Hz. But instead they do not repeat at all and play the Hz (item, 0, 25) where 25 should be a duration in milliseconds but is instead being played as a sound.

[code]

[2016-07-13 21:48] kgracey commented on #368
For @dcarrier-parallax

[2016-07-13 22:24] #282 closed

[2016-07-13 22:24] #285 closed

[2016-07-13 22:24] #288 closed

[2016-07-13 22:24] #311 closed

[2016-07-13 22:27] #277 closed

[2016-07-13 22:28] #278 closed

[2016-07-13 22:28] #286 closed

[2016-07-13 22:31] #299 closed

[2016-07-13 22:37] kgracey commented on #341
@DarkmatterVale can you assign a comment block to yourself? It's an easy one - a big text field that turns into a comment! Like this:

`// Vale is going to build a rocket in his backyard and fly to Mars`

[2016-07-13 22:38] #298 closed

[2016-07-13 22:39] DarkmatterVale commented on #341
Hahaha it's already assigned to me

[2016-07-13 22:46] #283 closed

[2016-07-13 22:53] DarkmatterVale commented on #363
They look great! @kgracey @PropGit Can you guys get me a list of what color you would like each category to look?

[2016-07-13 23:07] PropGit commented on #363
Unless @kgracey says otherwise, I think it's already bee defined in Issue #226.

[2016-07-13 23:14] CarsonGracey opened #370 "Warnings Stop compiling code in Blockly"
![mma test](https://cloud.githubusercontent.com/assets/20099916/16822758/8ed9ea18-4913-11e6-80aa-0a223d7fa192.PNG)

I made these blocks in Blockly and when compiled they produce these warnings:

[code]
In SimpleIDE, this doesn't stop the code from compiling or even running at all, but in Blockly, the same exact code would not compile because it contained warnings I assume. Is this intended?

### B

[2016-07-13 23:24] zfi commented on #173
There is error logging and some basic activity logging baked into the system now, would be great to have more detail. Maybe in version 2?

[2016-07-13 23:27] zfi commented on #159
Bump

[2016-07-13 23:46] PropGit commented on #159
@DarkmatterVale @michel-cf - Yes, this looks so much better!  Thank you!

Verified fixed.

[2016-07-14 04:05] cbradyatinquire commented on #317
Tested, NOT fixed -
here is the code generated by the block in its default state:

#include "simpletools.h"
#include "badgetools.h"

int main()
{
    badge_setup();
    led(0, high);

}

This gives a compile error.

NOTE: it still is true that  when you change the value to "low" it works, and when you change BACK to "high" it works again.  But the INITIAL state is still broken.

[2016-07-14 12:10] michel-cf commented on #370
In these cases where identical code compiles in SimpleIDE but not on Cloud-compile please provide the command SimpleIDE uses to call gcc. (copy from terminal)

When running using the dev vm. You can also take a look at /var/log/supervisor/cloud-compiler-...
If memory serves, Cloud-compiler will print out the command it generates to call gcc.

[2016-07-14 12:11] michel-cf commented on #363
I used the main color for the blocks of that category. Sadly, you can't use colorpallete.js at this location.

[2016-07-14 16:36] kgracey opened #371 "ColorPal block include file has extra semicolon (;) causing trouble"
@DarkmatterVale this one is for you. Here's my code:

![screen shot 2016-07-14 at 9 48 23 am](https://cloud.githubusercontent.com/assets/9534148/16847490/27c56bf2-49a6-11e6-8b0a-df53c5d2b532.png)
[code]

It has two issues that need to be addressed:

1. The additional carriage return between `int green;` and `int blue;` should be removed.
2. The `#include "colorpal.h";` should have the semicolon re

[2016-07-14 17:37] CarsonGracey commented on #370
I had to do multiple screen shots (they can be enlarged) since you can't copy/paste out of terminal.

### SimpleIDE gcc

![yoy](https://cloud.githubusercontent.com/assets/20099916/16849298/a1a99f44-49ae-11e6-931e-d340a1416c5b.PNG)
![os](https://cloud.githubusercontent.com/assets/20099916/16849300/a459b8fa-49ae-11e6-9348-c51c3f0ed9ee.PNG)
![oss](https://cloud.githubusercontent.com/assets/20099916/1

[2016-07-14 17:51] CarsonGracey commented on #359
Verified fixed.

[2016-07-14 18:43] kgracey opened #372 "ColorPal block: forward declarations and function locations"
@DarkmatterVale I imagine this request will apply to a number of blocks, but we can start here and make this one correct. Take a look at this code:
![screen shot 2016-07-14 at 11 16 14 am](https://cloud.githubusercontent.com/assets/9534148/16850125/84d8e646-49b2-11e6-93ce-722392aeb06e.png)
Which produces the following C code:
[code]
This is the code we would like to see:
[code]
The correct code ha

[2016-07-14 19:18] kgracey opened #373 ""Save as" feature for code iterations"
Maybe there's another way to handle this problem, let me know.

Blake is making a fairly complex project - an XBee wireless alarm system with a transmitter and receiver. A PIR alarm sends a message to the receiver where an alarm is sounded. A future version will include an RFID reader (scan your tag in 10 seconds or else).

Blake is making frequent iterations to his code along the way and needs ab

[2016-07-14 19:26] kgracey commented on #339
We can close this issue because we're replacing it with another one today, @DarkmatterVale. So, blast this one away because @Wierdowl and I have a better solution now.

[2016-07-14 20:29] #361 closed

[2016-07-14 21:14] dcarrier-parallax opened #374 "Block_Wrapper.spin crashes after a small number of calls"

[2016-07-14 21:15] #366 closed

[2016-07-14 21:17] dcarrier-parallax commented on #362
Duplicate of: https://github.com/parallaxinc/BlocklyProp/issues/374, caused by crash of Block_Wrapper.spin

[2016-07-14 21:17] dcarrier-parallax commented on #365
Duplicate of: https://github.com/parallaxinc/BlocklyProp/issues/374, caused by crash of Block_Wrapper.spin

[2016-07-14 21:18] #365 closed

[2016-07-14 21:18] #362 closed

[2016-07-14 21:18] dcarrier-parallax commented on #368
Duplicate of: https://github.com/parallaxinc/BlocklyProp/issues/374, caused by crash of Block_Wrapper.spin

[2016-07-14 21:18] #368 closed

[2016-07-14 21:19] kgracey commented on #374
I have had this issue but have not reported it because I didn't know where in the code thisproblem originated. Happy to see it fixed!

[2016-07-14 21:21] PropGit commented on #317
Thanks @cbradyatinquire.

@DarkmatterVale - Since this isn't fully fixed yet, please amend or cancel & replace PR #347 when appropriate.  Thanks!

[2016-07-14 21:31] CarsonGracey opened #375 "OLED: Block request"
This is the first of many OLED block requests to come. It will automatically include the library ```"oledc.h"```

![oled](https://cloud.githubusercontent.com/assets/20099916/16856527/617e23ec-49cf-11e6-8234-675af98fde4b.PNG)

This block will set up the Color OLED screen and generate the code:

[code]

The 2 will always be constant.

[2016-07-14 21:45] CarsonGracey commented on #375
Closing this issue because font also must be included in the initialize block.

[2016-07-14 21:45] #375 closed

[2016-07-14 21:58] dcarrier-parallax commented on #374
Fixed

[2016-07-14 21:58] #374 closed

[2016-07-14 22:02] CarsonGracey opened #376 "RGB OLED: Block Request"
This is the first of many OLED block requests to come. It will automatically include the library ```"oledc.h"``` along with those listed at the bottom.

![oled](https://cloud.githubusercontent.com/assets/20099916/16857072/8930326a-49d2-11e6-9419-94d83bde7cc7.PNG)

This block will set up the Color OLED screen and generate the code:

[code]

The 2 will always be constant since it is rotation.

Also,

[2016-07-14 22:11] PropGit commented on #370
@CarsonGracey - There's a special menu option for capturing the Build Status content in SimpleIDE... sorry, I can't remember it exactly- it's something like Help > Build Status or Tools > Build Help or something like that.

[2016-07-14 22:14] PropGit commented on #339
Closing this issue as requested.

[2016-07-14 22:14] #339 closed

[2016-07-14 22:15] CarsonGracey commented on #370
Thanks @PropGit, here is the raw data.

[code]

[2016-07-14 22:53] DarkmatterVale commented on #364
@dcarrier-parallax Isn't this in your domain?

[2016-07-14 23:09] DarkmatterVale commented on #317
I will amend a commit as soon as I figure out the issue.

[2016-07-14 23:09] DarkmatterVale commented on #301
Verified?

[2016-07-14 23:12] DarkmatterVale commented on #359
As soon as #301 gets verified I'll merge

[2016-07-14 23:12] kgracey commented on #301
Verified! Works beautifully!

[2016-07-14 23:29] zfi commented on #373
If we think of it terms of "undo" levels, it might be possible.

[2016-07-14 23:34] DarkmatterVale commented on #291
I'm gonna say this is fixed (since I created it as a very vague issue). Please create another issue if you have more specific requests for the SD Card blocks

[2016-07-14 23:34] #291 closed

[2016-07-14 23:37] dcarrier-parallax opened #378 "If/Elseif/Else block in Spin adds extra whitespace"
The if/elseif/else block in spin adds an extra space before the elseif statement, which creates syntax errors.  It also adds extra carriage returns at the end of the entire statement as well as before the else statements.

[2016-07-14 23:38] DarkmatterVale commented on #371
Extension of #306

[2016-07-14 23:40] DarkmatterVale commented on #371
The second of the issues you specified is a bug in variable handling; I will create a separate issue for it

[2016-07-14 23:40] dcarrier-parallax commented on #199
For S3 support, spin will not be removed, so this issue is now open again.

[2016-07-14 23:45] DarkmatterVale commented on #199
Yes, this should be reopened, but I will need time before I can address it

[2016-07-14 23:46] DarkmatterVale commented on #371
After completely destroying some branches, I got this into demo...

[2016-07-14 23:48] DarkmatterVale commented on #372
Ok some of these are pretty big issues that are going to need a little bit of time to address. Are all 3 high priority?

[2016-07-14 23:54] dcarrier-parallax opened #380 "Spin generator has extra 'Setup' method, adds other methods after VAR block"
The Spin interpreter tokenizes methods in the order they appear, and does not run a named method first.

The Spin generator creates a Setup method that calls a Start method that contains the code that should run first, but if blocks create other methods, they are added after the VAR black, instead of at the end of the file.

[2016-07-15 00:02] DarkmatterVale commented on #338
In #290 you say it should be ```rfid_close```...Which one is correct?

[2016-07-15 00:20] CarsonGracey commented on #338
In the simple library reference it says rfidser_close, that should be correct

[2016-07-15 15:05] kgracey commented on #372
Sure, but how can we make this easier? I'm happy to omit the request for forward declarations if you can move the functions to after main(). Does this make things any easier?

[2016-07-15 15:09] kgracey commented on #306
Verified! This works - thank you!

[2016-07-15 15:11] kgracey commented on #373
Or a "clone" type of function? I guess that's the same end result as a Save As. If Google fixes the "Omit Blocks" feature then this be helpful too.

[2016-07-15 15:21] michel-cf commented on #373
Clone is already available in the project view: (bottom right)

![image](https://cloud.githubusercontent.com/assets/5745991/16879347/82f22f46-4ab0-11e6-8cdc-bbdea346104a.png)

[2016-07-15 15:23] kgracey commented on #373
@michel-cf - I think this could probably serve the intended purpose for us. It's a matter of training people to look for it, though, since Save As is a default human instinct at the stage. We will start with the clone feature and see if people adopt it. You can close this issue (or drop it to low importance).

[2016-07-15 15:33] kgracey commented on #357
Correct @PropGit. The question, really, is "how do we simplify and streamline the interface considering the S3 is the only hardware device we will support for Spin?" This entire issue is a matter of user interface design. It would be best if users didn't have to see the Spin choices and everything looked like C unless they chose the S3. How could we accomplish this? At present, there are many oppo

[2016-07-15 15:33] #373 closed

[2016-07-15 15:34] michel-cf opened #381 "History feature"
New table that contains save date and project that is added to each time a project is saved.

A history can be viewed through the project view (owner only)

[2016-07-15 15:57] kgracey opened #382 "RFID Blocks: Updated Code"
The current RFID blocks are string-oriented and we would like them to be decimal so we've come up with an excellent solution that is all integer based. In short, here is the entire working code:
[code]
The blocks needed are the following:
RFID enable (arguments are enable and Sout pins) for this code up top:
[code]
along with this in main()
 ` rfid = rfid_open(rfidSout, rfidEn);         // Open re

[2016-07-15 15:57] kgracey commented on #382
No changes to the disable RFID and close RFID blocks.

[2016-07-15 16:00] PropGit commented on #357
I'm interested is what ideas @michel-cf may have for this.  I understand your point, and I don't like the awkward steps to get a project going either (including the distinct step to select language); I just caution that we might be painting ourselves into a corner that may be hard to get out of later.

For example, suppose in the near future after many people have been using BlocklyProp (lots of p

[2016-07-15 16:49] kgracey commented on #206
This issue can be closed. It is likely already supplanted by @dcarrier-parallax's efforts with newer Spin blocks.

[2016-07-15 17:01] kgracey commented on #276
@DarkmatterVale the blocks on demo.blockly.parallax.com are still generating the old, non-working code. Could you get another look at this one?

[2016-07-15 17:20] kgracey commented on #371
This issues is verified and fixed. Can be closed.

[2016-07-15 17:21] kgracey commented on #329
The "print" menu on the left side should be capitalized as in "Print".

[2016-07-15 18:13] PropGit commented on #164
No, this exact symptom hasn't occurred since the change to the simplified login system.  That's not to say that it isn't still a problem should something happen that prevents actual logging in.

I think the safest thing is to convert the error dialog (with Chrome doesn't seem to be making up front and visible when we want it to) into an error message just like the light-red "Login was unsuccessful

[2016-07-15 18:23] PropGit commented on #185
@cbradyatinquire - Have you experienced this error in the last month's time?  I think the only time I've seen this recently is probably related to constant changing of the underlying block structure as I have not had it happen recently in the way you experienced.  It _may_ be fixed now through the other system efforts.

[2016-07-15 18:27] PropGit opened #383 "Hide [account] > Public Profile Menu Until Friends and Projects Feature Created"
The __account > Public Profile__ menu presents a mostly blank page.
![image](https://cloud.githubusercontent.com/assets/1266318/16884585/15882e46-4a7f-11e6-9ad0-042ea012709f.png)

Please hide the Public Profile menu option until further development makes it useful.

[2016-07-15 18:32] PropGit opened #384 "Make "Forgot..." and "...confirmed" Links Available on First Log In Screen"
The log in screen:
![image](https://cloud.githubusercontent.com/assets/1266318/16884689/9dbd9c74-4a7f-11e6-8469-b64bd005fd71.png)

forces the user to fail a log in attempt before being presented with the "Forgot your password?" and "Email not yet confirmed?" links.
![image](https://cloud.githubusercontent.com/assets/1266318/16884701/b4eac958-4a7f-11e6-9b1b-eded263e61a5.png)

Please make these link

[2016-07-15 20:14] cbradyatinquire commented on #185
i don't think i've seen this in over a month (or more)

[2016-07-15 22:55] PropGit commented on #122
Thanks @zfi - I tested it in the Development VM and didn't get a failed state response; it actually said it successfully sent the email, though of course it could not.  The response I got this time (as opposed to what started this issue) is recoverable, assuming a user clicks the Email not yet confirmed link and is able to get an email the second time around.

I'm leaving this issue closed as I ca

[2016-07-15 23:34] dcarrier-parallax commented on #378
Fixed in these commits: https://github.com/parallaxinc/BlocklyProp/commit/8564737d3eb1c19eb3d946a2ef7976c604c89e30 and https://github.com/parallaxinc/BlocklyProp/commit/e461ea1eddfe4632f63495a38c9dbf88b29ece05

[2016-07-15 23:34] #378 closed

[2016-07-15 23:37] dcarrier-parallax commented on #361
Added here: https://github.com/parallaxinc/BlocklyProp/commit/0fef1d8eef8064c8cd878ea0e2c088634187726a

[2016-07-15 23:38] dcarrier-parallax commented on #366
Added here: https://github.com/parallaxinc/BlocklyProp/commit/88771128d4cdefdf6ef8804dd4a1368e29998a23

[2016-07-16 00:26] MatzElectronics commented on #376
In addition, I would add "None" to the Medium and Large font selection - I don't believe it makes a memory difference on the current version of GCC in use, but it will on a newer version if/when it gets updated.

[2016-07-16 00:47] michel-cf commented on #376
Due to the long length I propose to put the font selections on a second line: https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#3vdymi

[2016-07-16 02:21] dcarrier-parallax commented on #364
I don't have any experience using Blockly to load code; I've only been working on making blocks.

If the issue still persists, Michel may be best qualified to look into it.

[2016-07-16 12:23] #289 closed

[2016-07-16 12:26] DarkmatterVale commented on #279
Can someone else verify this has been fixed?

[2016-07-16 12:30] DarkmatterVale commented on #329
Just pushed a new commit to demo to fix my changes

[2016-07-16 12:33] DarkmatterVale commented on #264
I see this fixed in demo, can someone else verify?

[2016-07-16 12:34] DarkmatterVale commented on #310
Can someone else verify this is fixed?

[2016-07-16 14:23] DarkmatterVale commented on #304
Can someone else please verify this fix?

[2016-07-16 14:24] DarkmatterVale commented on #280
Can someone please verify this?

[2016-07-16 14:24] DarkmatterVale commented on #276
Ah rip yes I will take another look this weekend.

[2016-07-16 14:25] DarkmatterVale commented on #274
Can someone please verify?

[2016-07-16 15:24] #306 closed

[2016-07-16 15:24] #371 closed

[2016-07-16 17:06] cbradyatinquire commented on #280
Verified - this works as intended/expected.  Thanks!

[2016-07-16 18:58] DarkmatterVale commented on #382
Yes, this is pretty easy to do.

[2016-07-16 18:59] DarkmatterVale commented on #251
I don't really know how to implement this block. @cbradyatinquire Would you like to try to make the block?

[2016-07-16 19:42] cbradyatinquire commented on #251
sure - though it might not be the first thing to do, due to the complexity & importance of getting it right.  it depends on / contributes to a set of "collections-like" functionality.  list-like things.  make a list, sort a list, iterate over a list, etc.  these are really fundamental pieces of functionality - if there are existing Propeller-C libraries that do this, we can borrow.  (?)

[2016-07-16 19:58] DarkmatterVale commented on #336
I'm gonna hand this over to @michel-cf because this is more of an internal blocky issue I believe.

[2016-07-16 20:25] CarsonGracey commented on #372
This is what @kgracey meant

[code]

[2016-07-16 21:34] michel-cf commented on #321
I've gotten this far:
![image](https://cloud.githubusercontent.com/assets/5745991/16897308/983442d8-4bad-11e6-8336-1cb92db8b3c2.png)
![image](https://cloud.githubusercontent.com/assets/5745991/16897311/a6360aba-4bad-11e6-8d90-11761088ef9b.png)
[code]

[2016-07-17 13:51] DarkmatterVale commented on #276
I think this has been fixed, can someone else verify?

[2016-07-17 13:59] DarkmatterVale commented on #317
@cbradyatinquire Ok so after more extensive testing I don't think I can 'fix' this. The issue I run into is the fact that the value I give the block (in this case 'high'), does not translate into a 1 or a 0. Instead, the displayed value is the same as the value within the block initially. How would you like me to proceed? Remove the high/low block and leave that value field empty?

[2016-07-17 14:04] DarkmatterVale commented on #363
Can we merge @michel-cf's current work into master? I'm gonna vote yes, so only one more person needs to verify

[2016-07-17 14:06] DarkmatterVale commented on #372
I'm gonna need a little guidance here because I'm not sure I can make ```cpal = colorPal_open(cpSIO);``` go into the checkColor() function. I believe however, that the program still works if ```cpal``` is initialized before ```cog_run(checkColor, 128);```? Would it be alright to leave ```cpal = colorPal_open(cpSIO);``` at the beginning of ```main()```?

[2016-07-17 14:15] kgracey commented on #372
If it compiles, putting it at beginning of main() is fine. Yes!

Sent from my iPhone

[2016-07-17 14:15] kgracey commented on #363
Yes :)

Sent from my iPhone

[2016-07-17 14:19] cbradyatinquire commented on #317
I think that there might be two options.  First, leaving it blank could work (but I expect that people will try to put other values in it (true/false, 0/1) - all of which will WORK (right?) but be odd and maybe bad for regularity of future coders' practice.

Second, in the block values code, if i remember correctly, there are always a series of pairs of values.  I had always assumed that those wer

[2016-07-17 14:19] DarkmatterVale commented on #376
@CarsonGracey Where should I put the block? Does a new category "OLED" in Communicate work?

[2016-07-17 14:55] kgracey commented on #376
Yes, that's the best place.

Sent from my iPhone

[2016-07-17 14:56] kgracey commented on #376
Sounds great, like the S3 drive blocks.

Sent from my iPhone

[2016-07-17 16:21] DarkmatterVale commented on #363
@michel-cf Can you create a PR & merge it?

[2016-07-17 17:46] michel-cf commented on #363
It's only a minimal implementation and the other categories in the C editor and all of them in the Spin editor still need to be configured.

[2016-07-17 18:07] PropGit commented on #363
Please create another issue to finalize the colors if the current work is
being merged in .

On Jul 17, 2016 10:46 AM, "michel-cf" <notifications@github.com> wrote:

[2016-07-17 19:23] michel-cf commented on #370
@zfi Fixed, but is part of Cloud-compiler. I'm not sure that gets deployed automatically in demo.

[2016-07-17 19:38] DarkmatterVale commented on #363
Ah, I was going to create a PR but I saw that the branch was rebased to demo (I presume to fix the merging problems I am also seeing). Instead of attempting to clean the branch up, I'm going to take the changes and reapply them on my branch as well as create colors for the remaining categories.

[2016-07-17 20:13] DarkmatterVale commented on #317
Yes, all of those will work. I agree that it may be be a little odd to use true/false or 0/1.

I'm not sure, but I believe the generator code for the high/low block is not being called at all. @michel-cf Is that correct? If it is not correct, do you have any idea why I am unable to properly set a high/low value?

[2016-07-17 20:53] DarkmatterVale commented on #372
Please let me know if you like the new look more.

[2016-07-17 21:38] cbradyatinquire opened #396 "Comment block causes compile error"
The screenshots below give an example of this bug in blocks & code:

<img width="175" alt="screen shot 2016-07-17 at 4 35 37 pm" src="https://cloud.githubusercontent.com/assets/769072/16903192/cf61d970-4c3c-11e6-9061-868cd2cf850b.png">

<img width="282" alt="screen shot 2016-07-17 at 4 36 04 pm" src="https://cloud.githubusercontent.com/assets/769072/16903193/d4158994-4c3c-11e6-8242-6567c954d9d7.pn

[2016-07-17 23:10] DarkmatterVale commented on #364
This should be a pretty simple thing to fix. It appears you have an alert() call within the javascript somewhere...

[2016-07-18 07:56] michel-cf commented on #396
Having seen this block for the first time, this block is confusing to me. Can't we add some text in front of the input field to show this is a comment block?

[2016-07-18 09:52] zfi commented on #396
+1
A first read of the blocks led me to believe that "hello there" was a function call, not a comment.

[2016-07-18 11:06] DarkmatterVale commented on #396
What text would you like me to add?

[2016-07-18 15:39] kgracey commented on #396
How about naming the block “Add Comment” and give it a big free-form text field on the right?

Ken Gracey
graceyken@gmail.com

[2016-07-18 17:54] zfi commented on #370
@michel-cf The auto deploy for Cloud Compiler is off while we move the load testing graphics out of the project root. Now that is done, I can enable automation.

[2016-07-18 18:52] CarsonGracey opened #398 "RGB OLED: Draw Circle"
I am going to submit a few drawing requests for the OLED, all of theses requests could be put into a single block with mutations. Until I learn how to make mutations I'll submit some as single blocks.

![draw](https://cloud.githubusercontent.com/assets/20099916/16925991/b0d73366-4cdb-11e6-84a6-703e8517dac0.PNG)

The empty spots in the block could default to a number of have a variable plugged in.

[2016-07-18 19:07] CarsonGracey commented on #329
We get closer every time, but now the top print block is capitalized.

![print fix](https://cloud.githubusercontent.com/assets/20099916/16926996/2aaa4b48-4ce0-11e6-8964-5bdb36217ca5.PNG)

[2016-07-18 19:35] zfi opened #399 "Compile empty project is marked as successful"
Discovered that the compiler does not complain when asked to compile an empty project.  Under normal conditions, the compiler will complain about such things. Perhaps we should be nice and suggest that there is nothing to compile?

![screen shot 2016-07-18 at 12 29 17](https://cloud.githubusercontent.com/assets/8442260/16927689/7f9d1bdc-4ce3-11e6-9722-40aacb8342ba.png)

[2016-07-18 20:13] michel-cf commented on #399
A C project without any blocks contains underlying code, and as such is fine to compile.
@cbradyatinquire @PropGit @kgracey @DarkmatterVale What do you all think?

```#include` "simpletools.h"

int main()
{

}
[code]

[2016-07-18 20:13] CarsonGracey opened #400 "RGB OLED: Draw Rectangle/Round Rectangle"
This block will be able to draw and fill rectangles and round rectangles. The color list that will need to be included are referenced in #398

![rectangle](https://cloud.githubusercontent.com/assets/20099916/16928509/e51e936a-4ce7-11e6-9eb3-23e5d9fe4ec7.PNG)

The first drop down will have the options rectangle, and round rectangle. It will also be able to create four different functions.

rectangl

[2016-07-18 20:28] CarsonGracey opened #401 "RGB OLED: Draw Triangle"
This block will be able to draw and fill triangles. The color list that will need to be included are referenced in #398

![triangle](https://cloud.githubusercontent.com/assets/20099916/16929070/cf861cb4-4cea-11e6-91d2-72d9249cbe59.PNG)

The user with be able to input an x and y value for each of the three points. There is also a checkbox for a total of two functions.

triangle, checkbox:

[code]

[2016-07-18 20:42] CarsonGracey opened #402 "RGB OLED: Draw Pixel"
This block will be able to draw a single pixel. The color list that will need to be included are referenced in #398

![pixel](https://cloud.githubusercontent.com/assets/20099916/16929500/e8030b24-4cec-11e6-81f8-50ffcc8dc345.PNG)

The two inputs will be the x and y coordinates at which the pixel will be drawn and its color. It will generate the code:

[code]

Here is the link to the block in block

[2016-07-18 20:45] cbradyatinquire commented on #400
Are we going to have PARALLEL blocks for the (non-RGB) OLED?  These would be VERY cool to have.

[2016-07-18 20:46] kgracey commented on #399
Hmm. Maybe it compares the underlying code and then says "Nothing to compile".

[2016-07-18 20:47] CarsonGracey opened #403 "RGB OLED: Draw Line"
This block will be able to draw a line. The color list that will need to be included are referenced in #398

![line](https://cloud.githubusercontent.com/assets/20099916/16929717/d6bda634-4ced-11e6-809d-c0be7e4a5c6f.PNG)

The inputs will be the first and second points of the line along with the color. It will generate the code:

[code]

Here is the link to the block in block factory: https://blockl

[2016-07-18 20:49] kgracey commented on #400
Do you mean a block that has two X,Y sets plus an offset for a parallel line of the same color?

[2016-07-18 21:00] MatzElectronics commented on #400
Careful!

Rounded rectangles take one more parameter - the radius of the rounded corner.  One idea is to make it a fixed amount (maybe 10 or 20% of the average side length?).

**oledc_fillRoundRect(int x, int y, int w, int h, (w+h)/20, int color);**

[2016-07-18 21:03] MatzElectronics commented on #398
A color picker could be used, and then the oledc_color565() function can get it in the correct format:

**oledc_fillCircle(int x0, int y0, int r, oledc_color565(int RED, int GREEN, int BLUE));**  where RED, GREEN, and BLUE are 0-255.

[2016-07-18 21:11] CarsonGracey commented on #400
Thanks @MatzElectronics, I fixed that in my code to be 20% fixed value.

[2016-07-18 21:14] MatzElectronics commented on #400
Sounds good - won't hurt to experiment with it... anything from (w+h)/20 to (w+h)/60...whatever looks best.

[2016-07-18 21:17] MatzElectronics commented on #400
@cbradyatinquire - We could, some of the drawing primitives exist in the badge code (pixel, line), but others don't, so those functions either need to be added or generated by the blockly code - that being said, the code is inside of this OLED library to do just that.

[2016-07-18 21:19] CarsonGracey commented on #398
@DarkmatterVale, would we be able to use blockly's default color picker and use its RGB values for this?

![color](https://cloud.githubusercontent.com/assets/20099916/16930789/9b776e48-4cf2-11e6-86e9-863f55e78205.PNG)

[2016-07-18 21:19] MatzElectronics commented on #376
The "None" option got missed... I think it should be there.  Selecting no large font could save almost 3KB of program space, and no medium font about 2KB once the never GCC compiler begins being used.

[2016-07-18 21:20] MatzElectronics commented on #398
Should be albe to, look at my comment about masking and shifting - I've
done it in JavaScript before.

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzElectronics>

On Mon, Jul 18, 2016 at 2:19 PM, CarsonGracey <notifications@github.com>
wrote:

[2016-07-18 21:22] MatzElectronics commented on #398
Here is the code for oledc_color565 - you could use the same math to
generate the r5g6b5 integer code directly in Javascript:

unsigned int oledc_color565(char r, char g, char b) {

unsigned int c;

c = r >> 3;

c <<= 6;

c |= g >> 2;

c <<= 5;

c |= b >> 3;

return c;

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http

[2016-07-18 21:27] CarsonGracey commented on #376
I agree that would be very helpful to add at the top of the fonts list and maybe set it to a default that doesn't include any of the medium or large font libraries.

[2016-07-18 21:35] cbradyatinquire commented on #400
@kgracey, no i meant parallel functionality in monochrome for the badge OLED
@MatzElectronics - cool: thanks

[2016-07-18 21:38] kgracey commented on #400
Aha, yes! We need to meet up with you about the HEB so we can contribute to those blocks as well as the others. It would be helpful to know where we’ve been, where we are, and where we need to go.

I was thinking that you, Roxy, Carson and I could meet up on Wednesday - would that work?

Ken

[2016-07-18 21:59] CarsonGracey opened #406 "RGB OLED: Set Text Color"
This block with set the font color and the background (highlighting) to be used.

![font color](https://cloud.githubusercontent.com/assets/20099916/16931850/e4fb4738-4cf7-11e6-868f-aa2ea0dbb352.PNG)

Parameters:
**c** 	Color of the font, in r5g6b5 format.
**b**	Color of the font's background, in r5g6b5 format. To make the background transparent, set to the same color as the font itself.

Code prod

[2016-07-18 22:11] CarsonGracey opened #407 "RGB OLED: Set Text Size"
Sets the size of the font to be used. Range is from 1 to 3. Size (1) is 5x7 (6x8 spacing) pixels, size (2) is 11x15 (12x16 spacing) pixels and size (3) is 15x23 (16x24 spacing) pixels.

![text size](https://cloud.githubusercontent.com/assets/20099916/16932163/83d073e6-4cf9-11e6-89de-997e3f04973b.PNG)

The produced code will be:
[code]

Here is the link to the block in block factory: https://blockl

[2016-07-18 22:21] CarsonGracey commented on #396
Verified works, could use the change mentioned by @kgracey

[2016-07-18 22:22] CarsonGracey commented on #384
Tested and Verified.

[2016-07-18 22:25] CarsonGracey commented on #383
It looks like the public profile menu option is still appearing in demo.

[2016-07-18 22:27] CarsonGracey commented on #382
Tested and Verified.

[2016-07-18 22:32] CarsonGracey commented on #372
Tested and Verified.

[2016-07-18 22:35] CarsonGracey commented on #363
Tested and Verified.

[2016-07-18 22:37] CarsonGracey commented on #344
Tested and Verified.

[2016-07-18 22:39] CarsonGracey commented on #340
Tested and Verified.

[2016-07-18 22:43] CarsonGracey commented on #338
Tested and Verified.

[2016-07-18 22:44] CarsonGracey commented on #337
Tested and Verified.

[2016-07-18 22:44] CarsonGracey commented on #334
Tested and Verified.

[2016-07-18 22:47] CarsonGracey commented on #314
Tested and Verified.

[2016-07-18 22:48] CarsonGracey commented on #313
Tested and Verified.

[2016-07-18 22:49] CarsonGracey commented on #312
Tested and Verified.

[2016-07-18 22:50] CarsonGracey commented on #310
Tested and Verified.

[2016-07-18 22:50] CarsonGracey commented on #309
Tested and Verified.

[2016-07-18 22:52] CarsonGracey commented on #304
Tested and Verified.

[2016-07-18 22:55] CarsonGracey commented on #290
Tested and Verified. (the RFID close fix was here #338 )

[2016-07-18 22:56] CarsonGracey commented on #279
Tested and Verified.

[2016-07-18 22:58] CarsonGracey commented on #276
Tested and Verified.

[2016-07-18 22:59] CarsonGracey commented on #274
Tested and Verified.

[2016-07-19 00:41] zfi commented on #399
I had that in mind when I encountered this situation. A gentle reminder that we have no code to work with. Does the app maintain a list or collection of blocks in the project? If the list is empty, there is no need to round-trip to the cloud compiler.

[2016-07-20 01:22] kgracey opened #408 "Graphic for Blockly landing page"
@michel-cf and others - could we replace the wall of text on the Blockly landing page with a graphic? Students don't read the text and the Learn.parallax.com site will have written tutorials. We could start with this and change/improve as launch is closer.
![blocklyprop071916](https://cloud.githubusercontent.com/assets/9534148/16972095/ace8d9dc-4ddd-11e6-9d21-90256b205e90.png)
![blocklyprop-screen

[2016-07-20 04:18] zfi commented on #408
Can the graphic treatment be minimized so as to not impact the load time for the home page? We should keep the load time to about 100ms, 200ms max.

[2016-07-20 04:19] kgracey commented on #408
Sure - what kind of file size would be appropriate?

[2016-07-20 15:47] kgracey commented on #408
Checked with JenJ and she says she's already optimized this graphic, so we can use it. Valid concerns; let's see how it works in practice.

[2016-07-20 16:15] zfi commented on #408
The home page load time is holding at about .8 seconds when tested from endpoints using DSL (slow) to fiber. Go ahead and drop in the graphics and I will retest.

[2016-07-20 16:22] CarsonGracey opened #409 "S3 Sound Block"
@dcarrier-parallax,
I talked with @kgracey about this block and we came up with a few changes to make it easier to use.

![sound](https://cloud.githubusercontent.com/assets/20099916/16993304/9b2af02a-4e57-11e6-88d3-8db862185201.PNG)

The first thing would be to set the range of the sound to ~2,000 Hz, because anything higher than this doesn't really increase the pitch, the sound just because more

[2016-07-20 17:23] dcarrier-parallax commented on #409
Because the blocks accepts variables, I cannot limit the input range, but I can clip it at 2,000 Hz, so that anything higher will play a 2,000 Hz.

Polyphony is part of the educational materials we use, (See: Chapter 8: Frequency and Sound on page 245 of What's a Microcontroller) but I could also make a monotone block, to take up less space.

Volume is available in the Scribbler object, but I have

[2016-07-20 17:28] kgracey commented on #409
Understood. I’m aware of polyphony and mixed frequencies, but this is a first robot experience so we need to keep it simple. All three people who’ve initially worked with the dual-frequency blocks found them unnecessarily confusing. In keeping with the idea that the tool explains itself and that the target audience is familiar with single frequencies from their music courses (i.e. my trumpet range

[2016-07-20 20:00] wstodghill commented on #409
Volume set would be a great help in a class setting (and in the evening when I am experimenting at home when everyone is sleeping!) . As David mentioned it is available or was in the S2 Spin Object (which is the one I know). Is there a new S3 spin object somewhere for me to take a look at? I would love to understand better how to contribute BlocklyProp development for the S3.

[2016-07-20 20:50] CarsonGracey opened #410 "Changes to XBee Block Code"
![xbee init](https://cloud.githubusercontent.com/assets/20099916/17002195/07b7a004-4e7f-11e6-8c18-0e139990d687.PNG)

This block needs two changes in its produced code to be fully functional.

### Blockly Code
[code]

The space between the * and xbee needs to be removed; ```fdserial *xbee``` instead of ```fdserial * xbee```.
Next, the DO and DI pin#'s need to be switched around since in the code, D

[2016-07-20 20:50] kgracey commented on #409
@dcarrier-parallax agreed with Whit+ and countless others who want volume control. Please provide access to volume for us. @wstodghill I'll send you the S2 code base via e-mail.

[2016-07-20 20:54] wstodghill commented on #409
@kgracey I assume you mean S3 code base.

[2016-07-20 20:56] kgracey commented on #409
I do, but I believe we haven’t actually renamed it “S3” at this point.

[2016-07-20 20:57] wstodghill commented on #409
@kgracey understood.

[2016-07-21 03:25] wstodghill commented on #410
@CarsonGracey - Good catches! You guys are doing great work!

To be sure I understand, you are making sure the DI and DO pin# placement on the block is logically consistent with the fdserial.h order of placement for the rxpin and txpin variables. This is not just getting the right variable to the right spot, but so that students learn the order of input in a consistent fashion - is that correct? A

[2016-07-21 17:19] CarsonGracey commented on #410
That's actually right, we could remove the IO pin choices for the S3 since they are always tied to 31 and 30. Also @wstodghill, we did have the block lock the baud rate at 9600 but we will make it so it can be selected in the future.

[2016-07-21 18:53] wstodghill commented on #410
@CarsonGracey - Thanks!

[2016-07-21 19:26] PropGit commented on #264
There is something wrong still.  May by related to later updates as on 7/21/16?

I created this program:  http://demo.blockly.parallax.com/blockly/projectlink?id=70&key=d8e98aaa-c37b-4c8f-ad90-03b764fd7915

That looks like this:
![image](https://cloud.githubusercontent.com/assets/1266318/17035817/4e634354-4f3e-11e6-9468-c0352a812c81.png)

And it generated this code:
![image](https://cloud.githubus

[2016-07-21 20:34] RoxyH opened #413 "S3 Motor block problem"
@dcarrier-parallax  When the time entered is over 8700, the robot goes backwards, but with any value under 8800. We verified this on Ken's robot.
This code works
![snip](https://cloud.githubusercontent.com/assets/20117435/17037737/3063bde4-4f47-11e6-8778-02aef300eb9f.PNG)
This code does not.
![snip 2](https://cloud.githubusercontent.com/assets/20117435/17037800/7923f4d6-4f47-11e6-8a70-431e83d58ad8

[2016-07-21 22:58] #301 closed

[2016-07-21 22:59] DarkmatterVale commented on #329
I'm not sure why this is happening because it is correct on my dev setup. I suspect this is one of the first issues that we see with the Demo system "diverging" from the development setups. This is caused by all of the required rebasing and changes locally. I unfortunately do not know how to fix this because it works fine on my end.

[2016-07-21 23:11] PropGit commented on #321
@michel-cf  - That's starting to look great.
I noticed the __Serial lear__ block - is that the same as would be __Serial transmit control character "cls"__?

Be careful to make the block consistent with capitalization, following the other blocks' examples.

@kgracey - I'm wondering if it'd be better to just have a __serial "control"__ block whose control list includes _clear_, _carriage return_, _

[2016-07-21 23:21] DarkmatterVale commented on #341
I believe this has been verified but can someone please give me a written "acknowledgment of verification" please?

[2016-07-21 23:22] DarkmatterVale commented on #376
Gotcha I'll add it right away.

[2016-07-21 23:23] DarkmatterVale commented on #396
Gotcha.

[2016-07-21 23:30] DarkmatterVale commented on #376
Just updated

[2016-07-21 23:31] DarkmatterVale commented on #396
Fixed

[2016-07-21 23:41] DarkmatterVale commented on #307
Can someone please verify?

[2016-07-21 23:47] DarkmatterVale commented on #317
bump

[2016-07-21 23:48] MatzElectronics commented on #376
Thanks!  Unfortunately I'll be changing the structure of this soon :(  The
fonts are taking up too much memory, so I'm going to write a program that
loads them all into EEPROM, and the library will just grab them from
there.  More info to come...

Thanks!
Matt

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitte

[2016-07-22 00:16] #280 closed

[2016-07-22 00:16] DarkmatterVale commented on #280
This was already merged into master, I'm not sure how long ago though...

[2016-07-22 00:17] DarkmatterVale commented on #279
This was fixed in a number of other commits and I believe it has already been pushed into master.

[2016-07-22 00:17] #279 closed

[2016-07-22 00:23] DarkmatterVale commented on #274
I believe this has been merged into master, because I see the code is correct. However, when I go to the official BlocklyProp site, I do not see the change in place (this could be because automatic builds of the main branch have not begun yet I believe).

If this issue persists on the main branch, please create a new issue or re open because I believe this has been fixed.

[2016-07-22 00:23] #274 closed

[2016-07-22 00:28] DarkmatterVale commented on #264
As with a few of the other issues I recently closed, I believe this change has been pushed to master, which you can see here https://github.com/parallaxinc/BlocklyProp/blob/master/src/main/webapp/cdn/blockly/generators/propc/hackable_electronic_badge.js#L82 and https://github.com/parallaxinc/BlocklyProp/blob/demo/src/main/webapp/cdn/blockly/generators/propc/hackable_electronic_badge.js#L82

[2016-07-22 00:28] #264 closed

[2016-07-22 03:23] wstodghill commented on #413
@CarsonGracey - There was a maximum time limit of 5 seconds in the old GUI Program Maker  - BlocklyProp will have a maximum time limit of 15 seconds? What drives these limits? Is the issue in the Spin Object (don't know why...)?

[2016-07-22 03:26] wstodghill commented on #408
I think this looks great and it loads instantly, but I do use a cable modem.

[2016-07-22 11:01] michel-cf commented on #321
There was no control character in the list:
![image](https://cloud.githubusercontent.com/assets/5745991/17055292/2427aff2-500c-11e6-87aa-816ca373442b.png)

And while going through the Parallax Serial Terminal object, I noticed the clear method. So I called that one.

[2016-07-22 14:28] michel-cf commented on #317
I've just tested this out (first time using the HEB) and it all seems to work.

@DarkmatterVale What is the problem? What is missing?

[2016-07-22 14:47] PropGit commented on #384
I concur.

[2016-07-22 15:12] PropGit commented on #376
@MatzElectronics - Will your changes be _today_?  Next week?  Need to know if we should verify this as fixed (for now) so as not to hold up PR's that reference it.

[2016-07-22 15:15] MatzElectronics commented on #376
I'd like them to be today, but early next week is more realistic.

For now, I'd work on any blocks that are non-text related and on building
the mechanism that allows the color picker to be used as those this will
not be affected by any changes I make.

On Jul 22, 2016 8:12 AM, "Parallax Git Administrator" <
notifications@github.com> wrote:

[2016-07-22 15:17] PropGit commented on #341
@CarsonGracey or @kgracey - Before verification, are we waiting for [the suggestion in Issue # 396](https://github.com/parallaxinc/BlocklyProp/issues/396#issuecomment-233367073) to be implemented first?

[2016-07-22 15:20] kgracey commented on #376
Can we get any OLED blocks working in entirety today with the prior code submitted?

[2016-07-22 15:29] kgracey commented on #376
I’m out of phase with the exact issue at this stage - do Carson, Vale and MattM know what needs to be accomplished? Are we all on the same page?

[2016-07-22 15:41] PropGit commented on #399
What this issue comes down to is, there's no code to execute and there will be no visible effect from the Propeller if it were compiled and downloaded to the Propeller.

Still, I like the idea of a "Nothing to compile" message if the top-level code is devoid of any executable code; however, it may be nontrivial for the BlocklyProp app to determine this.

[2016-07-22 15:54] michel-cf commented on #399
A basic version of this has now been implemented.

[2016-07-22 16:37] MatzElectronics commented on #376
For the init block, we just need to remove the font setting stuff, and just let it run the oledc_init funtion:

![image](https://cloud.githubusercontent.com/assets/19737272/17064139/df695080-4fef-11e6-863c-0ab81696b5d2.png)

Here is the block factory for it:
https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#q973p5

[2016-07-22 16:45] PropGit commented on #399
Verified.

[2016-07-22 17:31] CarsonGracey opened #419 "Serial Terminal Wrapping"
![serial terminal](https://cloud.githubusercontent.com/assets/20099916/17065414/83458c54-4ff6-11e6-8761-6491c4a91a51.PNG)

Currently the message output to the serial terminal doesn't wrap at all without a carriage return. It would limit it to print within the actual terminal size.

[2016-07-22 17:33] CarsonGracey opened #420 "Serial Terminal NaN"
After reloading a program which displays text onto serial terminal the serial terminal would not open. Instead I would get a message that said "NaN" on a white background.

[2016-07-22 17:36] kgracey opened #421 "S3 blocks: reorganize the menu"
@dcarrier-parallax please rearrange the S3 block menus as follows:

Main menu (all first-order, visible upon entry)

Control
Operators
Values
Variables
Pin States
Motors (move the "set left" and "set right" motor blocks from Scribbler 3 / Actions to here)
LEDs (move the "set the" LED color from Scribbler 3 / Actions to here)
Sound (move the "play a tone" blocks from Scribbler 3 / Actions to here)

[2016-07-22 17:42] kgracey commented on #413
We have no specific reason why it was set at 15000 - we have asked @dcarrier-parallax to look into this and tell us what the maximum limits could be so we can continue to design our tutorials with this block fixed.

@dcarrier-parallax - how about just setting this at 5,000 since we know it works? We can use the Delay block for longer wait times.

[2016-07-22 17:49] CarsonGracey commented on #307
Tested and Verified.

[2016-07-22 17:55] dcarrier-parallax commented on #421
Those menu items are mostly generic Spin blocks.  If the user selects the "S3 Robot" as the board type, the menu will contain all of the generic Spin blocks, plus the blocks unique to the Scribbler 3.

I have not messed with the board type filtering yet, so you may see blocks that do not match the board type, but that will be corrected before we release the Scribbler 3.

As for the menu, we need t

[2016-07-22 18:00] kgracey commented on #421
Right, gotcha on how the blocks are presented based on the choice of board (or robot, in this case).

As this is certainly a work in motion I do expect that future revisions will occur to the block structure heiarchy. At present, we are creating tutorials that refer to specific locations of blocks within the menu so we need them to settle into place so we can continue working. The S3s arrive third

[2016-07-22 18:01] PropGit commented on #419
@CarsonGracey - This is probably because in Issue #321 (specifically in [this post](https://github.com/parallaxinc/BlocklyProp/issues/321)) where I specified that it should make each line capable of displaying up to 256 charaters (corresponding to columns 0 through 255) with a horizontal scroll bar displayed when there's more to see on the right side.  This is with the intention that the terminal

[2016-07-22 18:19] CarsonGracey opened #422 "RGB OLED: Font Loader"
This block will be special for the OLED as it has no connections and must be loaded on its own into EEPROM.

![font loader](https://cloud.githubusercontent.com/assets/20099916/17066860/cb2528de-4ffd-11e6-91d6-7b4333deea00.PNG)

It will generate this code and download the library (which is still being developed):

[code]

Block factory link: https://blockly-demo.appspot.com/static/demos/blockfactor

[2016-07-22 18:36] kgracey commented on #422
OK, I understand how this works and we can certainly document the OLED use this way: run a program with this block and then create a new code to do what you want with the OLEDs. This block just lives "on his own" so to speak.

[2016-07-22 19:14] CarsonGracey opened #423 "RGB OLED: Clear Screen"
This will be the next OLED block request the will clear the entire screen by drawing a black rectangle.

![clear screen](https://cloud.githubusercontent.com/assets/20099916/17068351/4452d7a4-5005-11e6-8bac-da4ff58df2b2.PNG)

Generated code:

[code]

Link to block in block factory: https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#sj5cte

[2016-07-22 19:23] MatzElectronics commented on #423
Sure, it should look like this:

oledc_clear( 0, 0, oledc_getWidth(), oledc_getHeight() );

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzElectronics>

On Fri, Jul 22, 2016 at 12:14 PM, CarsonGracey <notifications@github.com>
wrote:

[2016-07-22 19:47] wstodghill commented on #421
I have not seen it yet, but will there be a comment block. I know that this might not be used by students, but it would be great for example programs and teaching.

Will the ability to disable a block and collapse block be available in all the boards and at least the S3 uses? Again, I can see great benefit for these functions for education purposes - we just need to teach folks how to use them!

[2016-07-22 20:00] CarsonGracey commented on #423
I'll edit that in, thanks!

[2016-07-22 20:47] wstodghill opened #424 "motor block "naming""
Since we are contemplating S3 "motor" blocks based  Speed and Time and another based on Speed and Distance - I am wondering if we should - under the motor category - have two "movement" blocks - a "speed/time movement" block and a "speed/distance movement" block? These names would describe that they were about motor and S3 movement and the variable values that could be entered.

Although the time

[2016-07-22 21:43] #329 closed

[2016-07-22 21:44] #304 closed

[2016-07-22 21:44] #309 closed

[2016-07-22 21:44] #310 closed

[2016-07-23 13:19] CarolHazlett opened #425 "Lost BlocklyProp Link"
I can no longer access BlocklyProp. I was getting to it by launching BlocklyPropClient, clicking on "connect" and when server started, clicking on launch web browser. Now all I get is a blank screen. What am I doing wrong now?

[2016-07-23 13:37] DarkmatterVale commented on #425
Hmmmm...I'm also getting a blank page for the main BlocklyProp site. It appears to be an unrelated issue. In the meantime, here is the link to BlocklyProp's demo site which is still up and running http://demo.blockly.parallax.com/blockly/ and the

[2016-07-23 13:39] DarkmatterVale opened #426 "Main BlocklyProp website is down"
Is anyone else getting a blank page when attempting to go to http://blockly.parallax.com ?

[2016-07-23 13:39] DarkmatterVale commented on #408
I am also getting a super fast load.

[2016-07-23 13:41] DarkmatterVale opened #427 "Attempting to create pointers generates incorrect code"
Whenever I attempt to add ```*``` symbols to variables, a space is added after the star. @michel-cf Do you know why this happens? It is not a problem in the block code which makes me think something has been configured incorrectly somewhere else...

[2016-07-23 13:43] DarkmatterVale commented on #403
Are the colors numbered 0 for WHITE, 1 for PINK, etc?

[2016-07-23 13:44] DarkmatterVale commented on #398
I'm not sure...Do I need to specifically list the colors available to the user, or can we just let them pick from the standard list of colors available?

[2016-07-23 13:44] cbradyatinquire commented on #426
Yes (8:45 AM Central 7/23)

[2016-07-23 13:52] DarkmatterVale commented on #398
Ok so after looking up how to use color picker, I definitely think we can do that. However, I need the hexadecimal or RGB values for all of the colors you would like put into the color picker, as well as the number of columns (for colors) you would like to see when you select it.

[2016-07-23 14:08] DarkmatterVale commented on #317
The value generated should not be ```high``` but instead it should be ```1```, which is what the value ```high``` translates to if you place the block yourself...

[2016-07-23 14:40] wstodghill opened #428 "Demo BlocklyProp not Loading to S2"
Since the update, Demo BlocklyProp is not loading to my S2. Is is me?

[2016-07-23 14:43] CarolHazlett commented on #428
Having the same problem with both S2 and S3.

On Sat, Jul 23, 2016 at 7:40 AM, Whit <notifications@github.com> wrote:

--

In the birthing of any machine there is that moment when it actually works.
It is always fresh and astounding for me..........................Red
Whittaker
Carol Lynn Hazlett
33801 55th Ave So
Auburn, WA 98001
(253) 653-6384
carolhaz391@gm <carolhaz391@gmail.com>ail.com
facebo

[2016-07-23 14:49] DarkmatterVale commented on #396
The issues have been resolved in the most recent PR to the demo branch. I believe the issue should be finally there...

[2016-07-23 14:49] DarkmatterVale commented on #376
The block has been updated

[2016-07-23 14:51] DarkmatterVale opened #430 "Casting block(s)"
This will give users the ability to force BlocklyProp to set a variable to a specific type.

[2016-07-23 15:00] kgracey commented on #428
Haven't tried yet - maybe this afternoon!

Sent from my iPad

[2016-07-23 15:05] kgracey commented on #430
What! Whoa! Another level of programming was just enabled.

Sent from my iPad

[2016-07-23 15:40] michel-cf commented on #425
Duplicate: #426

[2016-07-23 15:40] #425 closed

[2016-07-23 18:24] CarsonGracey commented on #396
Tested and Verified.

[2016-07-23 18:41] DarkmatterVale commented on #341
#396 has been verified

[2016-07-23 19:00] CarsonGracey commented on #376
The block almost works but I forgot to add a very important detail, this block needs to add the library
[code]

[2016-07-23 20:16] MatzElectronics commented on #376
Okay, don't hate me, but when I update the library next week, I'd like to
reorder the pins on this block to match the pins on the module itself.
Currently, this is the order:

CS, D/C, DIN, CLK, RES

I'd like to change it to:

DIN, CLK, CS, D/C, RES

Please let me know if this it too much of a problem, and we can discuss it
further.  I think this change will make it a lot easier to hook up because

[2016-07-23 21:04] CarsonGracey commented on #428
It seems to me that every block is compiling and downloading, the only problems are the three motor drive blocks. Everything else is running besides those three.

[2016-07-23 21:40] CarsonGracey opened #431 "S3 Volume Block"
![s3 volume](https://cloud.githubusercontent.com/assets/20099916/17080329/c1a84c86-50df-11e6-932e-44b7fdefdf4a.PNG)

I'm assuming this is the correct usage of the volume block for the S3 and if so, it does not change the volume. Every value such as 0, 50, and 100 all are the exact same. @dcarrier-parallax, do you know the potential cause of this?

[code]

[2016-07-23 22:16] kgracey commented on #431
Try putting the block after the sound.

Sent from my iPhone

[2016-07-23 22:19] CarsonGracey commented on #431
Still the same volume all the way through.

[2016-07-24 00:42] wstodghill commented on #428
@CarsonGracey - I believe you are correct sir. That was my experience this a.m. - but I did not realize that was the problem since everything I was trying to load was motor related!

[2016-07-24 00:53] wstodghill commented on #421
Per my comment above - Just found this on @kgracey's Color identifier and transmitter, community project over at the Demo site.

Here is a clip.
![describe clip](https://cloud.githubusercontent.com/assets/8891440/17081075/b2c39728-510e-11e6-8fc4-3164a68cc10f.PNG)
How is this done. I have not found that feature in any of the choices. It is exactly what I was looking for... It could be used as a poi

[2016-07-24 01:16] wstodghill commented on #431
@CarsonGracey - This code works on my S2 - Can't wait to play with the Greeny!

http://demo.blockly.parallax.com/blockly/editor/blocklyspin.jsp?project=97#

[2016-07-24 01:53] wstodghill commented on #428
Okay! Did some experimentation. Looks like the motor speeds are off by a factor of 10. So, at a value of 100 for the speed, I was getting something more like 10 - so I entered a value of 1000 and also tried -500 and it worked. Looks like a block coding issue, I think.

[2016-07-24 02:40] wstodghill commented on #426
Still down here (9:40 p.m. Central 7/23).

[2016-07-24 02:53] wstodghill commented on #421
I'd like to say a word about a sub-set of the S3 blocks that has similar functionality to the old GUI program maker (plus a bit - like the volume control and more) This would be for new users and "seem" less complex. The full set of blocks could be used by selecting the advances user option. This would grow to blockly access to all the methods (or most all) in the S3 Spin Object. S2 users would ha

[2016-07-24 23:32] drpiccioni opened #432 "User-defined functions with inputs don't compile (Spin project)."
When I try to compile drpFunctionTesting (which includes three user-defined functions), I get:

**Propeller Spin/PASM Compiler 'OpenSpin' (c)2012-2014 Parallax Inc. DBA Parallax Semiconductor.
Version 1.00.71 Compiled on Nov 15 2014 08:45:10
Compiling...
/tmp/tmpjbCqVk/single.spin
|-Block_Wrapper.spin
  |-scribbler.spin
/tmp/tmpjbCqVk/single.spin(6:26) : error : Expected BYTE, WORD, or LONG
Line:

[2016-07-24 23:56] kgracey commented on #432
Thanks Richard - we’re aware of this as the motor blocks are in a state of transition until Wednesday. Thanks for reporting (and continue to do so, especially from Wednesday on).

[2016-07-24 23:58] zfi commented on #427
Is this C or Spin code?  In C, the white space is ignored. The code should still compile as a pointer.

[2016-07-25 02:51] zfi commented on #426
The site is back on-line. There is an occasional memory event that is causing the heap to become exhausted. I will open that as a separate issue.

[2016-07-25 02:56] zfi commented on #173
This was declared a priority1 issue. @PropGit (Jeff), Can you close this if you are satisfied with the state of the logging or perhaps reclassify the label if this is no longer urgent?

[2016-07-25 15:15] wstodghill commented on #428
@CarsonGracey, @kgracey

Since this seems to be a motor block issue, can we mark this resolved?

[2016-07-25 17:21] drpiccioni opened #433 "Save-As?"
Any hope for a Save-As capability?  My testing efficiency would be a lot higher if didn't have to start each new project from scratch.  Thanks!

[2016-07-25 17:30] kgracey commented on #433
Yes, our team is monitoring the GitHub requests and will sort/prioritize feature requests carefully as we move forward. Thanks for making this request. KG

[2016-07-25 17:40] michel-cf commented on #433
You can always clone a project (yours, or someone else's) from the project view

[2016-07-25 17:41] michel-cf commented on #432
I believe @dcarrier-parallax removed the possibility to use arguments with functions in spin

[2016-07-25 17:42] drpiccioni opened #434 "While does not support <="
See my drpWhileTesting: Looks like while loops only work with <, not <=.  Note I am testing with an S2.  Thanks!

[2016-07-25 19:46] CarsonGracey opened #435 "demo.blockly.parallax.com is down"
As the title states http://demo.blockly.parallax.com/ has been down since 12:00 PM PST. I don't believe anything is being merged at the moment and google chrome (Version 51.0.2704.103 m) is "Waiting for available socket..."

EDIT: Even after flushing all sockets in chrome://net-internals/#sockets the problem persists.

[2016-07-25 21:06] zfi commented on #435
Restarted the Tomcat service after harvesting log files.

[2016-07-25 21:07] CarsonGracey commented on #435
Looks like that fixed it, thanks!

[2016-07-25 21:24] CarsonGracey commented on #435
@zfi, the website is loading but projects are taking between 1-5 minutes to load or aren't loading at all.

[2016-07-25 21:28] CarsonGracey commented on #431
@wstodghill, for some reason the code isn't working on either the S2 or S3 for me, I'll make sure to check out your code once blockly is back up, hopefully I can get the same results as you. Also, we can't view the second link because it is in the personal projects tab. Thanks for the info.

[2016-07-25 21:36] CarolHazlett commented on #431
I can't use the S2 or S3 either. At one time it did work but quit working a
couple of days ago.

On Mon, Jul 25, 2016 at 2:28 PM, CarsonGracey <notifications@github.com>
wrote:

--

In the birthing of any machine there is that moment when it actually works.
It is always fresh and astounding for me..........................Red
Whittaker
Carol Lynn Hazlett
33801 55th Ave So
Auburn, WA 98001
(253) 65

[2016-07-25 21:37] kgracey commented on #431
Yep and yep. We’re in a state of transition at the moment. The drive blocks are not working at all and we’re aware of it (Wednesday we’ll have them fixed).

[2016-07-25 22:09] Wierdowl opened #436 "RFID Block"
On the RFID Enable Block:
![screen shot 2016-07-25 at 2 39 40 pm](https://cloud.githubusercontent.com/assets/20117212/17118532/cb1974ba-5275-11e6-888a-d81430b41691.png)
Instead of saying "in" it should say "enable" and instead of "out"  it should say "sout" because thats how its put on the RFID reader.

Also In the code currently made in blockly:

`rfid = rfid_open(rfidEn, rfidSout);`

there is an

[2016-07-25 22:22] zfi opened #437 "Spin reserved words errors"
The array of reserved words in BlocklyProp/src/main/webapp/cdn/blockly/generators/spin.js line 45 contains 2 misspellings:
interger (should be integer)
bookean (should be boolean)

[2016-07-26 00:15] zfi commented on #435
The errors I am finding in the log files indicate that we may have insufficient system memory on this test server. I relaunched the site on a larger server. Let's see if a larger memory pool helps calm these issues.

[2016-07-26 00:19] #426 closed

[2016-07-26 03:07] wstodghill commented on #431
@CarsonGracey - updated second link http://demo.blockly.parallax.com/blockly/projectlink?id=98&key=3aca7f38-891a-4f9d-8a28-7e21d4563ca4

[2016-07-26 03:08] wstodghill commented on #431
@CarsonGracey - Here is an updated second link (per your comment) http://demo.blockly.parallax.com/blockly/projectlink?id=98&key=3aca7f38-891a-4f9d-8a28-7e21d4563ca4

[2016-07-26 03:35] MatzElectronics commented on #398
I measured the color palette on the block factory, and it's a 7 column 10
row block.  Here are the colors (by row going across):

1
#FFFFFF
#CCCCCC
#C0C0C0
#999999
#666666
#333333
#000000

2
#FFCCCC
#FF6666
#FF0000
#CC0000
#990000
#660000
#330000

3
#FFCC99
#FF9966
#FF9900
#FF6600
#CC6600
#993300
#663300

4
#FFFF99
#FFFF66
#FFCC66
#FFCC33
#CC9933
#996633
#663333

5
#FFFFCC
#FFFF33
#FFFF00
#FFCC00

[2016-07-26 17:15] PropGit commented on #433
Since this has been a request, in passing, multiple time, we should seriously consider an option to "Save As" right from the Blockly editor as that's where people are often finding the need to do so.

[2016-07-26 19:05] PropGit commented on #159
This is now done.

[2016-07-26 19:05] #159 closed

[2016-07-26 19:22] CarsonGracey commented on #403
Tested and Verified.

[2016-07-26 19:29] PropGit commented on #173
Yes, I'm going to just reclassify the label.

[2016-07-26 19:49] wstodghill opened #439 "BlocklyProp Beta Demo Crash when Deleting Program"
I tried to delete a program today and BlocklyProp Beta Demo crashed.

On Save Delete Clone - I pressed Delete
A window asked me to Confirm - I did
BlocklyProp crashed - here is a partial (not all the info) screen capture
![blocklypropdelete](https://cloud.githubusercontent.com/assets/8891440/17153029/26d8be76-5340-11e6-9170-e2cbb6c36aca.PNG)

[2016-07-26 20:19] CarsonGracey commented on #410
Verified fixed

[2016-07-26 20:22] CarsonGracey commented on #370
Tested and Verified.

[2016-07-26 20:49] PropGit commented on #439
@wstodghill - I just tried this.  It worked fine for me, so maybe I'm doing something different (such as deleting a mostly blank project as opposed to a bigger one, or maybe deleting one that was from a different account).  Can you give us more detail about the exact scenario?

[2016-07-26 21:26] michel-cf commented on #439
The exception shown is quite clear: the project can't be deleted because it is shared using a sharing url.
I'll have to check, when deleting a project, if it is shared. And if so, first delete the share-url.

[2016-07-26 21:59] PropGit commented on #439
@michel-cf - You must be joking about the clarity. ;-P

I'm glad you figured it out.

We'd prefer that the operation be:

1. User clicks Delete button
2. System checks if the project is shared
3. If project _is not shared_, prompt user with "Confirm delete - Are you sure you want to delete this project?"  (it does this already)
4. If project _is shared_. prompt user with "Confirm shared project de

[2016-07-26 22:25] CarolHazlett opened #440 "S3 Now works"
Using 2 programs Whit wrote my S3 is now working fine with BlocklyProp demo version. I did do a driver update to it also.

[2016-07-26 23:53] PropGit opened #442 "Blocked popup dialogs?"
What do we do about this?

I'm creating variables (never mind their names in this example) and I've done it often enough that now Chrome adds a "Prevent this page from creating additional dialogs" checkbox.

So... what if a user clicks on that checkbox and clicks the OK button.  The next time they try to rename there won't be a dialog box to do it?  The next time they try to do anything that creat

[2016-07-26 23:56] PropGit commented on #437
I tried to test this (in [this project](http://demo.blockly.parallax.com/blockly/projectlink?id=115&key=6ad05182-5792-4b0e-acaf-e645554bb46c)) and am not sure I can actually test it properly.

It appears to automatically name-mangle under the hood (in the Spin code) so as to avoid the name conflict, but the code is also mangled to the point that it won't compile... probably because of a previous e

[2016-07-27 00:05] PropGit commented on #442
UPDATE:  It definitely causes a problem... I tested on a VM (for safety), and after clicking that checkbox, no further attempts to rename or create a new variable results in dialogs, so the user can't perform the operation.

Luckily, closing the browser (or maybe tab) and then going back to the site again lets it perform as desired.  Yay!  Problem, sort of solved.

[2016-07-27 01:25] wstodghill commented on #440
Yay! I have lots of shared programs on the BlocklyProp Beta Demo - check them out some of the first ones lost some variable info when updated - some are works in progress, some finished on the S2 - checking on S3 and some are PASSED! (meaning I have now checked them on the S3 and they work fine) Notes are in the program descriptions. Have fun - please give them a try and let me know how they work

[2016-07-27 01:42] wstodghill commented on #439
@PropGit said "michel-cf -You must be joking about the clarity. ;-P I'm glad you figured it out."

I agree! Thanks - I did see the note about it being shared (but did not really understand what it meant) The rest of the page was way past me... ;-) Even though was there to an ordinary user - I thought it was a crash, because it closed BlocklyProp completely.

Glad to understand. I will keep trying

[2016-07-27 01:47] wstodghill commented on #433
"Save As" would me more what folks are used to. I did discover the Clone option, and made it work but I felt I was experimenting with something I did not really understand and not sure what would actually happen. "Save As" is used in so many other places that folks will "get it" and how it works... Thanks!

[2016-07-27 02:30] zfi commented on #442
Two thoughts; is there a setting within Chrome to exempt or whitelist specific domains or URLs to allow dialog messages without restriction.

Second, is there a different technique available to display messages or dialogs that will not trigger the issue in Chrome.

[2016-07-27 02:49] kgracey commented on #433
Agreed - Jeff is keeping this on our internal Feature List so it can be factored into the UI design at the right time.

[2016-07-27 05:36] wstodghill commented on #431
@CarsonGracey - Been cleaning up/improving old code and testing all on the S3. I am also removing "Share project using link" That means (I think) - many of my old links will not work.

Here is the best new link for http://demo.blockly.parallax.com/blockly/my/projects.jsp#98 Let me know if it works for you!

[2016-07-27 05:50] wstodghill commented on #439
Another comment about this...When moving around BlocklyProp Beta Demo - My natural tendency was to use the back arrow on my browser (I am mostly using Google Chrome. Occasionally, I encountered a problem.

I have good luck (meaning no problems) when I use the BACK button on the Project Details page. Also using the the **Beta** BlocklyProp "Home",  "Community projects," "My projects," or "New proje

[2016-07-27 05:59] zfi commented on #435
Twenty four hours of operation and no system level issues. There was a crash page reported earlier but it was an issue with the DB interface code. I think the site is stable again.

[2016-07-27 08:14] michel-cf commented on #442
It seems work is being done on this: https://github.com/google/blockly/issues/393
Doing it myself will be hard, as window.prompt is a blocking operation, while any prompt you can write in javascript is asynchronous.

[2016-07-27 17:18] CarolHazlett opened #444 "Delay Start Button"
One of the features on the old GUI which I used a lot was the ability to add a function at the beginning of my program that kept the program from running until I pressed the reset button on the robot. I have tried to set that up with BlocklyProp but do not know enough about it to figure it out. Can anybody point me in the right direction?

[2016-07-27 22:13] csavage-parallax opened #445 "SPIN Pin States Block Disparity"
I am seeing a disparity in the expected output of SPIN code to the following blocks:

![image](https://cloud.githubusercontent.com/assets/20691193/17194295/26678f72-540c-11e6-8459-5b7d0082a427.png)

[code]

Setting the pin state should not set the direction register at the same time. When a pin is set high or low the corresponding SPIN code seems to contain a direction set as well. However the sam

[2016-07-27 22:20] mrodriguez-parallax opened #446 "C, rc_time(), block/s"
This block of code generates wrong C code.

![image](https://cloud.githubusercontent.com/assets/20686764/17194330/581116ce-540c-11e6-8744-02f68d066194.png)

Here is the C code generated in the background.

[code]

This is the error the compiler outputs when these blocks are used to get rc_time.

![image](https://cloud.githubusercontent.com/assets/20686764/17194406/ae9c72f4-540c-11e6-990d-a17680c9d

[2016-07-27 23:50] PropGit commented on #436
Verified fixed.

[2016-07-28 00:51] dcarrier-parallax commented on #432
I removed the non-functional argument support in the 'procedures.js' file, but this error is in the 'spin.js' file, on line 134.

[2016-07-28 13:44] wstodghill commented on #444
Carol - take a look at this BlocklyProp code at the demo site. It is named **Reset Button Demo 1** Here is a link - http://demo.blockly.parallax.com/blockly/my/projects.jsp#126

It is a simple BlocklyProp example of the S3 monitoring the number of button presses at the last reset.
Based on the results the S3 light an corresponding number of LEDs.

It is interesting to watch the code run on the S3

[2016-07-28 17:18] zfi commented on #376
Issued PR #423 to, in part, reorder the OLED initialization parameters.

[2016-07-28 17:20] zfi commented on #423
Issued a patch in PR 423 for this issue. It's ready for Demo.

[2016-07-28 17:31] CarsonGracey commented on #431
Looks like these are working with the S3 just fine now, I'm not sure what was stopping them volume from changing in my example.

[2016-07-28 17:33] #431 closed

[2016-07-28 17:36] CarsonGracey commented on #435
I haven't had any problems for two days so we can close this issue for the time being.

[2016-07-28 17:36] #435 closed

[2016-07-28 18:29] zfi opened #448 "Repeated definitions and setup code in propc files"
It appears that if a group of blocks in a source file require a header file or some specific initialization it has to be done in each block definition within the source file. Would it make more sense to have one or more hook functions to register definitions and setups rather than forcing the duplication of code in each block?

For example, in BlocklyProp/src/main/webapp/cdn/blockly/generators/pro

[2016-07-28 18:49] CarsonGracey commented on #428
@dcarrier-parallax, do you know if this is a back end error?

[2016-07-28 19:25] dcarrier-parallax commented on #428
The motor speed range has since been adjusted to -100 to 100, matching what is printed on the block.

This issue though, #428, is for the S2 not loading, so I will leave it opened, as it is unrelated to the portion of the project I am working on.

[2016-07-28 20:22] RoxyH opened #449 "Light sensors do not work"
Here is the Blockly code I used.
![capture](https://cloud.githubusercontent.com/assets/20117435/17227914/8f60ca7a-54c5-11e6-9073-03e55a4e3e20.PNG)
When I uploaded it, the numbers in the serial terminal did not change with different levels of light, as it should have. This is what was on the serial terminal.
![capture 3](https://cloud.githubusercontent.com/assets/20117435/17228004/04ffd910-54c6-11e

[2016-07-28 20:23] kgracey commented on #449
@dcarrier-parallax this one is really odd - for some reason the light values don't change in the console. I verified it too and couldn't figure out why. We are wondering if it is something underneath in the wrapper somewhere. KG

[2016-07-28 20:28] #440 closed

[2016-07-28 20:49] RoxyH opened #450 "Drive block does not work"
The code will compile and upload but the robot remains unmoved.
![capture 4](https://cloud.githubusercontent.com/assets/20117435/17228835/adb91b7c-54c9-11e6-90df-3fc09dfd16d6.PNG)
Here's the project link
http://demo.blockly.parallax.com/blockly/editor/blocklyspin.jsp?project=136#

[2016-07-28 21:00] RoxyH opened #451 "Move motor block does not work"
Similarly to the drive block problem, the code compiles and uploads but the robot does not move.
![capture 5](https://cloud.githubusercontent.com/assets/20117435/17229213/8291c4ba-54cb-11e6-894d-d645ee59a246.PNG)

[2016-07-28 21:08] kgracey commented on #451
@dcarrier-parallax

[2016-07-28 21:08] kgracey commented on #450
@dcarrier-parallax

[2016-07-28 21:51] zfi opened #452 "Unexpected interaction with repeat/do control"
The repeat/do control loop is using the variable 'n' to control the loop in the following example. If the user changes the name of the variable 'item' to 'n' the variable will interact with the loop in an unintended way. The user may be completely unaware that the 'n' variable is being used.

My recommendation is to use either a double underscore for internal variables (__n) or underscores on eith

[2016-07-28 21:52] zfi commented on #452
I should also include the generated code from the blocks:

#include "simpletools.h"
#include "oledc.h"

int item;

int main()
{
    oledc_init(7, 8, 9, 10, 11, 2);
    oledc_clear(0, 0, oledc_getWidth(), oledc_getHeight());
    item = 0;
    for (int n = 0; n < 30; n++)
    {
        oledc_drawPixel((item + 1), (item + 1), oledc_color565(51, 204, 0));
        item = item + 1;
    }
}

[2016-07-28 22:02] zfi commented on #402
Code for this issue has been submitted as PR #453. This code is now using the embedded Blockly color picker.

[2016-07-28 22:28] kgracey opened #454 "XBee Setup Block in C: switch data labels"
@zfi I think this one is an easy one for you.

Could you make this simple switch on the XBee setup blocks so that the data labels DO and DI are switched? The **proper** block format is this:

![screen shot 2016-07-28 at 3 31 28 pm](https://cloud.githubusercontent.com/assets/9534148/17231409/85c10a64-54d6-11e6-8932-efafc88ecb72.png)

Now, I should note that a similar issue to this one has been open

[2016-07-28 22:53] kgracey commented on #451
@dcarrier-parallax it seems you have fixe this block, so this issue can be closed.

[2016-07-28 22:53] #451 closed

[2016-07-29 05:15] wstodghill commented on #450
Just tested all the current drive blocks current - 07/29/16 - 12:12 a.m. Central Time. All blocks worked. See the code named **_Drive Play - S3 Robot - WORKS! Thanks David!_** at this link [http://demo.blockly.parallax.com/blockly/my/projects.jsp#105](http://demo.blockly.parallax.com/blockly/my/projects.jsp#105)

Thanks to David and Ken for pursuing this so diligently! Time to get busy!

[2016-07-29 05:17] wstodghill commented on #442
Encountered this last night for the first time. I saved and logged out and back in...

[2016-07-29 05:20] wstodghill commented on #428
@dcarrier-parallax - the issue (I believe) was only when the motor blocks were not working. I think we can close this now...

[2016-07-29 06:11] wstodghill commented on #449
@RoxyH  - Did anyone try it using the old Desktop Parallax Serial Terminal? Is this code saved to share? If I so, I will give it a try. If not, I will screen capture it and program it in myself. Gonna grab it - just in case! Let me know!

[2016-07-29 06:27] wstodghill commented on #450
@RoxyH - See "Test RoxyH #450" I added a Green go LED and Red done LED - otherwise identical code and works great. I think David got it when he update the "wrapper"! See [http://demo.blockly.parallax.com/blockly/my/projects.jsp#140](url)

@dcarrier-parallax - You sir, are a steely-eyed programming man! Thank you! [https://en.wikipedia.org/wiki/John_Aaron](url)

[2016-07-29 07:01] wstodghill commented on #449
Works for me - See - **Test Issue #449 for RoxyH** Code is [http://demo.blockly.parallax.com/blockly/my/projects.jsp#141](url).

I did add a delay a the start, a "Working" message, and another delay - other than that the BlocklyProp Code is identical! Held the S3 under my desk lamp and rotated it around getting high 90s to 20s.

![449 start](https://cloud.githubusercontent.com/assets/8891440/17240

[2016-07-29 15:55] zfi commented on #401
This block is really wide relative to the other blocks. I had to widen out my browser to see the tail end of it.

![2016-07-29_08-51-51](https://cloud.githubusercontent.com/assets/8442260/17254550/22bc88e6-556a-11e6-82a4-72de3a01f4bc.png)

[2016-07-29 16:32] #428 closed

[2016-07-29 16:36] #450 closed

[2016-07-29 16:42] PropGit commented on #317
Still needs fixing/verification before PR #414 is processed.

[2016-07-29 16:51] CarsonGracey commented on #376
Tested and Verified.

[2016-07-29 16:55] CarsonGracey commented on #317
Tested and Verified.

[2016-07-29 17:03] CarsonGracey commented on #409
Tested and Verified.

[2016-07-29 17:17] kgracey commented on #434
@dcarrier-parallax this one is for you.

[2016-07-29 17:18] kgracey commented on #444
@CarolHazlett and @wstodghill do you consider this closed?

[2016-07-29 17:22] kgracey commented on #321
@CarsonGracey you can create blocks for closing this one up. The specific list is here https://github.com/parallaxinc/BlocklyProp/issues/321#issuecomment-232475351 (above). You can do these with a pull-down menu if you desire.

[2016-07-29 17:24] kgracey commented on #413
This issue is closed, superseded by newer blocks.

[2016-07-29 17:24] #413 closed

[2016-07-29 17:25] kgracey commented on #408
Done for now.

[2016-07-29 17:25] #408 closed

[2016-07-29 17:30] kgracey commented on #446
@zfi I think that Miguel gave you all you need to make the RCTime output correct.

[2016-07-29 17:38] wstodghill commented on #444
@kgracey - I do! I have working code up on BlocklyProp! ;-)

[2016-07-29 17:39] #444 closed

[2016-07-29 17:39] wstodghill commented on #439
@kgracey - Might this be closed or are some of these comments still of value?

[2016-07-29 17:41] wstodghill commented on #449
@RoxyH - Did it work for you?

[2016-07-29 17:43] wstodghill commented on #424
@kgracey - Should we close this - have we gotten it covered of move along at least?

[2016-07-29 17:48] michel-cf commented on #439
Still needs to be fixed

[2016-07-29 17:49] wstodghill commented on #439
@michel-cf - Thanks!

[2016-07-29 18:02] CarsonGracey commented on #449
I tested your project @wstodghill and it seemed to work just fine. I also created a new project that is slightly different just to make sure it works: http://demo.blockly.parallax.com/blockly/editor/blocklyspin.jsp?project=96
I believe this issue is ready to be closed now.

[2016-07-29 18:02] #449 closed

[2016-07-29 18:07] zfi opened #455 "Xbee blocks coded in serial.js file"
The file BlocklyProp/src/main/webapp/cdn/blockly/generators/propc/serial.js contains a number of block definitions for the xbee. These should probably exist in a separate xbee.js file in the same directory.

[2016-07-29 18:20] PropGit commented on #445
Actually, we decided that things like Toggle should set the state and direction; if that's not the case here, we need to fix it.

I see your point with _make pin_ though... unless there's another way to set the pin state (only), the _make pin_ is naturally the only way to do that.

Ultimately, we want blocks that affect pin state (in general) to ensure that it is also set to an output, because tha

[2016-07-29 18:28] PropGit commented on #448
Absolutely!  Having all that duplicated code is begging for maintenance problems.  Thanks @zfi.

[2016-07-29 18:35] PropGit commented on #452
@zfi - Good catch, and you're correct, this is a problem we don't want.

@michel-cf - Does Blockly have a feature to automatically make "temporary" variables unique?  I think I saw this in action in an example block program I tried a while ago, but can't remember for sure.  If not automatic, then is there a recommended way for us to do this?  I'm concerned about scope issues defeating our manual e

[2016-07-29 18:42] PropGit commented on #442
@michel-cf - Will those changes (in [Blockly Issue #446](https://github.com/google/blockly/issues/446)) naturally occur in BlocklyProp the next time you update our Blockly fork, compress, and include within BlocklyProp?

[2016-07-29 19:58] PropGit commented on #401
@CarsonGracey and @zfi - To tighten this up, maybe this will work well?
![image](https://cloud.githubusercontent.com/assets/1266318/17261689/f9c682da-558b-11e6-98b6-bf0c5ee09326.png)

or switch to something like this?
![image](https://cloud.githubusercontent.com/assets/1266318/17261620/952b1750-558b-11e6-9a49-bd0345425441.png)

NOTE: To shrink vertical height, I'd prefer individual points' x and y

[2016-07-29 20:01] RoxyH commented on #449
I'll test it later today, I haven't had the chance yet.

On Fri, Jul 29, 2016 at 10:41 AM, Whit <notifications@github.com> wrote:

[2016-07-29 20:04] kgracey opened #456 "S3 block: drive direction and distance"
@dcarrier-parallax this is how we would like the fourth (4th) block in this document https://docs.google.com/document/d/1VmbtdO5DJsc73SADy36iWFDMeHBfIDMhL7U5x9_gZ3A/edit to look and function.

The Block Factory code you may begin with is here https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#osgstt and looks like this:

![screen shot 2016-07-29 at 1 17 21 pm](https://cloud.gith

[2016-07-29 20:28] RoxyH opened #457 "Sample arc block"
[https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#5amf4u](url)

[2016-07-29 20:44] #300 closed

[2016-07-29 20:45] #290 closed

[2016-07-29 20:45] #312 closed

[2016-07-29 20:45] #313 closed

[2016-07-29 20:45] #314 closed

[2016-07-29 20:45] #317 closed

[2016-07-29 20:45] #333 closed

[2016-07-29 20:45] #334 closed

[2016-07-29 20:45] #337 closed

[2016-07-29 20:45] #338 closed

[2016-07-29 20:45] #340 closed

[2016-07-29 20:45] #344 closed

[2016-07-29 20:45] #372 closed

[2016-07-29 20:45] #376 closed

[2016-07-29 20:45] #382 closed

[2016-07-29 20:45] RoxyH commented on #449
Just tested it and it worked.

On Fri, Jul 29, 2016 at 10:41 AM, Whit <notifications@github.com> wrote:

[2016-07-29 20:45] #396 closed

[2016-07-29 20:45] #403 closed

[2016-07-29 20:45] #410 closed

[2016-07-29 20:45] CarsonGracey commented on #401
@PropGit That looks better and I agree that each (x, y) set should be inline. It is not possible to do with Block Factory but it is something that can be manually edited in the JavaScript code.

[2016-07-29 21:24] PropGit commented on #321
@CarsonGracey - For this issue to be addressed for our needs as of now, I've created the subset checklist below based on what Ken asked for, what I think he's implemented, and what may have naturally been included already.

When testing, please...

1. post a message(s) indicating __tested and verified as implemented / some implemented / mostly implemented__,  and,
2. check off the items in this po

[2016-07-29 21:30] PropGit commented on #457
@RoxyH - The link may not be persistent.  It is currently broken when I click on it.

You may have to screenshot design and results and paste that instead.

[2016-07-29 21:46] PropGit commented on #401
@CarsonGracey - That's great... it'd shrink the tall version from 7 lines to 4.

Please indicate which one @zfi should try implementing... the single-line, slightly thinner block, or a shorter version of the tall, thinner block.

[2016-07-29 21:51] PropGit commented on #401
@zfi - I don't know if this link will persist, but here's [the single-line version](https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#8jkn2c) I built (still in need of underlying work):

[2016-07-29 22:34] MatzElectronics commented on #422
Just sent the library needed for this in, but there is one small but important note:

The #include generated by the block needed to contain an underscore in the name.  Please see below:
![image](https://cloud.githubusercontent.com/assets/19737272/17265200/dedbf200-55a1-11e6-9348-1688352fecab.png)

[2016-07-30 00:02] MatzElectronics opened #459 "How to handle color"
Since 3 of the devices we are likely to support in Blockly are "color" devices, we can standardize the color value as both a 24-bit RRGGBB integer and as three 8-bit components (red, green, blue) with some helper functions/blocks to manipulate, convert, and compare them.  This is critical to decide now as it will impact most of the OLED blocks, and will require edits to the ColorPal block.  I don'

[2016-07-30 00:33] MatzElectronics opened #460 "Bring back the bitwise math :)"
I think we should add:

**& (bitwise AND)
| (bitwise OR)
^ (bitwise XOR)
\>> (bitwise right shift)
\<< (bitwise left shift)**

back to the math operator block...  Just my opinion.  The reality is that there are some things you simply can't do without them.

[2016-07-30 00:33] zfi commented on #401
You guys are getting a horizontal block. I can come back to this later or someone else can rearrange the code if it's that important.

[2016-07-30 00:58] wstodghill commented on #456
Like that block design Ken! cm is better than mm too!

It appears from the number of ticks that the encoders are pretty accurate! Love it.

[2016-07-30 01:17] dcarrier-parallax commented on #428
The motor blocks haven't changed since this issue was opened, other than the top speed on one of the blocks.

Regarding loading your S2, if you can reproduce the problem, please add more details to this issue.  If you cannot reproduce the problem, then it would be appropriate to close this issue.

[2016-07-30 01:24] kgracey commented on #456
Hey, we need mm too now that you mentioned it. We have that kind of accuracy with 517 cnts/rev.

Sent from my iPhone

[2016-07-30 01:35] PropGit commented on #460
I agree with this.

[2016-07-30 01:57] michel-cf commented on #460
They were present and have been removed on request

[2016-07-30 02:57] wstodghill commented on #456
@kgracey - Amazing!

[2016-07-30 06:01] MatzElectronics commented on #460
I know...but I'd I would like to bring it back up for discussion...

On Jul 29, 2016 6:57 PM, "michel-cf" <notifications@github.com> wrote:

[2016-07-30 13:11] wstodghill commented on #457
@RoxyH and @PropGit - I got it by cutting and pasting it.

Just a "development" question - when you create a block like this do you or others determine the connection type? This one is a top and bottom, correct? What happens next in the process?

[2016-07-30 14:44] DarkmatterVale commented on #276
This was merged in my most recent PR.

[2016-07-30 14:44] #276 closed

[2016-07-30 14:46] DarkmatterVale commented on #363
Closed via #414

[2016-07-30 14:46] #363 closed

[2016-07-30 14:46] #359 closed

[2016-07-31 22:15] CarsonGracey commented on #423
Tested and Verified.

[2016-07-31 22:15] #423 closed

[2016-07-31 22:16] CarsonGracey commented on #402
Tested and Verified.

[2016-07-31 22:16] #402 closed

[2016-08-01 18:14] #370 closed

[2016-08-01 18:26] zfi commented on #454
Updated block as specified.

[2016-08-01 18:32] zfi commented on #398
We are able to use the embedded color picker now. The value returned from the color picker has to be split into the R G and B components and those values submitted to oledc_color565(R, G, B). Not sure how that is going to work out for non-OLED devices.

[2016-08-01 21:07] wstodghill opened #463 "Log In / Keep Me Logged In"
What determines when a user gets logged out of BlocklyProp? It has been my experience that at times when I return that I am still logged in from a previous session. At other times, I have to Log In again.

Is is possible to have a "Keep Me Logged In" check box? Is this a bad idea for some reason? How does this currently work and is it intentional?

[2016-08-01 22:11] zfi commented on #400
Coded and verified locally.

[2016-08-01 22:28] mrodriguez-parallax opened #465 "No For Loop() Block"
No option in control blocks for setting up a For Loop() .

[2016-08-02 03:36] wstodghill commented on #465
![repeat](https://cloud.githubusercontent.com/assets/8891440/17316074/994df0d4-5836-11e6-9a11-81360aa361ec.PNG)

![for loop](https://cloud.githubusercontent.com/assets/8891440/17316302/61ad5e4c-5838-11e6-8c3f-30dbbae3c907.jpg)

@mrodriguez-parallax - Is this block only on the S3?

[2016-08-02 10:21] wstodghill commented on #465
@mrodriguez-parallax - okay mrodriguez - now that I have studied this a bit more (you are talking about the difference between conditionals and loops - correct? You mean that we need something more like these pictured examples from here - https://blockly-demo.appspot.com/static/demos/toolbox/index.html

![loops](https://cloud.githubusercontent.com/assets/8891440/17325384/e3716ae4-5870-11e6-81a3-85

[2016-08-02 12:58] wstodghill opened #467 "Optional Grid in Workspace"
Discussion Item (I have not figured our how to attach labels! Sorry)

Any interest or usefulness in an optional (set by user choice) grid in the workspace of BlocklyProp?

I don't even know if this is possible... See this example from the S2 GUI - might just provide a wallpaper and organizing structure for blocks.

![grid](https://cloud.githubusercontent.com/assets/8891440/17329067/85310b22-5886-1

[2016-08-02 18:43] zfi commented on #467
This appears to be possible.

https://developers.google.com/blockly/guides/configure/web/grid

[2016-08-02 19:18] zfi commented on #407
Update code in the block to use the new font size constants in the oledc header file, referenced in the SimpleIDE Library PR #31 - Update font size constant names

[2016-08-02 22:55] mrodriguez-parallax commented on #465
Hi
The type of block I mean is for example:
A block that can execute this type of conditional loop. I have not checked if there's a similar block in the SPIN blocks but I don't see this type of block on the C side of Blockly and this is a very important loop that gets used very often.

Yes, just like these pictured examples. The for loop is sort of a combination of all of these blocks pictured abo

[2016-08-03 00:52] wstodghill commented on #467
Any body see any usefulness in this or even just the snap to? While I was looking, I saw the zoom - plans for that?

[2016-08-04 01:05] CarolHazlett opened #472 "Storing and Incrementing a variable"
How about a Control block which would act like a "for loop"? The ability to store a variable and increment it (or decrease it) by a given amount each time the loop executes.

[2016-08-04 02:03] wstodghill commented on #472
See - http://demo.blockly.parallax.com/blockly/my/projects.jsp#175

See also Issue

[2016-08-04 03:07] CarolHazlett commented on #472
Issue has been answered for me. thanks Whit!

[2016-08-04 03:07] #472 closed

[2016-08-04 13:53] DarkmatterVale commented on #460
@MatzElectronics What is your reasoning behind bringing these blocks back? What can beginners not do that they should be able to do?

[2016-08-04 13:55] DarkmatterVale commented on #459
Can I get a verification from someone other than @MatzElectronics that we want this functionality enabled within Blockly?

[2016-08-04 13:58] DarkmatterVale commented on #454
The fix needs to be cleaned up...for users it should work, but for developers the naming scheme is backwards and needs to be fixed.

[2016-08-04 13:59] DarkmatterVale commented on #467
I personally do not like the grid because I believe it clutters the workspace, which draws attention away from the blocks. @kgracey what do you think?

[2016-08-04 14:04] zfi commented on #454
Agreed. The underlying code no longer matches the UI labels. Someone will eventually break this block trying to correct the anomaly. For the record, I was following orders.

[2016-08-04 14:08] DarkmatterVale commented on #436
@zfi Can you please send a PR to the master branch with this fix?

[2016-08-04 14:13] DarkmatterVale commented on #454
@zfi Can you push another commit to fix this (you don't have to send it to demo, just have it merged into master when you create a PR)? You will need to replace ```.appendField(new Blockly.FieldDropdown(profile.default.digital), 'DI_PIN')``` with ```.appendField(new Blockly.FieldDropdown(profile.default.digital), 'DO_PIN')``` and ```.appendField(new Blockly.FieldDropdown(profile.default.digital),

[2016-08-04 14:14] DarkmatterVale commented on #409
Can we get a PR into master so we can close this issue?

[2016-08-04 14:15] DarkmatterVale commented on #457
@RoxyH or @wstodghill Can you please post the updated link? Thank you!

[2016-08-04 14:22] DarkmatterVale commented on #448
I disagree with this change. I have talked with Michel about this previously and we decided that this change would cause more harm than good. The proposed changes create a problem for files such as ```sensors.js``` where multiple different "groupings" of blocks are included within the file and many different includes & setups are needed. Therefore, you would not be able to use this in files with m

[2016-08-04 14:24] DarkmatterVale commented on #439
This needs to be fixed because this will confuse users when attempting to delete a shared project.

[2016-08-04 14:26] DarkmatterVale commented on #66
bump

[2016-08-04 14:30] DarkmatterVale commented on #357
I like the solution proposed by @PropGit. This simplifies the process for the user while still leaving the backend unchanged.

[2016-08-04 14:30] DarkmatterVale commented on #399
Can we get a PR for this into master?

[2016-08-04 14:31] DarkmatterVale commented on #384
Can we get a PR for this into master?

[2016-08-04 14:31] DarkmatterVale commented on #383
PR?

[2016-08-04 14:53] DarkmatterVale opened #474 "Demo: category colors are gone in C"
Someone reverted the commit I made in the demo branch which included the updated colors.

[2016-08-04 14:57] MatzElectronics commented on #460
When I started working with color, it quickly became apparent that some
things (isolating color components, mixing colors) are very hard to do
without these operators.  Also, single bit comparisons, masking,
shifting...all kinds of stuff...

On Aug 4, 2016 6:53 AM, "Vale" <notifications@github.com> wrote:

@MatzElectronics <https://github.com/MatzElectronics> What is your
reasoning behind bringing

[2016-08-04 15:04] #474 closed

[2016-08-04 15:07] DarkmatterVale commented on #460
Beginners should never have to deal with color "operations" (which is why #459 is a necessary set of blocks). Can you give me a few use-cases for when a beginner would need to use bit comparisons, masking, or shifting?

[2016-08-04 15:17] MatzElectronics commented on #460
Honestly, no.  Someone just starting out won't run I to the need for
Burnside math for a while, and you can use a number of tricks to get around
the need for it.

That being said, there are some things that could be done, specifically
game creation using the screen, that would make blockly surprisingly
capable.

If we bring them back...I would argue for them to go into a different
block, and not b

[2016-08-04 15:18] MatzElectronics commented on #459
How soon do you need to know?  I think almost everyone else is currently
out...

On Aug 4, 2016 6:55 AM, "Vale" <notifications@github.com> wrote:

[2016-08-04 15:51] wstodghill commented on #467
@DarkmatterVale - Thanks and thanks for adding the label. I was thinking of a very light color grid or even enable the snap for easier alignment of groups - I have no really strong conviction - just wondered. The blank canvas just looked a bit bare...

[2016-08-04 18:21] PropGit commented on #463
@michel-cf - can you answer part of this?

@wstodghill - I've had the same experiences.  I think a Keep Me Logged In checkbox is a good idea.  The current behavior is intentional (I believe) but I don't know for sure how it works now that we've change the authentication system.

[2016-08-04 18:42] PropGit commented on #457
@wstodghill - This one would need to be set to top+bottom connections, yes.

I recommend setting the connection types if you can determine what they should be, and specifically note the cases where you are not sure so we know to take care of that.

Yes, what is done with Block Factory is "Defining" the block, then the Language and Generator code that it creates is used by us to add the block to th

[2016-08-04 19:14] CarsonGracey commented on #467
I agree that having the blockly prop logo would be helpful in place of a grid because yes the blank background is bare and it would be nice to have a static reference point as well that doesn't move.

[2016-08-04 19:15] PropGit commented on #448
@DarkmatterVale - We certainly don't want to cause more harm than good, but I don't understand how we can't overcome even the multiple groupings of blocks situation in a way that eliminates duplicated initialization code.  The thing we're trying to avoid, of course, is a future need to change some initialization that really applies to a myriad of blocks spread out across files, as inevitably somet

[2016-08-04 19:30] PropGit commented on #474
@DarkmatterVale - Not sure how that happened, but could be 1) due to mistake made in Git on their side, or 2) due to an apparent forced-merge that broke code... we had to go patch it to get Demo working again.  I don't know any more details than that.

[2016-08-04 19:38] PropGit commented on #459
This made sense to me when he proposed it.  I didn't object to it.

Is there any aspect of it that you're concerned about or want to propose a variation?

[2016-08-04 20:16] CarsonGracey opened #476 "RGB OLED: Get MaxHeight/Width"
So after programming the OLED display in SimpleIDE a bit, I realized I used ```oledc_getWidth()``` and ```oledc_getHeight()``` multiple times. For example I was just placing a circle in the center of the display and I found it was easiest like this:

[code]

Would it be beneficial to add these two blocks into the OLED category? It would make cutting the screen into halves or thirds or anything qui

[2016-08-04 20:25] PropGit commented on #476
@CarsonGracey - I can relate, I've found the frequent need to do such things in other programming environments for other devices too.  Those blocks can be really helpful here, I agree.

[2016-08-04 21:24] zfi commented on #66
I did not see s stated goal for this so it is difficult to say that it is done. I believe the web site supports two languages but all of the blocks are still in English.

[2016-08-04 21:33] zfi commented on #474
The source file was littered with text that git uses to show two differing code blocks. We ran a diff between that file and the previous commit. I reverted the file And then used the output from the diff to guide use on repopulating the new code.

It would appear that we missed a line or two.

[2016-08-05 13:19] DarkmatterVale commented on #467
@wstodghill I think that's a great idea! The faded BlocklyProp logo adds a nice touch without distracting from the blocks. @michel-cf Is this feasible?

[2016-08-05 13:21] DarkmatterVale commented on #460
Interesting point...Game development would be something that people would be interested in. Do you have any ideas what the new block would look like? Similar to the current operator block, but only with the bitwise and shifting operations?

[2016-08-05 13:23] DarkmatterVale commented on #459
@MatzElectronics I just wanted an acknowledgment that there has been discussion about this within parallax; thank you for the quick response @PropGit!

I think these blocks look great!

[2016-08-05 13:32] DarkmatterVale commented on #448
Because blocks have no relationship to other blocks (within the code that I write), I do not believe that there is a solution to this within the block source files. The only solution I can think of is to add a HTML tag that is applied in framec.jsp within categories. This tag will add includes to the code if any of the blocks are used. I'm not sure if this is feasible, however, so @michel-cf will

[2016-08-05 14:26] MatzElectronics commented on #460
Exactly, yes.  And since they would be beginners, writing out the
operations in addition to having the symbols:

& (bitwise AND)
| (bitwise OR)

and so on...

On Aug 5, 2016 7:21 AM, "Vale" <notifications@github.com> wrote:

Interesting point...Game development would be something that people would
be interested in. Do you have any ideas what the new block would look like?
Similar to the current op

[2016-08-05 14:26] MatzElectronics commented on #459
Thanks for taking it on!

On Aug 5, 2016 7:23 AM, "Vale" <notifications@github.com> wrote:

[2016-08-05 15:27] DarkmatterVale commented on #381
What is the status on this new component?

@PropGit Do we want this in Public Release 1?

[2016-08-05 15:33] DarkmatterVale commented on #452
I have added a double underscore to the beginning of the variable, which I think will set it apart from user defined variables.

[2016-08-05 15:41] DarkmatterVale commented on #427
This is in C code. Do you think it will not be a problem?

[2016-08-06 01:06] wstodghill commented on #467
I also think the tools on the bottom right could be nice too. They are load from file, save (might add save as), undo, redo, copy, and trash.

[2016-08-06 13:39] DarkmatterVale commented on #430
This should be ready for testing!

[2016-08-06 13:41] DarkmatterVale commented on #459
@MatzElectronics Where would you like to see these blocks? Does the "Values" category sound good?

[2016-08-06 14:32] MatzElectronics commented on #459
Yes , it does for now.  We can always move them if Ken or the team have a
better idea.

On Aug 6, 2016 7:42 AM, "Vale" <notifications@github.com> wrote:

[2016-08-07 14:00] DarkmatterVale commented on #465
@mrodriguez-parallax There is a way to create a for loop within C code. The below is a simple program which creates the for loop:

![screen shot 2016-08-07 at 9 59 30 am](https://cloud.githubusercontent.com/assets/6094957/17462782/b09d5f6a-5c85-11e6-9bbb-cd332c7b47ff.png)

Is this what you were talking about? If not, can you please be more specific for what you think the user should be able to man

[2016-08-07 14:02] DarkmatterVale commented on #308
bump

[2016-08-07 14:02] DarkmatterVale commented on #459
Gotcha.

[2016-08-07 16:29] zfi commented on #427
It's not a problem in C. C specifically ignores white space and this feature is why the space next to the '*' symbol is immaterial.

[2016-08-07 16:48] michel-cf commented on #419
Added scroll bars for overflow

[2016-08-07 16:50] michel-cf commented on #321
- ASCII 2 Position cursor x,y is now also done (on top of individual positioning)
- New line now includes a carriage return

[2016-08-08 14:45] drpiccioni commented on #456
To use the S3 for physics teaching, it's really important to be able to control the rate of acceleration to within 1 mm/s/s over time intervals of several seconds..  Matt Greenwolfe's modification of S2.spin, S2mms.spin, does this. Will that code run on the S3?

[2016-08-08 15:55] PropGit commented on #456
@drpiccioni - I'm not familiar with those modifications and perhaps our team isn't either; as far as I know, we are not including them.  Can you point us to his updated code so @dcarrier-parallax and @kgracey can review and consider?

[2016-08-08 18:17] dcarrier-parallax commented on #456
This is an issue for adding distance units.  If you would like to create a discussion regarding a modifiable acceleration rate, please create a separate issue for it.

[2016-08-08 18:55] michel-cf commented on #467
The faded logo might be possible. The tools will be a little to much I think. Unless we do it as an overlay using html instead of vector graphics.

The hard thing about changing Blockly graphics is that it isn't plain html, css and javascript, but vector graphics on a canvas. Something I've never worked with.

[2016-08-08 20:51] PropGit commented on #381
@DarkmatterVale - No, it's not on "radar" for Public Release 1.

[2016-08-08 20:53] CarolHazlett commented on #465
I was thinking of this. Problem is now solved.
[image: Inline image 1]

On Sun, Aug 7, 2016 at 7:00 AM, Vale <notifications@github.com> wrote:

--

In the birthing of any machine there is that moment when it actually works.
It is always fresh and astounding for me..........................Red
Whittaker
Carol Lynn Hazlett
33801 55th Ave So
Auburn, WA 98001
(253) 653-6384
carolhaz391@gm <carolhaz391

[2016-08-08 22:12] mrodriguez-parallax commented on #465
It looks like this block does create a For Loop in the C code.
![image](https://cloud.githubusercontent.com/assets/20686764/17496926/4158b088-5d74-11e6-8cc5-03898ac04847.png)

and this is the C code it generates.

``
#include "simpletools.h"
#include "sirc.h"

int main()
{
    sirc_setTimeout(70);

    for (int __n = 0; __n < 0; __n++)
    {}

    if (sirc_button(0))
    {
        return;
    }

}

[2016-08-08 22:58] drpiccioni commented on #456
Hi Ken,
This repo <https://github.com/drpiccioni/CPhys/tree/master/student_ready>
contains a bare bones simplification of what Matt Greenwolfe did.  My
intent is for students to edit stuBayS2mms.py, which imports functions from
bayS2mms.py, which calls functions from Matt's S2mms.spin.  I am acting
under the presumption that all of these programs are Matt's IP, and have
modified them with his expr

[2016-08-08 23:04] drpiccioni opened #479 "Controlled acceleration"
Will it be possible to control the acceleration rate of the S3?  For example, will a BlocklyProp user be able to specifiy: "accelerate at a constant rate from rest to 5.00 cm/s during a time interval of 2.00 seconds"?

Matt Greenwolfe has achieved this in the S2 (see [this article](https://drive.google.com/file/d/0B4jK7MFQKwm4Tm45VzNuSGRLcWM/view?usp=sharing))

[2016-08-08 23:05] drpiccioni commented on #456
Done.

On Mon, Aug 8, 2016 at 11:17 AM, dcarrier-parallax <notifications@github.com

--
Be well,
drP

[2016-08-09 08:29] michel-cf commented on #442
If they are included in the Blockly master branch: yes

[2016-08-09 08:46] michel-cf commented on #463
Although Shiro (our security framework) technically has a "remember me" feature, I've never been a big supporter of the feature.

- It often doesn't work: it depends on long term cookies
- I think most people these days either use form completion or a password manager, or working on a shared computer

[2016-08-09 11:39] greenwolfe commented on #479
Hi,
Matt Greenwolfe here.  I'm the person who took advantage of the sum-mm accuracy of the encoders on the s2 to write a revised motor driver that controls speed to within mm/s, acceleration to within mm/s^2 and distance to within mm.  There were some pedagogical concepts about control of error inherent in the apparatus and optimal feedback inertia that meant a robot with these characteristics (al

[2016-08-09 11:44] greenwolfe commented on #456
Matt Greenwolfe here, the developer of the revised motor driver for the s2 that Richard mentioned above.  I just posted in Richard's new thread on controlled velocity and acceleration and introduced myself there.  I would like to be able to get back to teachers who took my recent workshop at NC State university and let them know the timeline for testing my software on the s3 and revising it as nec

[2016-08-09 16:24] PropGit commented on #442
Thanks @michel-cf.  I'm closing this as I expect the official Blockly to solve it, not us.

[2016-08-09 16:27] PropGit commented on #463
Even if it remembers them for only an extra couple days (with a long-term cookie as I expected) it would be a benefit.  Not looking for permanent solution; even Google logs me out from time to time, though I think they are doing it on purpose for security reasons.

[2016-08-09 18:50] zfi commented on #476
Notes on the implementation of these blocks:

Blockly.propc.oled_get_max_height = function() {
  [...]

    // Emit code to clear the screen
    var code = 'oledc_getHeight()';

    // This line causes a zero to be embedded in the resulting 'C' code:
    // Note the lack of square braces.
     return code;

    // Return function call without surrounding parens:
    //   oledc_drawPixel(oledc_getH

[2016-08-09 19:20] DarkmatterVale commented on #476
Interesting discovery with the second return statement...I didn't know about that.

When a block has an output (which is defined by whether the code ```this.setOutput(true, '...');``` is included in the UI generation), you must specify how you would like the output to be formatted. The first return statement applies no formatting, but cuts the output so that only the first character is returned. T

[2016-08-09 19:45] DarkmatterVale opened #482 "Reorganize blocks to be in the correct files"
This is a "backend" change that will not affect the user, but it is necessary for development. I believe that we should change the places that blocks are placed to reflect their place within the UI. For example, all blocks that are present in the "Values" category will now be located within the file "values.js". Only categories will be given a category (subcategories will not be given a separate f

[2016-08-09 19:46] DarkmatterVale commented on #454
bump

[2016-08-09 19:47] DarkmatterVale commented on #465
I see what you mean. I will try and get this in soon...

[2016-08-09 19:56] kgracey commented on #479
Hello Richard and Matt -

I’ve been out of town and catching up on these messages. I want to let you both know that we truly appreciate the contributions you have made to the S3. I’m aware of Matt’s S2 object and also desire to see it properly supported in the S3 Blockly code base. There are a couple of things we need to know about it to determine what and when we can implement your work, so a cou

[2016-08-09 20:12] DarkmatterVale commented on #446
This needs to be verified then a PR needs to be sent into the master branch

[2016-08-09 20:14] DarkmatterVale commented on #434
Does this bug also exist in C?

[2016-08-09 20:15] DarkmatterVale commented on #399
bump

[2016-08-09 20:43] kgracey commented on #321
@PropGit Jeff could you specifically take a look at the Print blocks for both C and Spin and see that they are properly presented? Now that we seem to have some terminal support we need to make sure our blocks take advantage of these features. And we need this done quickly, unfortunately, so we can get the S3 docs done (this weekend).

[2016-08-09 21:04] #436 closed

[2016-08-09 21:04] CarsonGracey opened #483 "RGB OLED: Round Rectangle Enhancement"
After doing a bit of testing with the round rectangle block I figured it would be beneficial to be able to change the percent that the rectangle is rounded. Right now it is locked at 20% and it generates the code below

[code]

So after messing around with the numbers, values anywhere between 4-100 work for the number that (w+h) is divided by. The block could be changed to look like this one here:

[2016-08-09 21:11] CarsonGracey commented on #476
Tested and Verified.

[2016-08-09 21:12] CarsonGracey commented on #398
Tested and Verified.

[2016-08-09 21:27] greenwolfe commented on #479
Hi Ken,
I am sending you a separate e-mail with a download link and password for my software, and my full address.  Also, here's the link to my forum thread from a few years ago when I was developing it.  http://forums.parallax.com/discussion/140305/drive-s2-in-mm-s#latest .  To write it, I reverse engineered the original motor driver by Phil Pilgrim and then wrote my own based on his concept.  I

[2016-08-09 21:50] CarsonGracey commented on #422
When this block is the only one in the project (as it should be) there is an extra space at line 8 and the L in

[code]

needs to be capitalized since simple libraries are case sensitive.

[2016-08-09 22:16] wstodghill commented on #433
Great! Will try it out and let you know. Thanks for your hard work on this!

[2016-08-09 22:53] CarsonGracey commented on #476
It may be better if we rename the blocks to "max height" and "max width"

[2016-08-09 23:12] PropGit commented on #482
Sounds great to me for present and future maintenance.  My only concern would be that we're always chasing the next-best way to categorize blocks; but maybe the dust has already settled on that topic.

[2016-08-09 23:16] PropGit commented on #399
@DarkmatterVale - Please see direct email'd question; we need a tip on how to do this without carrying tons of baggage.

[2016-08-09 23:17] PropGit commented on #321
@kgracey - yes.  No changes or verification has been done on this yet, correct?

[2016-08-10 18:11] zfi commented on #483
@CarsonGracey , please file the enhancement request as a separate issue. The bug fix is on the demo server, ready for verification.

[2016-08-10 20:56] DarkmatterVale commented on #482
This will settle the dust. This is by far the most logical way to organize the blocks, and it will only change when the organization of blocks on the front end changes

[2016-08-10 20:57] DarkmatterVale commented on #476
I agree that better conforms with our other standards for blocks

[2016-08-10 21:00] DarkmatterVale commented on #448
Does anyone have any more thoughts to add or can we close this for now?

[2016-08-10 22:23] PropGit opened #490 "Terminal Baud Rate"
@michel-cf - Can you make BlocklyProp's Terminal automatically use 9600 baud when we've downloaded a Scribbler 3 program, and stay at another (faster) fixed baud rate if it's not a Scribbler 3 program?

We need the terminal to work at 9600 baud for Scribbler because of some hardware constraints, but we'd rather not fix it to 9600 baud for _every_ board type.

[2016-08-10 22:50] kgracey opened #491 "New "S3 Robot Project" Project (not Spin) on landing page"
@michel-cf please change the text on the Blockly landing page from "Spin Project" to "S3 Robot Project" and change the graphic underneath from a Spin icon to the S3 robot. Specifically:

![screen shot 2016-08-10 at 3 58 21 pm](https://cloud.githubusercontent.com/assets/9534148/17573763/611532fe-5f11-11e6-92e6-47ef189c8694.png)

We realize this is a short-term solution and far from ideal. But for n

[2016-08-11 01:51] zfi commented on #448
The underlying system appears to handle duplicate header file includes. Developers need to understand that each block that requires an include file, they need to register that file within the block implementation.

With that in mind, let's close the issue.

[2016-08-11 02:46] wstodghill commented on #491
I like this idea! It reflect more of what we are actually doing...

[2016-08-11 02:49] wstodghill commented on #490
@PropGit - good call!

[2016-08-11 11:01] #448 closed

[2016-08-11 16:16] CarsonGracey commented on #307
![if return2](https://cloud.githubusercontent.com/assets/20099916/17595953/203ff35c-5fa4-11e6-9d8b-fe43c71adffd.PNG)

Looks like this block had a second value input added by accident @zfi will fix this.

[2016-08-11 16:20] CarsonGracey opened #492 "Return Block"
![return](https://cloud.githubusercontent.com/assets/20099916/17596162/072f9eb6-5fa5-11e6-97c2-59a903905d3a.PNG)
This block will simply create the code ```return();```

[2016-08-11 16:28] CarsonGracey opened #493 "RGB OLED: Inline Block inputs"
@zfi is going to give some of the longer OLED blocks inline inputs and clean up their appearances.

[2016-08-11 16:34] CarsonGracey opened #494 "Rename Categories"
In the Activity Board WX menu rename

to

[2016-08-11 16:51] CarsonGracey opened #495 "Hide ETape Block"
We are just going to hide the ETape liquid level block until it is worked on until completion.

[2016-08-11 16:58] CarsonGracey opened #496 "MMA7455 Default State"
Change the default input type so the block isn't extremely long.

[2016-08-11 16:59] CarsonGracey opened #497 "GPS PAM7Q"
@zfi Hide this block until it is further worked on until completion.

[2016-08-11 17:06] CarsonGracey opened #498 "Hide Memory Category"
@zfi Will hide the memory category which contains EEPROM and SD Card until they are ready to be tested.

[2016-08-11 17:07] zfi commented on #436
RFID spec discussed here:
http://www.devx.com/enterprise/Article/32251

[2016-08-11 17:09] CarsonGracey opened #499 "RC Charge/Discharge"
For the RC Charge/Discharge block the selectable pins should be 0-15

[2016-08-11 17:14] kgracey opened #500 "A/D and D/A block revisions"
@zfi this is everything you need to know to clean up the A/D blocks in the Voltage menu.

1. There are currently two blocks doing the same thing - delete the second one:
![screen shot 2016-08-11 at 11 37 17 am](https://cloud.githubusercontent.com/assets/9534148/17599837/d6382b5a-5fb5-11e6-9471-3280628479e6.png)
![screen shot 2016-08-11 at 11 37 59 am](https://cloud.githubusercontent.com/assets/953

[2016-08-11 18:05] kgracey commented on #401
I concur that the in-line block looks best - very tidy, clean, understandable and not that long.

[2016-08-11 18:43] kgracey opened #502 "D/A block revision request"
@zfi these are the revisions to the Voltage / DAC blocks.

1. First, there are two blocks - you can delete one of them.
![screen shot 2016-08-11 at 11 55 26 am](https://cloud.githubusercontent.com/assets/9534148/17600419/40fb012c-5fb8-11e6-8aa8-5f3c2690f9a7.png)

2. The block needs an input for the channel, in the form of a drop-down menu choosing D/A 0 or D/A 1.
3. The block needs an input (varia

[2016-08-11 20:10] zfi commented on #398
Pushed to master.

[2016-08-11 20:10] #398 closed

[2016-08-11 20:43] PropGit commented on #494
I think the renaming was supposed to be assigned to @zfi, but the testing of terminal and spec of related blocks was to me, @PropGit.

[2016-08-11 21:41] zfi commented on #401
The block geometry has been updated. I omitted the "(x,y) points" text but I can add it in if needed.

[2016-08-11 21:43] zfi commented on #406
This probably cannot be verified until we have the OLED print block.

[2016-08-11 21:56] zfi commented on #422
Corrected in PR #505.

[2016-08-11 21:57] zfi commented on #401
Please reference PR #504.

[2016-08-11 22:17] zfi commented on #454
Code updated on the Demo site.

[2016-08-11 22:28] zfi commented on #434
@DarkmatterVale: The C implementation is also missing the '<=' comparison.

[2016-08-12 16:28] zfi opened #507 "SQL Connection Timeout Error"
If the app is idle for some period of time, the backing SQL connection is closed by the server [error message below]. The application does not appear to detect this when it attempts to communicate with the database. Can the app check for an open connection before attempting to use it?

HTTP Status 500 - org.jooq.exception.DataAccessException: SQL [insert into `blocklyprop`.`session` (`idsession`,

[2016-08-12 17:33] PropGit opened #509 "NAN on Compile/Load after apparent auto-logout of user"
If leaving the BlocklyProp editor open for a while (with an existing program displayed, in this case), selecting to Compile or Load displays a NAN message.
![image](https://cloud.githubusercontent.com/assets/1266318/17631171/c91b69ec-6077-11e6-8dfa-9b14564c96fd.png)

I believe the real problem is that the user was automatically logged out between the last successful use and now, as navigating to t

[2016-08-12 18:02] CarsonGracey opened #510 "Servo Block"
![servo ramp](https://cloud.githubusercontent.com/assets/20099916/17632190/e3751514-607b-11e6-8f04-51f9915caa0f.PNG)

This block should be able to take a variable input where the 180 degrees are. The parameters would still be 0-180.

[2016-08-12 18:03] kgracey commented on #510
Strangely, this block used to accept a constant or variable input.

[2016-08-12 18:08] CarsonGracey opened #511 "RGB OLED: Round Rectangle Bug"
There is currently a bug with this block where the percent the corners are rounded isn't (w+h)/20. For example this block here

![round rect](https://cloud.githubusercontent.com/assets/20099916/17531957/16310b70-5e33-11e6-96f8-8b0bc795b267.PNG)

generates this code

[code]

(50+50)/20 equals 5 not 252.5 I can't explain the reasoning other than a possible typo in a previous commit.

[2016-08-12 18:23] PropGit commented on #507
@zfi and @michel-cf - could this be the cause of Issue #509?

[2016-08-12 18:24] CarsonGracey opened #512 "RGB OLED: Round Rectangle missing comma"
In the latest round rectangle commit, the comma after the % rounded (3 in this case) got removed by accident.

Blockly Generated:

[code]

Fixed in SimpleIDE:

[code]

[2016-08-12 19:59] zfi commented on #511
Possible a local browser caching issue? When I enter the same values, I get the code below, which calculates (50+50)/20 with a result of 5.

int main()
{
    cpal = colorPal_open(cpSIO);
    cog_run(checkcolor, 128);
    while (1)
    {
        print("red = %d\n", red);
        oledc_fillRoundRect(0, 0, 50, 50, 5 oledc_color565(255, 0, 0));
    }
}

[2016-08-12 20:05] CarsonGracey commented on #511
This appears to work now. Although there are still two other issues I've encountered with the round rectangle that I am currently submitting.

[2016-08-12 20:11] CarsonGracey opened #514 "RGB OLED: Round Rectangle NaN"
So I found another error for the first time with round rectangles.

[code]

What is happening is ```NaNoledc_color565(204, 0, 0)```  is incorrectly adding ```NaN```  before the function. This is happening with ```oledc_drawRoundRectangle``` and ```oledc_fillRoundRectangle```. I have had it show up only in some projects.

![round rectangle](https://cloud.githubusercontent.com/assets/20099916/176357

[2016-08-12 20:20] CarsonGracey commented on #514
Something I just realized after submitting this - the error is because the percent rounded comes from (w+h)/2. So whats happening is nothing, this is most likely because the compiler is interpreting the inputs as ```(getWidth()+getHeight())/2```. Without having actual number values, it results in a NaN. Do the getHeight and getWidth functions have underlying values in the library? @zfi and @matzel

[2016-08-12 21:04] kgracey opened #516 "S3 wait block: NaN"
@dcarrier-parallax the wait block seems to produce "not a number" type of code errors. For example:
![2016-08-12_14-16-26](https://cloud.githubusercontent.com/assets/9534148/17636913/22a3c56e-6095-11e6-9efb-764bc1ee18be.png)

Creates the following:
[code]
Is it treating the value as a string or character?

[2016-08-12 21:18] zfi commented on #514
The exact code that is failing is here:
code += ((Number(width) + Number(height)) / 20) + ', ';

The width and height values are derived from this code:
var width = Blockly.propc.valueToCode(this, 'RECT_WIDTH', Blockly.propc.ORDER_NONE);
var height = Blockly.propc.valueToCode(this, 'RECT_HEIGHT', Blockly.propc.ORDER_NONE);

I do not know what is happening when the value block is replaced with the

[2016-08-12 21:19] PropGit opened #517 "Increase Terminal Column Width by 1"
The terminal is 255 characters (columns) wide (0..254) instead of 256 characters (columns) wide (0..255).

Please increase it by one column.

[ Reference [Issue #321 Terminal Width Post](https://github.com/parallaxinc/BlocklyProp/issues/321#issuecomment-232483292) ]

[2016-08-12 21:21] MatzElectronics commented on #514
I'm sorry I'm not really tracking what the problem is, but I'll try to help
in any way that I can.  Not sure why getWidth() and getHeight() are getting
used here, they aren't relevant to the block unless you ate trying to draw
it full screen.

On Aug 12, 2016 4:19 PM, "Jim Ewald" <notifications@github.com> wrote:

[2016-08-12 21:51] zfi commented on #514
The OLED Rectangle block can generate rounded corners. There is an extra parameter in the block when rounded corners are selected to compute the radius of the rounded corner. The original code was written before the max height and width blocks were introduced and relied on the value block returning a number. Once we use the new max* blocks - which return a string - the code breaks. The new code up

[2016-08-12 21:55] MatzElectronics commented on #514
Got it, thanks!

On Aug 12, 2016 4:51 PM, "Jim Ewald" <notifications@github.com> wrote:

[2016-08-12 21:56] wstodghill opened #519 "S3 block request: "Advanced" LED set block request"
This is an idea for an advanced LED set block ( for the the three bi-color indicator LEDs -maybe for later...)

![advanced led set](https://cloud.githubusercontent.com/assets/8891440/17638167/dfecc2d4-60ad-11e6-8758-383058acda58.JPG)

Here is the block factory link - https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#q9qdy8

These are the LED set options in the Scribbler Object

[2016-08-12 21:57] wstodghill commented on #519
![advanced led set](https://cloud.githubusercontent.com/assets/8891440/17638157/d50f3824-60ad-11e6-8ba0-fcdc3b323e94.JPG)

[2016-08-12 22:00] kgracey opened #520 "S3 blocks: variables and constants"
@dcarrier-parallax we no longer have variable and constant blocks in the new S3 blocks [and need them].

[2016-08-12 22:16] CarsonGracey commented on #401
Tested and Verified.

[2016-08-12 22:16] CarsonGracey commented on #400
Tested and Verified.

[2016-08-12 22:20] #511 closed

[2016-08-12 22:21] kgracey commented on #502
@DarkmatterVale if you want to fix this one before @zfi gets to it please make yourself at home :)

[2016-08-12 22:21] zfi commented on #514
PR #521 submitted to master branch.

[2016-08-12 22:22] zfi commented on #512
Comma found. Update is on demo and PR #514 submitted for master

[2016-08-12 22:35] PropGit commented on #517
As a test, this code:

http://demo.blockly.parallax.com/blockly/projectlink?id=203&key=e398932f-8201-4f65-ac0c-a2a6c656ea9a

Should produce a display like this [numbers represent column numbers printed vertically; space = 0]:

(scrolled to extreme left edge)
![image](https://cloud.githubusercontent.com/assets/1266318/17638894/49e57192-60a2-11e6-9458-5eb4880ed561.png)

(scrolled to extreme right ed

[2016-08-12 22:42] kgracey commented on #454
@CarsonGracey please verify this for us.

[2016-08-12 22:49] PropGit opened #522 "Terminal's Vertical Scrollbar Thumb Control Never Shows Up"
When there are more rows of text to display than what can fit in the terminal, the screen scrolls (as expected) and can be scrolled vertically with the mousewheel, but the scrollbar's thumb control never appears and isn't clickable.

![image](https://cloud.githubusercontent.com/assets/1266318/17639165/886b33fa-60a4-11e6-8f7a-f60d9899ae0b.png)

This program creates the display above:
http://demo.bl

[2016-08-13 00:01] PropGit opened #523 "Terminal mangles semicolon followed by less-than"
Terminal injects a new line after a semicolon if a less-than character immediately follows.  It also stretches the terminal height by one line, covering part of the Close button when this happens.

![image](https://cloud.githubusercontent.com/assets/1266318/17640059/4310480e-60ae-11e6-876c-690c56d5ade6.png)

Use this code to test:  http://demo.blockly.parallax.com/blockly/projectlink?id=206&key=2a

[2016-08-13 00:18] PropGit opened #524 "Terminal - Visible Chars (ASCII 160 or Above) Make Terminal Unusable"
Visible Characters in the range ASCII 160 or above make the terminal unusable by blanking the display.  It remains in this state even on future downloads until the user refreshes the page without cache.

![image](https://cloud.githubusercontent.com/assets/1266318/17640206/18d17930-60b0-11e6-8f35-ebc6796b6a7d.png)

Use this code to test: http://demo.blockly.parallax.com/blockly/projectlink?id=204&k

[2016-08-13 01:20] PropGit opened #525 "Terminal - Clear Screen doesn't clear entire buffer nor scroll to top"
The Clear Screen (ASCII 16) control character does indeed clear the visible display, but it doesn't clear the entire receive buffer and doesn't scroll to the top line of the buffer as requested in Issue #321.

Use this code to test:  http://demo.blockly.parallax.com/blockly/projectlink?id=207&key=daa2d2d1-daad-41a5-8323-fdf9c8bda970

Note: Following the link causes a terminal misconfiguration issu

[2016-08-13 03:05] dcarrier-parallax commented on #516
Fixed before code committed in commit #acf37ad

[2016-08-13 03:05] #516 closed

[2016-08-13 03:51] wstodghill commented on #516
@kgracey and @dcarrier-parallax - In the dropdown menu - the following error occurs (at least for me - running Google Chrome or Explorer in Windows. See screen capture.

![wait block error](https://cloud.githubusercontent.com/assets/8891440/17641291/e9140148-60de-11e6-9bb3-b48da48d222e.JPG)

I propose these changes (which I think are technically more accurate too)

![wait block improved](https://c

[2016-08-13 03:52] wstodghill opened #526 "S3 - wait block revision"
@kgracey and @dcarrier-parallax - In the dropdown menu of the wait block - the following error occurs (at least for me - running Google Chrome or Explorer in Windows. See screen capture. - David and I discussed this previously and think it is  uni-code error).

![wait block error](https://cloud.githubusercontent.com/assets/8891440/17641291/e9140148-60de-11e6-9bb3-b48da48d222e.JPG)

I propose these

[2016-08-13 13:21] wstodghill commented on #520
There are lots of other blocks lost in the last move too. Is this the plan or just something that happens during an update. Many of my previously written projects lost pieces or are not gone completely due to loss of blocks in the S3 group. I hope we retain all those "other" ways to do things! Many were very powerful.

[2016-08-13 14:14] kgracey commented on #520
Hate to ask, but which blocks?

Sent from my iPad

[2016-08-13 14:37] wstodghill opened #527 "BlocklyProp Beta Demo Down?"
Are others able to log on to http://demo.blockly.parallax.com/blockly/

I have been unable to reach the site this morning - though http://blockly.parallax.com/blockly/ is up.

[2016-08-13 14:40] wstodghill commented on #520
I do not know our plans, but I just went to http://blockly.parallax.com/blockly/ and pulled at least these - though a few made the move (I think the variables are there now...) - can't compare since Beta Demo is down this a.m.

![controlblocksback](https://cloud.githubusercontent.com/assets/8891440/17643784/c9d8a526-6139-11e6-9f1b-897e98b688e5.JPG)

![operatorsblocksback](https://cloud.githubuserc

[2016-08-13 15:17] zfi commented on #527
The BlocklyProp app on the demo server failed earlier this morning. I have restarted the services and the app is available again.

[2016-08-13 15:17] #527 closed

[2016-08-13 15:24] wstodghill commented on #527
Thanks! Just found it up!

[2016-08-13 15:27] wstodghill commented on #520
Separate set volume block is gone too...

[2016-08-13 15:46] wstodghill commented on #520
Now that BlocklyProp is up I looked and the following are our current choices - this is what we have right now on 081316 am

![s3controlblocks081316am](https://cloud.githubusercontent.com/assets/8891440/17644077/a515c65c-6142-11e6-88f7-ac7885514e38.JPG)

![s3mathblocks081316am](https://cloud.githubusercontent.com/assets/8891440/17644078/a7c9312c-6142-11e6-9b96-c1a707079e80.JPG)

![s3variableblocks

[2016-08-13 20:41] zfi commented on #493
Rectangle block is done.

[2016-08-14 09:43] DarkmatterVale commented on #520
There were some merge issues yesterday. @zfi can you please take a look?

[2016-08-14 17:26] kgracey opened #528 "S3 block revision: set motor speed"
@dcarrier-parallax regarding this block we need some revisions:
![screen shot 2016-08-14 at 10 34 00 am](https://cloud.githubusercontent.com/assets/9534148/17650687/b0dbe130-6208-11e6-850d-41ad7d5e28f4.png)
Revise as follows:

set left motor speed (-100 to 100)%
set right motor speed (-100 to 100)%
for a time of (1-5000) ms
use 0 ms for continuous operation

Review these changes carefully as they

[2016-08-14 17:30] wstodghill commented on #528
@kgracey and @dcarrier-parallax  - I like this design and it is consistent with the GUI in function. Look forward to testing it too!

[2016-08-14 17:36] kgracey commented on #528
Thanks @wstodghill - we will deal with block revisions one at a time, clearly and explicitly.

[2016-08-14 19:50] kgracey opened #529 "S3 block revision: drive distance"
@dcarrier-parallax for this block we need some revisions:
![screen shot 2016-08-14 at 12 55 38 pm](https://cloud.githubusercontent.com/assets/9534148/17651514/824e311e-621d-11e6-8780-e5fe6d112dac.png)
- Revise the pull-down menu to read:
in [millimeters (mm), inches (in), centimeters (cm), inches (in), tenths of an inch (1/10th in), encoder counts (1/507th of a full rotation]
- set the default as

[2016-08-14 20:00] wstodghill commented on #529
Love it!

[2016-08-14 20:02] wstodghill commented on #526
@kgracey and @dcarrier-parallax - I've been thinking about this one too. It might be more concise and elegant to have only milliseconds (or second(s) and millisecond(s) ) see below:

![wait_block_sec_ms](https://cloud.githubusercontent.com/assets/8891440/17651562/57976afa-622f-11e6-8e29-1a266455e0f0.JPG)
https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#qoozzg

![wait_block_ms]

[2016-08-14 20:03] kgracey commented on #526
@wstodghill - could you modify this block to have a title "S3: wait block revision" so we can easily identify the S3 blocks from the greater PropBlockly "ecosystem"?

[2016-08-14 20:08] wstodghill commented on #526
kgracy - can you comment on the further revision?

[2016-08-14 20:13] kgracey commented on #526
Agreed on the suggestions from Whit with a minor modification. Since the (s) for plural is so similar to the abbreviation for second (s) how about this:

seconds (s)
milliseconds (ms)

The abbreviation of (s) or (ms) would be referenced in the tutorial for consistency. What do you think @wstodghill?

[2016-08-14 20:15] wstodghill commented on #526
@kgracey - perfect! ;-)

[2016-08-14 20:19] wstodghill commented on #526
![s3_wait_block_sec_ms](https://cloud.githubusercontent.com/assets/8891440/17651712/70a71808-6232-11e6-9091-f9757b65c4ac.JPG)
https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#rpnvnz

[2016-08-14 23:44] PropGit commented on #517
Verified fixed.

[2016-08-14 23:44] #517 closed

[2016-08-15 04:30] wstodghill commented on #519
@kgracey - I think we still need your input on this (even though it is lower priority - since it is an advanced S3 block.

[2016-08-15 04:44] wstodghill opened #530 "S3 block revision: change LEDs - (Fixed?) now works"
@kgracey - I would like to propose that revise this S3 LED block as noted. The current four color choices are perfect for this simplified block. I guess checked and black (off) would be the best defaults as current used.

![change_led_block](https://cloud.githubusercontent.com/assets/8891440/17655744/7fc3dbce-6277-11e6-9e6a-ca50d958f65a.JPG)

Check Box line should read:     change LEDs (ckbox) (ck

[2016-08-15 05:23] kgracey commented on #519
I'm in agreement and we'll produce this block. I'll assign it to David and we'll have it for release.

[2016-08-15 07:10] wstodghill commented on #529
@kgracey - To be consistent with Tutorial #3.2, this should be called a move distance block.

The tutorial also references max or maximum speed which I think is better, but at the least the block and Tutorial terms should match.

Please comment and you might need to update the info above.

[2016-08-15 10:18] DarkmatterVale commented on #434
I don't think I really understand the issue here. Below is a screenshot of a program I created in C using a while block.

![screen shot 2016-08-15 at 6 16 45 am](https://cloud.githubusercontent.com/assets/6094957/17661908/07116ece-62b0-11e6-9595-cbb7d590a2a7.png)

Can you please explain what needs to be changed?

[2016-08-15 16:47] zfi commented on #510
The range checking is in place but I can't seem to figure out how to update the value displayed in the block. For example, if the user enters 181, the onchange event correctly identified the range error and throws up an alert box. If the use dismisses the alert, the errant value remains in the display. Note that the code generation block does ensure that the value provided by the UI is within the

[2016-08-15 16:56] kgracey commented on #510
@DarkmatterVale could you get a look at this for us?

[2016-08-15 16:59] wstodghill commented on #519
@kgracey - thanks Ken! Should we keep the commas? I noticed you removed them from another block for simplicity.

[2016-08-15 18:06] zfi commented on #510
The code is live on Demo, PR #531.

[2016-08-15 18:15] kgracey commented on #519
No comments is best. We’re already violating some grammatical rules to keep things simple so we might as well remove commas too.

Ken Gracey
graceyken@gmail.com

[2016-08-15 18:17] kgracey commented on #510
@CarsonGracey test this and report back.

[2016-08-15 19:07] CarsonGracey commented on #510
![servo new](https://cloud.githubusercontent.com/assets/20099916/17675895/ae90054a-62e0-11e6-9fd1-8ed79501293f.PNG)

The block is working as intended except the text "degrees (0-180)" is missing.

[2016-08-15 19:24] wstodghill commented on #519
@kgracey - here it is then...

![set_leds_cap](https://cloud.githubusercontent.com/assets/8891440/17676324/aeaa1044-62f3-11e6-935e-203aaea78cd6.JPG)
https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#bqw6nc

[2016-08-15 19:24] kgracey commented on #519
That’s perfect.

[2016-08-15 19:31] wstodghill opened #532 "S3 block revision request: drive (simple by David)"
@kgracey - might we modify the S3 drive block (simple by David) as follows - drop-down menus woud remain unchanged

![simple_drive_block](https://cloud.githubusercontent.com/assets/8891440/17676457/40b12874-62f4-11e6-8b54-102523a27b67.JPG)

but, the text (with default drop-downs) would say...
drive (forward) going (straight) at (full) speed

Note - all lowercase.

[2016-08-15 19:34] kgracey commented on #532
OK, we just fixed this one but replaced “and go” with “and”. It should be live shortly.

[2016-08-15 19:37] wstodghill opened #533 "S3 block revision request: (was) Stop driving (simple by David)"
@kgracey - might we modify the Stop drive block (simple by David) as follows... Color remains the same.

![081416stop_block](https://cloud.githubusercontent.com/assets/8891440/17676739/7a737944-62f5-11e6-9d42-c2ad1d49589c.JPG)

block would become
drive stop

Note - all lower case

[2016-08-15 19:39] kgracey commented on #533
This one we will keep as-is. Send over more revisions you have in mind since we are working on the source code now.

[2016-08-15 19:48] wstodghill opened #534 "S3 block revision request: (was) Spin in place (simple by David)"
@kgracey - might we modify the Spin in place block as follows? Color remains the same - drop down for cw or ccw (symbols) remains unchanged, drop down for degree remains unchanged, drop down for speed remains unchanged, and drop down for stop or continue remains unchanged - I willing to eliminate this because I cannot figure out what it does - seems to function the same when I have tried it.

![08

[2016-08-15 19:49] wstodghill commented on #532
Great! Just as clear!

[2016-08-15 19:50] wstodghill commented on #533
Got it! Thanks...

[2016-08-15 19:58] kgracey commented on #534
Done, to be visible shortly,

[2016-08-15 20:00] kgracey commented on #519
It turns out that some of these intermediate colors are not readily distinguishable on the bi-color LEDs.

[2016-08-15 20:02] wstodghill commented on #534
Great! When those are done I will integrate them into something I've been working on...

[2016-08-15 20:18] wstodghill opened #535 "S3 block revision request: Play a tone"
@kgracey - might we revise the Play a tone to two OR three blocks? Now it is as so...
![play_tone](https://cloud.githubusercontent.com/assets/8891440/17677796/095ec10a-62fa-11e6-8e43-3e8dd866102d.JPG)

Please see the following revisions

Choice One (with key for value inserts) Note - all lowercase
play a tone (1 to 10,000) Hz
for a duration of (1 to 8,000) ms
at a volume of (0 to 100) %

Choice Tw

[2016-08-15 20:25] wstodghill opened #536 "S3 block requests: function blocks"
@kgracey - may we please have the function blocks available for the S3 - they are elsewhere in BlocklyProp, but we lost them. They are perfect as is...

![function_blocks](https://cloud.githubusercontent.com/assets/8891440/17678339/510c11a4-62fc-11e6-9a82-8811dcaa8c3e.JPG)

[2016-08-15 20:49] wstodghill commented on #528
@kgracey and @dcarrier-parallax  - can we get a resolution on the duration time for this block per Ken's question above - I too would like the max a 10,000 ms.

[2016-08-15 20:58] wstodghill opened #537 "S3 block revision request: serial blocks"
@kgracey - Were we going to make the following block specific for the S3 by setting pins and baud rates? So for instance in the S3's blocks the following might just become serial init or serial initialization - we might also use the same format with text indicating pin settings and baud rate for educational purpose with no change menus.

![serial_init_block](https://cloud.githubusercontent.com/ass

[2016-08-15 21:14] wstodghill opened #538 "S3 block revision request and restore: loops"
@kgracey - can we revise the S3 loop blocks as follows... moving to all lowercase text.
![loop_blocks](https://cloud.githubusercontent.com/assets/8891440/17679909/4474a2b0-6303-11e6-9cfd-b5643bb559c3.JPG)

and restore to the S3 loop choices the following... which were removed
![loop_c_blocks](https://cloud.githubusercontent.com/assets/8891440/17679941/6068b1a0-6303-11e6-97e2-58b968cab77e.JPG)

The

[2016-08-15 21:20] wstodghill opened #539 "S3 block restoration: delay block"
@kgracey - just a reminder that we have discussed whether or not to restore the following block. It's function is (of course) the same as wait - but - we have featured both in our tutorials. Your call obviously!
![delay_block](https://cloud.githubusercontent.com/assets/8891440/17680088/1d370e80-6304-11e6-95e8-63033dad9ba3.JPG)

[2016-08-15 21:20] kgracey commented on #536
The function blocks are coming back, but only the first and fourth on your list below (no return blocks or keyed versions since our variables are global. Their omission was somewhat accidental.

[2016-08-15 21:21] kgracey commented on #539
delay we shall keep.

[2016-08-15 21:24] wstodghill commented on #539
Bravo!

[2016-08-15 21:24] wstodghill commented on #536
Understood and very excited!

[2016-08-15 21:26] kgracey commented on #536
I’m equally EXCITED about this!

[2016-08-15 21:28] kgracey commented on #537
David has these all under revision right now (as in TODAY), for XBee and Print purposes primarily. He’s working on these along with the Ping))) and Servo blocks (hacker port add-ons) for initial release.

[2016-08-15 21:29] kgracey commented on #528
This is now fixed - just observed it at David’s desk. He is using a different method call that doesn’t have this bug.

[2016-08-15 21:30] zfi commented on #498
This is addressed in PR #540

[2016-08-15 21:33] kgracey commented on #538
Yes, doing this one now too. The IF [ ] RETURN block is something we are trying to remove right now, as we don’t have parameter returns enabled (all variables are global).

BTW we put a “Simple S3” menu at the top of the program. Big differences are that it has no variables, no function calls, and no boolean/integer conflict potential. I.e. Simple S3 will work with Simple S3 and the other stuff….w

[2016-08-15 21:35] wstodghill opened #541 "S3 block revision and request: play and play song"
@kgracey - one more we've been discussing - this may require more discussion. It the following block
![play_note_block](https://cloud.githubusercontent.com/assets/8891440/17680287/09e53216-6305-11e6-9190-316c3668d680.JPG)
1. case police - request Play move to play
2. The unicode in the first drop down consistently gives this problem at least on my system/browser - don't know if it could be text wh

[2016-08-15 21:42] CarsonGracey commented on #498
Verified.

[2016-08-15 21:42] #498 closed

[2016-08-15 21:46] CarsonGracey commented on #541
@wstodghill, one thing this block would need is selectable or a locked BPM that is shown on the block.

[2016-08-15 21:50] wstodghill commented on #541
@CarsonGracey - you musicians blow my mind! ;-) That was present in the old GUI as the tortoise and hare - slow down or speed up - Great call!

[2016-08-15 22:00] kgracey commented on #541
Let me check with David and see if we can get the BPM in the Priority Release #1.

[2016-08-15 22:01] zfi commented on #494
@michel-cf or @DarkmatterVale , con some point me to where we filter the blocks available based on the hardware platform? I see hardware definitions in the cdn/blockly/generators/ but I'm not following the definitions to how the blocks are specified for each hardware platform.

[2016-08-15 23:27] kgracey commented on #541
We will wait on integrating the BPM feature into Priority #1 release, but leave it in Issue Tracker as a requested feature.

First, we’d like to port over the S2 songs from the S2 GUI into Blockly.

[2016-08-15 23:49] zfi commented on #510
Added the omitted text and included a default value block.

[2016-08-16 00:03] zfi commented on #510
@CarsonGracey , updated code is now on Demo. Please close the issue if the work is complete.

[2016-08-16 00:37] wstodghill commented on #541
I made this a while back - early - just an idea - might get us started.
![play song block](https://cloud.githubusercontent.com/assets/8891440/17684251/9dc1366e-631f-11e6-9544-a3dbfe7b23d6.JPG)
with this drop down...
![play song drop-down](https://cloud.githubusercontent.com/assets/8891440/17684255/a9772202-631f-11e6-9900-3373a31be08e.JPG)

https://blockly-demo.appspot.com/static/demos/blockfactory

[2016-08-16 00:58] wstodghill commented on #519
@kgracey - I remember it being subtle on the S2. Y'all decide - but let's get all we can really tell apart - especially the blinky and the alternating if possible. Is it chartreuse and orange that don't really work? How was David getting blink amber (which we could make blink yellow)? It was not one of original choices.

[2016-08-16 03:29] dcarrier-parallax opened #543 "Limit block needs case change"
The 'Limit' block, common to both 'C' and 'Spin' programs, needs the 'L' changed to lowercase, to match all of the other math operators.

![limit](https://cloud.githubusercontent.com/assets/11430907/17687091/dc4c699c-6326-11e6-96bd-6b7ac4cb4aca.png)

[2016-08-16 03:31] dcarrier-parallax commented on #437
The reserved words list is also incomplete.  This issue should remain open until the entire list is extracted from the Propeller Manual.

[2016-08-16 10:18] DarkmatterVale commented on #465
@kgracey Would you like me to replace the current loop block with all the blocks @wstodghill suggested? I think it would be simpler for the user as well as add functionality.

[2016-08-16 16:19] kgracey commented on #465
OK, I met with Miguel this morning and understand what he's asking for.

We need a loop construct which supports:

Starting at a specified value
Ending on or before a specified value
Stepping negative or positive number

The THIRD example @wstodghill Whit provided is what we need.

![image](https://cloud.githubusercontent.com/assets/9534148/17706632/a8fce876-6391-11e6-96d1-54f5a129f1d0.png)

Just

[2016-08-16 17:43] zfi commented on #499
The block has been updated as requested. Will post to Demo at 10:45 AM today.

[2016-08-16 17:46] #514 closed

[2016-08-16 18:44] zfi commented on #308
Must be at or below my pay grade. A patch will be on Demo shortly.

[2016-08-16 18:47] kgracey commented on #308
We can lower your salary if needed. @zfi

[2016-08-16 19:06] zfi commented on #308
Patch has been posted to Demo.
@kgracey:  lol

[2016-08-16 19:10] CarsonGracey commented on #510
Tested and Verified.

[2016-08-16 19:10] #510 closed

[2016-08-16 19:15] wstodghill commented on #465
@kgracey - will this be coming to the S3 BlocklyProp group also?

[2016-08-16 19:33] kgracey opened #546 "Sony Remote Control: button text improvement discussion"
Here's an example of a Blockly command in Sensors that does so much, but looks so whimpy. Underneath the Sony infrared handheld remote is a library that sorts out a variety of IR pulses and turns them into nice decimal numbers.

But our Blockly implementation text makes it look like a pushbutton.

What's a better text explanation we could put in this block? The function is fine - it works - but we

[2016-08-16 19:59] wstodghill commented on #546
get Sony remote input value at pin# (input)

[2016-08-16 20:09] wstodghill commented on #543
Anyway to find out block info like Name, OPTIONNAME, dropdown NAME, Colour, Input type? Is there something I don't know how to find?

That way I could build a block that was ready to go...

[2016-08-16 20:51] CarsonGracey commented on #308
Looks good, verified.

[2016-08-16 20:51] #308 closed

[2016-08-16 20:52] CarsonGracey commented on #499
Tested and Verified.

[2016-08-16 20:59] CarsonGracey commented on #541
I see what you mean, maybe it would be easier if we list a few tempos: https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#iemfqf

![bpm](https://cloud.githubusercontent.com/assets/20099916/17715590/b1a19940-63b9-11e6-912e-5115983f1186.PNG)

[2016-08-16 21:31] wstodghill commented on #541
@CarsonGracey - could we eliminate the for (0) (ms) and say something like this with dropdowns as shown and an insert value? I love the tempo idea - need a ) after 168 bpm.

play song (entertainer) (insert value) time at tempo (largo (60 bpm)

[2016-08-16 21:39] wstodghill commented on #535
@kgracey - anyway to get the stand alone set volume block back - should I make a request as a separate issue. It would be restoring something we had... It allowed the possibility of a single volume adjustment at the "top" of a program with other variables - set one place - easy change.

[2016-08-16 22:00] zfi commented on #432
Is it OK to remove this block?

![2016-08-16_14-58-07](https://cloud.githubusercontent.com/assets/8442260/17717285/003f62f0-63c2-11e6-9ce3-b5e40754afda.png)

[2016-08-16 22:07] wstodghill commented on #530
@kgracey and @dcarrier-parallax - looks like we have bug the the revised change these LEDs block - I get the following message when I try to compile:

![led block compile error](https://cloud.githubusercontent.com/assets/8891440/17717362/35a88a78-63d3-11e6-8ba1-db166e52f1bd.JPG)

I notice also that the yellow is amber now too. The offending color is ff7f00 - which is the amber. Don't know if the c

[2016-08-17 02:53] kgracey commented on #432
Yes

Sent from my iPhone

[2016-08-17 05:27] wstodghill opened #547 "S3 rotate the Scribbler robot block: ERROR"
@kgracey and @dcarrier-parallax,

If I understand how this block should work - we have an error - regardless of setting of the around a radius in "value" - my S3 spins in place at the top speed (both wheels) for the degrees set.

The rotational degree setting seems to have a slight error too - but this could be a calibration issue - will we have a user calibration block (per the Scribbler Spin Obj

[2016-08-17 06:48] wstodghill opened #548 "S3 block request: comment block"
@kgracey and @dcarrier-parallax - might we add the comment block that is present in the C section of BlocklyProp to the S3 blocks - I know that commenting Blockly code is a bit busy - but, it might be very helpful for creating teaching code. A student could look at an example and see what the coder was thinking, doing, and why.

![comment_block](https://cloud.githubusercontent.com/assets/8891440/1

[2016-08-17 13:32] wstodghill commented on #533
@kgracey and @PropGit - I think this Issue can be closed!

[2016-08-17 13:33] #533 closed

[2016-08-17 13:36] wstodghill commented on #530
Which of these LEDs from the new Scribbler Object are we trying to use in this block?

 ![led_constants_scribbler_object](https://cloud.githubusercontent.com/assets/8891440/17738093/7323a950-6455-11e6-8a3f-8dafd564ccdb.JPG)

[2016-08-17 14:04] wstodghill commented on #537
@kgracey - the console provides nice feedback in example programs too!

[2016-08-17 14:09] wstodghill commented on #530
@kgracey and @dcarrier-parallax - okay - The current block shown with the more amber/orange color picker WORKS now - David - did you fix this?

If you verify - I'll close this.

[2016-08-17 14:56] michel-cf commented on #433
Can this be closed?

[2016-08-17 14:58] michel-cf commented on #548
I would at least put in a small text that indicates that it's a comment. Otherwise, once the text has been changed it might get confused with a string.

The second block could be placed anywhere (the same for the first one), except that you can't connect it to anything.

[2016-08-17 15:49] DarkmatterVale commented on #548
The actual block has text (see https://github.com/parallaxinc/BlocklyProp/blob/master/src/main/webapp/cdn/blockly/generators/propc/base.js#L181). Must be another merge issue...

[2016-08-17 15:52] DarkmatterVale commented on #433
No this cannot be closed because a PR needs to be sent to the master branch

[2016-08-17 15:57] wstodghill commented on #548
I originally made a comment block on the Block Factory with no color to distinguish it from the program - it looked like this.

![comment](https://cloud.githubusercontent.com/assets/8891440/17743409/411bd018-6469-11e6-92bc-72245c251dca.JPG)

https://blockly-demo.appspot.com/static/demos/blockfactory/index.html#ztahue

[2016-08-17 16:08] michel-cf commented on #433
Why are you struggling all the time with that master branch. Why don't wait until we get a tested version and then push everything to master at once? (If needed with an acceptance stage in between)
Then you can close all the tickets when they are validated in demo.
This way of merging everything individually (, and out of order) just introduces more chance for merge issues.

[2016-08-17 16:42] wstodghill commented on #433
Michel,

So sorry - it is just my ignorance of how GitHub works - I will try to find a better way of communicating - I just don't know how. Looking to help - not mess things up!

Will try to get a better understanding of how I should use GitHub. Sorry again.

Whit+

The Rev'd T. Whitfield Stodghill, III
www.saintalbansepiscopal.org
Sent from my iPhone

[2016-08-17 16:49] michel-cf opened #549 "How to use the master branch"
As mentioned in #433:

Why are you struggling all the time with that master branch. Why don't we wait until we get a tested version and then push everything to master at once? (If needed with an acceptance stage in between)
Then you can close all the tickets when they are validated in demo.
This way of merging everything individually (, and out of order) just introduces more chance for merge issue

[2016-08-17 16:52] DarkmatterVale commented on #433
@wstodghill He was talking to me not you.

@michel-cf For a number of reasons including:

1. Messed up history
2. Features/commits we don't want on master on demo (if we merge demo into master then this cannot be avoided)
3. If the system is used *properly*, then it is much faster to get features to production quickly

[2016-08-17 16:53] DarkmatterVale commented on #549
I answered your question in #443.

[2016-08-17 21:04] PropGit commented on #433
@DarkmatterVale and @michel-cf - Please continue this side discussion in Issue #549.

[2016-08-17 21:04] PropGit commented on #549
@DarkmatterVale - Let's continue the conversation here.

@michel-cf and @DarkmatterVale - our demo branch has diverged from master so much (so long) that commit-group merges into master are a nightmare because of many conflicts.  This is because development was running at a swift pace with no scheduled sprints with managed merges at their end.

What we need to do is a big merge (or rather replacem

[2016-08-18 10:23] DarkmatterVale commented on #549
@PropGit I will look, but the problem I see is that there could be blocks that have had merge issues which revert them back to pre-fix state. This is a common issue (just take a look at the comment block...) and to fix it we will have to go through a lot of the closed tickets to ensure the blocks are not broken.

[2016-08-18 15:48] PropGit commented on #549
@DarkmatterVale - That's exactly what I was worried about too.  I think I've seen a few of them.  Since you've noted that, I'll go through the history on demo more carefully today to find and note those things.  Most I can figure out, but some I will need your help in confirming or denying that it's a problem.  I know you're busy and maybe can't afford any more time on this, this week.  If you can

[2016-08-18 16:46] DarkmatterVale commented on #549
Here is what I know is incorrect. I'd recommend NOT messing with the history; just leave it and append new commits to fix the broken things. In the future we can worry about keeping a clean history....

1) Comment block : wrong text (see master branch for correct version of code)
2) Values blocks : two of the blocks within the Values category are colored incorrectly

I think that's all...

[2016-08-18 17:25] zfi commented on #528
Has this been pushed into the demo branch yet?

[2016-08-18 17:36] zfi commented on #500
Has this been submitted to the demo branch?

[2016-08-18 17:38] DarkmatterVale commented on #500
@zfi I have it completed but I cannot test locally because I am away from my main dev setup. Should I send to demo without testing locally?

[2016-08-18 17:41] zfi commented on #500
Yes, send it to demo with Needs Verification label.

[2016-08-18 18:59] drpiccioni commented on #433
Just so you know: In demo, Save-As creates a copy of the current project with the same name as the current project, even though a new name is entered.

[2016-08-18 19:00] mrodriguez-parallax opened #551 "rc_time() block can't be looped."
Hi everyone.

I'm trying to loop the rc time block forever just like in the C code below.

[code]

However I can't seem to find a loop that the rc_time block fits into. Looks like the block needs to be modified to fit into a loop block.

![image](https://cloud.githubusercontent.com/assets/20686764/17786681/d068611a-653a-11e6-9622-54975b7e8b58.png)

Miguel

[2016-08-18 19:06] mrodriguez-parallax commented on #551
Disregard.

The rc_time blocks need to be set equal to a variable and that variable block attaches to the rest of the block.

Miguel

[2016-08-18 19:09] #551 closed

[2016-08-18 21:53] wstodghill commented on #528
@zfi,  Not sure what that means - I am trying not to fowl things up here - I know that right now in BlocklyProp Beta Demo - we have a working and corrected block with a duration setting from 1 - 65,535.

[2016-08-18 21:57] zfi commented on #500
Final block looks like this:

![2016-08-18_14-56-32](https://cloud.githubusercontent.com/assets/8442260/17792141/0db2fea4-6554-11e6-854e-dd5ed6c0384b.png)

[2016-08-18 21:57] #500 closed

[2016-08-18 22:07] zfi commented on #502
The value (200 in this example) is not getting expressed in the generated code. The channel select appears to be working as specified.

![2016-08-18_15-03-41](https://cloud.githubusercontent.com/assets/8442260/17792331/0152965a-6555-11e6-9b9c-23df2b0f84e9.png)

#include "simpletools.h"
#include "abvolts.h"

int main()
{
    da_init(26, 27);
    da_out(0, (0 * 256 / 330));

}

[2016-08-18 22:12] zfi commented on #341
The comment block needs a newline at the end of the comment string.

![2016-08-18_15-10-33](https://cloud.githubusercontent.com/assets/8442260/17792532/0f7047c2-6556-11e6-9a3b-b1431aad18e2.png)

#include "simpletools.h"

int main()
{

    // This is a comment// Second Linepause(1000);
    //
}

[2016-08-18 22:30] zfi commented on #528
I am just trying to verify that the block @kgracey viewed on the dev system actually made it up to the demo system.

@dcarrier-parallax: Which commit contains this update?

[2016-08-19 10:56] DarkmatterVale commented on #494
The filtering is done within the ```framec.jsp``` file, but this is a category name change which is located in the file ```translations.properties```

[2016-08-20 10:14] DarkmatterVale commented on #549
I'm going to close this since the new process has been thoroughly documented within the BlocklyProp developer's guid

[2016-08-20 10:14] DarkmatterVale commented on #549
Oh I guess I can't close it?

[2016-08-20 22:59] MatzElectronics commented on #459
Good afternoon,

Checking on this - is it possible to set the color as a quantity...instead of this:
![image](https://cloud.githubusercontent.com/assets/19737272/17834291/650aab8e-66ee-11e6-9656-be9a5a8b9ef7.png)

Do this:
![image](https://cloud.githubusercontent.com/assets/19737272/17834290/59136f3c-66ee-11e6-8bed-4e9571e98aab.png)

for each of the OLED blocks?  That way the color can be set prog

[2016-08-21 03:47] #549 closed

[2016-08-22 12:11] DarkmatterVale commented on #465
@kgracey I will get it done today

[2016-08-22 12:32] DarkmatterVale commented on #459
@MatzElectronics Regarding your first point, yes it is possible. I will try to make that change today.

I'm a little confused by your second point...Would we be creating a new ColorPal block or modifying the current one?

[2016-08-22 14:55] MatzElectronics commented on #459
A new one, and labelling the old one as "Raw" or something to that effect.

On Aug 22, 2016 5:32 AM, "Vale" <notifications@github.com> wrote:

[2016-08-22 16:51] zfi opened #556 "The Communucate >> OLED menu contains redunant items"
The 'max width' and 'max height' blocks appear twice in the Communicate >> OLED menu. Please remove the second set of items.

[2016-08-22 16:59] zfi opened #557 "Reconfigure the MMA7455 sensor block to a virtical orientation"
The MMA7455 block under the Sensor >> MMA7455 menu item is so wide as to scroll off of the work surface. Please change the orientation from horizontal to vertical.

[2016-08-22 17:02] DarkmatterVale commented on #557
I got this done on my local branch but I need to test before pushing to demo

[2016-08-22 17:10] DarkmatterVale commented on #543
I'm not sure the block factory has that functionality @wstodghill but I'll let you know if I find it...

[2016-08-22 17:12] DarkmatterVale commented on #502
#554 fixed the issue you were seeing @zfi

[2016-08-22 17:12] #499 closed

[2016-08-22 18:26] dcarrier-parallax opened #558 "Add terminal support for 9,600 baud, set default baud rate at or below 57,600 baud."
The Scribbler 3 hardware does not differentiate between active USB UART and XBee module connections, and the XBee module defaults to 9,600 baud, so for compatibility reasons, the terminal needs to also support 9,600 baud.

The terminal currently only supports 115,200 baud, which due to the lack of slow control on our current products, is too fast for the FT231X buffer, and causes occasional missed

[2016-08-22 19:09] MatzElectronics commented on #459
Found the math I was suggesting for this, realized I actually submitted it as a request to add a function in Simple Libraries, so that could be the hangup...

https://github.com/parallaxinc/Simple-Libraries/issues/29

[2016-08-22 19:27] DarkmatterVale commented on #459
@MatzElectronics Can you create a new issue for the ColorPal block modifications please?

Thank you!

[2016-08-22 19:55] DarkmatterVale commented on #455
This works fine on the Demo system.

[2016-08-22 19:55] #455 closed

[2016-08-22 19:55] DarkmatterVale commented on #454
bump

[2016-08-22 19:55] DarkmatterVale commented on #452
bump

[2016-08-22 20:05] MatzElectronics opened #561 "ColorPal Block modifications"
For the ColorPal, The current block needs to be modified to say "raw output" since it outputs three separate colors in a 24bit format with some funky ranges, and those outputs are not white balanced or adjusted in any way.  That being said, it's still valuable to have.

To bring the ColorPal in line with how we are "standardizing" color, we need to create a second ColorPal block that just outputs

[2016-08-22 20:06] MatzElectronics commented on #459
Done :)

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzElectronics>

On Mon, Aug 22, 2016 at 12:27 PM, Vale <notifications@github.com> wrote:

[2016-08-22 23:47] DarkmatterVale commented on #206
As requested by @kgracey this issue will be closed.

[2016-08-22 23:47] #206 closed

[2016-08-22 23:49] DarkmatterVale commented on #491
Has someone tackled this yet?

[2016-08-23 14:15] wstodghill commented on #543
Should this be able to connect with a if/do block? Right now it does not...

![if do](https://cloud.githubusercontent.com/assets/8891440/17895260/2a3cbe0e-6912-11e6-9f0b-7fe956bb6c56.JPG)

[2016-08-23 14:21] DarkmatterVale commented on #543
I don't think it should; the limit function returns a float, not a boolean

[2016-08-23 17:34] DarkmatterVale commented on #546
@kgracey would you like to see a change of the block text in release 1?

[2016-08-23 18:04] michel-cf commented on #558
Duplicate #490

[2016-08-23 18:20] DarkmatterVale commented on #434
bump

[2016-08-23 18:21] DarkmatterVale commented on #307
The problem @CarsonGracey mentioned has been fixed by @zfi

[2016-08-23 18:21] #307 closed

[2016-08-23 18:35] DarkmatterVale commented on #561
Is it alright the new block will be dependent on https://github.com/parallaxinc/Simple-Libraries/issues/29? I'd prefer not to show all that math to a simple user...

[2016-08-23 18:55] MatzElectronics commented on #561
Yes, I think Andy is aware and I'll let you know when that addition gets
made to Simple Libraries.  I don't want to expose that math either...it's a
bit ugly :)

On Aug 23, 2016 11:35 AM, "Vale" <notifications@github.com> wrote:

[2016-08-23 20:30] zfi commented on #493
Updated nearly all of the drawing blocks. I am not convinced that the pixel block required the same treatment.

[2016-08-23 20:56] MatzElectronics commented on #561
Hi!

Andy just submitted this, so you should be able to include it - it may
require the server's simple libraries to be updated before it works,
however.  He's doing some other bug fixes too.  I'll make sure to let Jim
know it's coming.
Thanks,
Matt

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzE

[2016-08-23 22:25] zfi commented on #492
The output connector was removed because no code will execute beyond the return statement.

[2016-08-24 02:33] wstodghill commented on #543
Gotcha!

[2016-08-24 05:55] zfi commented on #561
The updated library has been migrated to the deployment server and pushed to Demo. I think we can close this issue now.

[2016-08-24 06:07] zfi commented on #558
Closing this issue. Please refer to issue #490 for further details.

[2016-08-24 06:07] #558 closed

[2016-08-24 06:12] zfi commented on #507
It is possible that these are related issues. The only common detail is that there are a number of hours between accesses when the errors occur. The issue reported in #509 should generate some interesting log data. We need a date and time of the occurrence to match it with log file activity.

[2016-08-24 06:23] zfi commented on #434
Apparently everyone is in stunned silence over the recent development. That screenshot sure looks like what was reported as missing. I see it in the S3 block list too.

Closing this issue since it appears to be resolved.

[2016-08-24 06:23] #434 closed

[2016-08-24 06:25] zfi commented on #321
@PropGit Are you able to complete the tests for this issue or do you want to hand it off for reassignment?

[2016-08-24 07:21] wstodghill commented on #547
Anybody else tested this? As of yesterday, I still could not get it to work other that rotating in place.

[2016-08-24 07:27] wstodghill commented on #539
We have retained this function but under the wait title  - there are now two wait blocks - one a Simple Scribbler Control Block, the other an S3 Control Block that allows the use of a variable for the wait value.

Here they are

![wait simple](https://cloud.githubusercontent.com/assets/8891440/17921972/33121af2-69a2-11e6-90f4-3e922d761e32.JPG)

![wait advanced](https://cloud.githubusercontent.com/

[2016-08-24 14:25] zfi commented on #491
This change should appear on the Demo site in about 5 minutes.

[2016-08-24 14:49] DarkmatterVale commented on #399
This was merged into master during the demo merge over the weekend so we can close this.

[2016-08-24 14:49] #399 closed

[2016-08-24 14:50] DarkmatterVale commented on #409
Demo merge this weekend pulled this into the master.

[2016-08-24 14:50] #409 closed

[2016-08-24 16:43] PropGit opened #569 "Terminal - Position Cursor (y) [ASCII 15] - Uses Visible Position Instead of Buffered Position"
The Position Cursor (Y) control character sequence [ASCII 15] moves the cursor within the constraints of the visible text, but the intent is that it moves it within the buffered rows (the logical buffer for which the display window is only showing a small portion).

This means that if rows 0, 1, and 2 have scrolled off-screen, the sequence 15, 1 actually positions the cursor on logical row 3 (whic

[2016-08-24 16:44] PropGit opened #570 "Terminal - Position Cursor (y) [ASCII 15] - Row Index is off by 1"
The Position Cursor (Y) control character sequence [ASCII 15] places the cursor on the wrong row; it's off by 1.

The Receive Buffer's topmost rows are numbered 0 to 255, but sending 15, 1 to the terminal positions the cursor on row 0 (the first row) instead of on row 1 (the second row).  Incidentally, sending 15, 0 also places it on row 0, but I believe that is due to a different problem detailed

[2016-08-24 16:46] PropGit commented on #321
@zfi - I'm completing what tests I can right now.  There are problems with the current implementation preventing me from actually performing all tests successfully, so I'm making separate issues to address them and would like to leave this issue open as an overall tracker of implemented and tested progress.

[2016-08-24 17:01] PropGit opened #571 "Terminal - Position Cursor (x) [ASCII 14] - Column Index is off by 1"
The Position Cursor (X) control character sequence [ASCII 14] places the cursor on the wrong column; it's off by 1.

The Receive Buffer's columns are numbered 0 to 255, but sending 14, 2 to the terminal positions the cursor on column 1 (the second column) instead of on column 2 (the third column).

[ Relates to Issue #321 ]

[2016-08-24 17:09] PropGit opened #572 "Terminal - Position Cursor (x,y) [ASCII 2] - Does not work"
Though [a post says it's implemented](https://github.com/parallaxinc/BlocklyProp/issues/321#issuecomment-238093382), the Position Cursor (x,y) [ASCII 2] control character sequence does not seem to work.  Sending the sequence 2, 1, 5 followed by text (for example) has no visible effect... in fact, no text displays in that case.

Did the update perhaps become 'undone' in a later commit?

[ Relates t

[2016-08-24 17:12] kgracey commented on #421
This issue is outdated by other changes that have been made to the menu.

[2016-08-24 17:12] #421 closed

[2016-08-24 17:12] PropGit commented on #321
The [post above](https://github.com/parallaxinc/BlocklyProp/issues/321#issuecomment-236297473) tracks what features have been implemented and verified correct (checkmarks indicate verified).  As of now, all General Behavior is correct, the important Visible Characters are correct, and Clear Screen, New Line, Position Cursor (x) and Position Cursor (y) have partially correct functionality.

Issues

[2016-08-24 17:13] kgracey commented on #547
@dcarrier-parallax is looking at this today. It might be best that if he can't readily figure out the issue that we simply remove the second line "around a radius". We will either modify the block or make it work as intended today.

[2016-08-24 17:14] wstodghill commented on #491
Saw the change at the bottom of the page - and that it still lists this as a new Spin program with a Spin Icon (rather than the S3 Icon). I think that is okay - but since Spin is not directly generated (it is a bit confusing). What about at the upper tool bar too - under New projects is this choice...

![new project](https://cloud.githubusercontent.com/assets/8891440/17940355/4c52ea30-69f4-11e6-80

[2016-08-24 17:15] PropGit opened #573 "Terminal - Home Cursor Need Implementation"
The Home Cursor [ASCII 1] control character needs to be implemented.

[ Relates to Issue #321 ]

[2016-08-24 17:16] kgracey commented on #548
@dcarrier-parallax and I discussed. We will create this and call it a "Note".

[2016-08-24 17:18] kgracey commented on #546
Yes, we need to get this done. @zfi you can change the text to "Sony remote value received at pin#"

[2016-08-24 17:19] DarkmatterVale commented on #491
@wstodghill #568 Fixes that last one :D

[2016-08-24 17:21] MatzElectronics commented on #561
Good morning,

I found a problem with some of the related blocks - specifically "color compare" and "get red/green/blue value from".  The math is being done in the Java, which is fine for preset colors, but not for programs.  Below is an example of a program where we want the Prop to do the math dynamically (I understand the math for this isn't pretty, so maybe we need to talk about a couple more

[2016-08-24 17:23] kgracey commented on #539
This issue has been resolved.