[2014-12-20 19:03] DarkmatterVale opened #23 "EEPROM support - built in boards only for proof of concept"
For many new blocks, we need EEPROM address support. What is the best way to accomplish this? I am thinking, for the already built boards, we add a table in the propc and spin javascript files that has a table of a couple hundred EEPROM addresses.

Another solution is to add a choice in the project creation window that lets the user choose which EEPROM they are using and adds that table in a way t

[2014-12-20 19:05] DarkmatterVale opened #24 "Project Creation Window still crashes"
Don't know why this happens, but if you create a project and then try to create another, on step 3 before you can click the submit button, it says: submitting.....

It stays like this forever and crashes the tab.

[2015-01-03 22:55] DarkmatterVale commented on #24
I have done a little more testing, and what I have figured out is that every time you try and edit the project after it is created, the project window crashes. I don't know why, but I will try to check it out. Maybe it is meant to be like that for now?

[2015-01-03 22:57] DarkmatterVale opened #25 "Find C libraries if already installed on the computer"

[2015-01-04 15:34] michel-cf commented on #24
I'll replace the wizard with a more documented expansive library.

Currently: https://github.com/amoffat/bootstrap-application-wizard

[2015-01-04 15:38] michel-cf commented on #25
This is something for the BlocklyPropClient. I'll close this one and open it under that project.

[BlocklyPropClient issue 10](https://github.com/parallaxinc/BlocklyPropClient/issues/10)

[2015-01-04 15:38] #25 closed

[2015-01-04 16:22] DarkmatterVale commented on #24
That sounds like a great idea. Are you planning on keeping the same options in the new wizard?

[2015-01-04 16:22] DarkmatterVale commented on #25
Oh, sorry.

Thanks for correcting the mistake.

[2015-01-05 22:54] michel-cf opened #26 "Friends component"
Discussion and followup of friends component

Just a one minute brainstorm about the friends module:
There needs to be a new table, having a double relation with the users table (friend1, friend2).
- A since column so we'll later know when they became friends (this is currently not important)
- One of the friend will be the one who requests the relation, but it will only be in effect if the other

[2015-01-08 13:38] DarkmatterVale commented on #26
After a little thought, below is what I am thinking will have to be changed. This is just a start though. I am still thinking this through.

1) A new table exactly as you mentioned above
2) A change on the current interface for creating projects
    - A new checkbox will have to be created for sharing projects with only your friends. I am not sure yet what implications this will have on the php co

[2015-01-08 14:49] michel-cf commented on #26
Looks good except for point 2:  A new checkbox will have to be created for sharing projects with only your friends. I am not sure yet what implications this will have on the php code, but I think the changes required will be minor.

Any projects that are not private are visible for friends. Public projects are visible for everyone. This eliminates the requirement for a visible for friend checkbox.

[2015-01-08 15:57] DarkmatterVale commented on #26
Oh, I see what you are saying. That saves a lot of effort!

Do you think anything else should be changed? Do you have any other ideas?

[2015-01-17 16:48] DarkmatterVale commented on #26
![friends page in my account](https://cloud.githubusercontent.com/assets/6094957/5789551/4fc14d5c-9e3e-11e4-9724-72c62e2d1d58.png)

This is one picture of the interface I am currently working on. Specifically, this picture shows the Friends tab under the My Account page. I know the table is incorrect; I'm working to get the table to be correct.

[2015-01-26 00:49] DarkmatterVale commented on #23
I have now added base support for the already built boards, but if we will like to add support for other EEPROM boards we will have to add something in the project creation window.

[2015-02-01 21:41] DarkmatterVale opened #28 "Using multiple of the same sensor"
Current issue with my ( and some of the original sensor blocks ) is that you can only reference/use one of each type.

I am not sure whether this can be easily fixed, or whether it will require a more advanced solution for certain blocks. I will do more investigating and reply when I have an answer.

[2015-02-02 20:45] michel-cf commented on #28
Good point, although BlocklyProp will have some restrictions on what is possible, using multiple times a given sensor/actuator that require individual instances of some objects (I'm talking in spin language here, but the same applies for C) should be possible.

I propose we add a selectionbox to those blocks that require an object instance. We could then append the chosen id to the object name.

I

[2015-02-03 18:43] michel-cf commented on #24
In the progress of fixing this bug I've changed the wizard library to:
http://www.panopta.com/2013/02/06/bootstrap-application-wizard-2/

This one is much more complete and documented. Although it is possible that changes in it's source code are still required.

[2015-02-03 18:47] DarkmatterVale commented on #24
Ok. I will leave this issue open for a little longer because we will need to test the implementation of the new wizard to make sure everything is correct for all operating systems.

Thanks for fixing this!

[2015-02-12 00:10] DarkmatterVale opened #31 "XAMPP install issue - Server setup wiki needs testing"
When trying to install XAMPP, a user had trouble getting it installed. Even though this is not a problem on our end, we should still test the wiki and make sure everything turns out like it should

[2015-02-17 14:02] DarkmatterVale opened #32 "Demo programs cannot be compiled and/or downloaded"
It has been brought to my attention that the demo programs cannot be compiled and downloaded. I do not know if this is a bug, or if this is the way it was meant to be.

[2015-02-17 14:06] #23 closed

[2015-02-17 14:11] DarkmatterVale opened #33 "Second-layer categories"
I do not know what the status is on this, but I think this has been discussed as something that needs to be completed.

Michel, since this is a core function addition, I will just put you as the assigned individual.

[2015-02-18 01:14] DarkmatterVale opened #34 "Basic Stamp support"
This issue will hold the discussion for the Basic Stamp addition to the project.

[2015-02-19 11:56] DarkmatterVale commented on #24
Just tested the window and sadly it still crashes.

Maybe it is something in the code that is making the window wait for some event that will never be triggered?

[2015-02-19 12:09] DarkmatterVale opened #36 "Write Help documents"

[2015-02-19 12:25] michel-cf commented on #24
Might be a good idea to wait until I merged this into the main branch. You
can test it on http://bptest.creatingfuture.eu/ though.

On Thu, Feb 19, 2015 at 12:56 PM, Vale <notifications@github.com> wrote:

[2015-02-19 12:51] DarkmatterVale commented on #24
HAHAHAHAHA.....Woops! Sorry! I thought you already merged it into the master branch.

Yes, it works fine.

[2015-02-19 17:21] DarkmatterVale commented on #36
Quick question. How should I organize the help files? Should I create separate files for each block? Or should I create separate files for each category? What if I did a mix of those two?

[2015-02-19 17:50] michel-cf commented on #36
I think a mix of both is best. Complex blocks might need a seperate a
seperate file. While it's useless to put simple blocks in seperate files
(math blocks for example)

We could start by bundling them by sensor.

Don't forget to use anchors so that the page scrolls to the correct block
if you open it from an url.

On Thu, Feb 19, 2015 at 6:21 PM, Vale <notifications@github.com> wrote:

[2015-02-19 18:20] DarkmatterVale commented on #36
Ok. I will do that then.

Don't worry, I won't forget to add the links.

[2015-02-19 20:09] michel-cf commented on #24
Merged into master

[2015-02-19 20:09] #24 closed

[2015-02-19 20:10] DarkmatterVale commented on #24
Awesome! Thanks!

[2015-02-24 13:18] michel-cf commented on #33
In the newest version of Blockly subgroups are supported. A lot of refactoring will be needed to get this working though. (All block definitions and code generators)

[2015-02-24 13:27] DarkmatterVale commented on #33
I will do all of the work in the generators and blocks if you can get the core function of this added.

[2015-02-24 13:39] michel-cf commented on #33
Thats ok, but let me first try it out with a limited set of blocks to test if it works. No need for you to put in your time until I've got it working. If it works, it'll also give you an example of what changes are needed.

I'll probably have to re-implement the pointers system too.

[2015-02-24 13:42] DarkmatterVale commented on #33
Ok. Let me know if you need any help!

[2015-02-26 00:37] DarkmatterVale opened #37 "IOS Support"
Ipad, Ipad mini, Iphone, Ipod, etc.

[2015-02-26 00:40] DarkmatterVale opened #38 "Android Support"
Phones, tablets, etc.

[2015-02-27 18:53] DarkmatterVale commented on #37
This will take a lot of work, especially if we want everything to be in a single app including the UI. If possible, I would think that this would be best completed by creating a mobile version of Michel's main website, then creating an app that handles the downloading of the file.

[2015-02-27 20:27] michel-cf commented on #32
Can you be specific on which programs? All? All C or all spin or just some?

[2015-02-27 20:32] michel-cf commented on #37
If Parallax can provide the native code to compile and load code, we could use something like Cordova to create an application where we communicate between a browser component containing Blockly and a native part for compiling and loading.

This could result in a single codebase for the html, css, js while building for both Android and IOS. (If compilers and loaders are available for both)

[2015-02-27 21:20] DarkmatterVale commented on #37
Yes, Cordova would be a great way to accomplish this.

The loader for IOS is another repo here in Parallax's organization account. I am not sure of its status, but hopefully it will work by the time we need it

[2015-02-27 21:26] DarkmatterVale commented on #32
I am not sure. I believe it was a C demo.....

[2015-02-27 21:31] DarkmatterVale opened #39 "Breadboard addition"
Capability to create a breadboard in the interface and attach it to a project.

[2015-03-01 19:12] DarkmatterVale commented on #34
So....I have had a little time on my hands and I decided to go ahead and add support for this.

So far, I have been able to do the following:
- Create & update a new generator for PBasic/Basic Stamp
- Update the index page with this new generator
- Everything associated with creating the equivalent of Propc or Spin

The things that I have not done yet:
- Added a new Basic Stamp Loader ( I do not k

[2015-03-04 12:11] DarkmatterVale opened #40 "LameStation support"
LameStation uses Spin on the Propeller to compile, but a separate set of libraries.

[2015-03-04 20:39] michel-cf commented on #40
If it uses spin objects, all that needs to be done is adding the used spin files in the correct directory of the BlocklyPropClient project and you can start using them in Blocks

[2015-03-04 20:50] DarkmatterVale commented on #40
True, but it would be preferable to have it as a separate generator because it doesn't really fit with the Spin generator. It would still use Spin, but the interface ( what blocks the user can add ) should be a little different. Most of the traditional Spin blocks should not be available to the device since a lot of the functions are already integrated inside Mr. Weir's libraries.

[2015-03-04 20:57] michel-cf commented on #40
Just create another Blockly version (outer page and frame, and load a different set of Blocks.

You'll be able to reuse some while leaving out others. (By choosing what js files to include and by listing  the block names. This might possibly change with the Blockly upgrade)

[2015-03-04 21:01] DarkmatterVale commented on #40
Oh, that makes a lot more sense! I will do that as soon as I know what files I need to include to add support :).

How will the upgrade affect this?

[2015-03-05 17:28] PropGit commented on #40
Michel,

Will you plan on describing this and possibly demonstrating it when you visit us?

[2015-03-05 18:47] DarkmatterVale commented on #40
@PropGit,

The upgrade or LameStation support?

[2015-03-05 18:49] michel-cf commented on #40
If with this, you mean the LameStation support. I sure can explain what needs to be done to add the functionality.

What blocks need to be added needs to be reviewed. I once watched the demo but never really studied the necessary code. Demonstrating will be an even bigger problem, as I don't have access to a LameStation and the Blockly upgrade is taking a lot of my little available time. Maybe Val

[2015-03-05 19:00] DarkmatterVale commented on #40
I am currently working with Mr. Weir on what code needs to be written to add support. It uses Spin, so in depth changes should be minimal if any. In terms of a demo, I should be able to put something together by then. It all depends how much work is required to add support.

I will report back with an idea of what blocks need to be added once I can get a hold of Mr. Weir.

[2015-03-05 22:38] DarkmatterVale commented on #40
I have communicated with Mr. Weir, and below is the summery of my conversation with him.

1) Content tools need to be added. These include img2dat+LSPaint and eventually wav2dat ( I do not know the status of this content tool ). I think these will need to be added in the Client, and run from there.
2) Dynamic block support. Basically, we need to be able to generate blocks from spin files. I do not

[2015-03-06 20:15] DarkmatterVale commented on #40
During my talk with Mr. Weir, he made a very good point about maintaining our blocks. Since code will update, it will be very difficult for us to keep our blocks maintained with the newest version of code. So in light of this, I am working on creating a tool that will convert Spin files ( v1.0 will just be Spin ) to .js files that can be copied right into the spin generator folder. This will make

[2015-03-06 20:37] michel-cf commented on #40
Creating a system that creates blocks on the fly based on spin code files has always been on the idea list. It would be great if you could could add it.

My idea essentially was that the user can select a spin file through BlocklyProp. The code gets analyzed (either in the browser or on the server). Blocks for it get created and stored in the database. Together with the spin code file. If someone

[2015-03-06 21:41] DarkmatterVale commented on #40
Michel,

I am not planning on adding that ability for a user to implement custom Spin blocks right now. I am talking about a dedicated program for us to use when updating blocks. This will make my life a lot easier with library updates etc.

That would be a great addition though!

[2015-03-08 01:36] DarkmatterVale opened #41 "EEPROM support ( in depth )"
My current solution is only be temporary. This is because the user cannot see that long of a list in the UI. There are two separate aspects to this problem.

1) Built-in boards. This could be as simple as using a value input universally, but I am not sure if that is what we want to do.

2) Not built-in boards. This is much more challenging. Since this will be dynamic, we will have to have a set of

[2015-03-09 19:57] michel-cf commented on #33
Update: I've gotten the first blocks to work today. (Up till yesterday I couldn't see any thing in the workbench, actually, there was no workbench to see.)

Also the C generation for these blocks seem to work.

[2015-03-09 20:19] DarkmatterVale commented on #33
Cool!! Do second layer categories for the blocks work? Are there any other updates to block "configuration"?

Is the code posted to Github? If it is not, I would really appreciate it if you could upload it to so I can take a look ( and avoid asking you 1,000,000 questions :) ).

[2015-03-09 20:52] michel-cf commented on #33
Second layer will be for tomorrow, but there shouldn't be any problems.

I just checked it in (subgategories branch)

[2015-03-09 21:01] DarkmatterVale commented on #33
Holy cow that is a lot of code!! There is no way I will be able to parse through and understand all of that.........When you finish would you mind posting a summary of the changes here?

I will keep looking around in it though to see how everything works......Thanks for posting the code!

[2015-03-09 21:13] michel-cf commented on #33
It's a lot of little changes. If you just need to change a block, it's not a lot of work. It's a lot of times the same changes. (BTW: I haven't actually looked at the changes in the Blockly core)

Today I made a lot of progress by comparing all code with the examples. That improved the debugging especially because I combined that by switching to the Java version instead of uploading each time to b

[2015-03-09 21:20] michel-cf commented on #33
The most important changes:

-Blockly.propc = Blockly.Generator.get('propc');
+Blockly.propc = new Blockly.Generator('propc');

-Blockly.Language.PAM_7Q_Init = {
+Blockly.Blocks.PAM_7Q_Init = {

Something I need to test:
appendTitle is deprecated according to the browser console, and will have to be replaced by appendField.
The same for:
this.getTitleValue -> this.getFieldValue

[2015-03-09 21:29] michel-cf opened #43 "Generated code viewer"
Add highlighting to generated code viewer. (Making sure to maintaining read only mode)

Options:
* highlight.js
* Ace editor

Ace editor has an online system to create custom highlights. As we will have to create a custom highlight for Spin this might be the best option.

This has been discussed on the Parallax Propeller Forum but I didn't find anyone that actually made the spin highlighter for an

[2015-03-09 22:24] DarkmatterVale commented on #43
Interesting idea. Would this be used to highlight code just like in PropellerIDE ( functions are a color, variables another, etc )?

[2015-03-09 22:27] DarkmatterVale commented on #33
Hmmm......Ok. Once you get a stable version going, I will go over the blocks you have already converted and bring my blocks up to date.

Will this at all affect how the Generators' code?

[2015-03-10 10:11] michel-cf commented on #43
Yes, I'd like to get as close to it as possible. Reading the generated code with highlighting makes it more easy to read. And it will also ease the transition to the code editor for when users want to 'grow' from BlocklyProp to the PropellerIDE.

I think the normal C highlighter should suffice for the Prop-C version.

[2015-03-12 11:09] DarkmatterVale opened #44 "Autoconverter Spin code to Blocks"
This will be something that allows the user to select a Spin file and Blockly will generate new blocks based on the content of that Spin file. The user can then use these new blocks in their programs. I am working on a Python program that will do this, but I am not yet sure what work this specific addition will entail especially since it will have to be integrated into Blockly as opposed to the st

[2015-03-12 11:10] DarkmatterVale opened #45 "Autoconverter C code to Blocks"
This will be the same as the Spin code to blocks auto converter, just for C program files.

[2015-03-12 22:05] DarkmatterVale opened #46 "Add volatile option in variable declaration"
I will add this option without support for the new upgrade.

[2015-03-12 22:58] DarkmatterVale opened #47 "Method declaration - C"
We need to do either of two things.

Option 1) Move all of the methods before int main() method. This is not recommended because it will make everything look bad

Option 2) Create a declaration statement for each method before int main(). This is preferable, but I do not know how it is done. I think we can do this by simply adding another variable in the generator that creates these declare statem

[2015-03-12 23:14] DarkmatterVale opened #48 "cog_run issues"
Issue 1) ID declaration needs to be global not local

Issue 2) Instead of making a pointer, allow the user to create a pointer and add that pointer into the function

[2015-03-15 01:37] DarkmatterVale commented on #48
https://github.com/parallaxinc/BlocklyProp/pull/49

[2015-03-15 01:37] DarkmatterVale commented on #46
https://github.com/parallaxinc/BlocklyProp/pull/49

[2015-03-15 01:44] DarkmatterVale opened #50 "Make Blockly easy to translate"
All hardcoded English strings used need to be switched out and moved to the file that Blockly uses to hold the English language strings. This is very tedious and will take a lot of time.

Eventually, Blockly needs to be translated and an option created for switching your language. But that is another issue for another day :D

[2015-03-15 22:44] DarkmatterVale commented on #31
One person successfully tested the wiki and said they had no issues. It would be great if we had another person test this.....Any volunteers?

[2015-03-15 22:49] DarkmatterVale commented on #28
I think this is not an issue that we need to deal with right now. Other things are more important and we already have support for multiple of some sensors. So, for now I am going to close this.

[2015-03-15 22:49] #28 closed

[2015-03-16 17:31] DarkmatterVale commented on #44
This is my attempt so far to create a converter. This will allow me to automate my block writing process, and save a lot of time. I would like to share my current progress. So far, I am able to convert some Spin code to Python code in part due to Mr. Weir who let me use some of his code in LEAM.

https://github.com/DarkmatterVale/BlocklyCodeBlocks

[2015-03-17 15:51] DarkmatterVale opened #52 "Local Usage support"
We need a way for people to use BlocklyProp locally on their machine without internet access. I have no idea how to do this or what it will take. But I don't think this is an issue to worry about now as we still need to get a lot of other more pressing matters done first.

[2015-03-18 12:01] DarkmatterVale commented on #47
https://github.com/parallaxinc/BlocklyProp/pull/53

[2015-03-18 12:03] DarkmatterVale commented on #52
Qt has an embedded browser that could possibly contain BlocklyProp’s web interface. We could distribute a compiled version of BlocklyProp and have that runs inside of Qt’s browser, initiated from within the client.

[2015-03-18 12:04] DarkmatterVale commented on #36
I have a number of help pages, which you can see here: https://github.com/DarkmatterVale/BlocklyProp/tree/Help-Documents/help/textile/Spin

[2015-03-19 18:20] DarkmatterVale commented on #44
Ok.....So I have run into a major issue I do not know how to solve. I can parse through the code and generate a a pretty solid code generation block. But, I cannot find a consistent way to find what needs to be generated for the graphical part of the code. Every Spin file is different, and the variables that need to get input are not always easy to find and in the same pattern.

I will keep workin

[2015-03-20 17:27] AndyLindsay commented on #48
Regarding issue 2, here is a test of the run block's New pointer... feature.  Although it successfully creates a pointer block in the Pointers list, it does not yet add global pointer declarations for the variable names that are created.  See comments in code.

![multicogwithnewpointer](https://cloud.githubusercontent.com/assets/11575415/6756782/6ab97086-cee9-11e4-805f-a700b573e1e8.png)

#include

[2015-03-27 18:32] DarkmatterVale commented on #44
Great news! v1.0.0 has been released!

You can check it out here: https://github.com/DarkmatterVale/Blockly-Blocks-Converter

[2015-03-27 18:34] DarkmatterVale commented on #44
I am not sure how to go from here in terms of adding it to BlocklyProp though, because a lot of integration work will have to be done. Michel, do you know what needs to be done to add this?

[2015-03-27 18:52] DarkmatterVale commented on #40
Since my converter is done, Mr. Weir now needs to implement the changes and convert all of the lamentation functions into blocks. Once this is done, we should have support for LameStation on the graphical side of things!

[2015-03-27 19:34] DarkmatterVale commented on #47
Michel, can you post a new build to blocklyprop.creatingfuture.eu from the current master branch? I think this will work fine in the new build.

[2015-04-04 01:04] DarkmatterVale opened #54 "Current Release Plan"
What is the current release plan with dates?

[2015-04-04 08:29] michel-cf commented on #54
There is no release plan. Unlike commercial projects, we work on this project whenever we have time.

Having targets and release dates will both force us to spend more time (that we might not have) and demotivate us when we don't finish on time.

So, no milestones and please, don't use the issues list as a ideas list. Making this list so long also demotivates, because it never gets shorter.

[2015-04-04 11:27] #54 closed

[2015-04-15 13:33] #44 closed

[2015-04-15 23:37] DarkmatterVale commented on #43
Another good one might be Prismjs.

I have been messing around with this, and I it works pretty well, but I cannot get my code to display on screen. For some reason, I cannot use anything but a <textarea></textarea> block to hold the C code. If I use anything else, the code just won't show up. Do you have any ideas as to why this is happening?

[2015-04-17 16:38] AndyLindsay opened #56 "Missing Blocks"
It looks like ActivityBot Library's drive speed and drive goto disappeared when the four blocks that are there now were added.

[2015-04-17 16:44] AndyLindsay commented on #56
Actually, they are in another category called Drive.  The blocks in Drive and in ActivityBot Library should be combined into a single category.

[2015-04-17 16:52] DarkmatterVale commented on #56
Mr. Lindsay,

Ok. I will update that. What category would you like them moved to?

[2015-04-17 17:58] AndyLindsay commented on #56
Thanks Vale, ActivityBot, with blocks in this order.  Please note that the names have been adjusted slightly.  Drive speeds is now speeds.  ActivityBot Ramp Step is now Ramp Step.
  * ActivityBot
    * Speeds
    * Distances
    * Ramp step
    * Set ramp step
    * Calibrate
    * Display calibration

[2015-04-17 18:22] AndyLindsay opened #57 "C Language Block Organization and Naming"
I just want to get the ball rolling on this subject so that we have a plan when block organization becomes an

option.  Here is a first cut, along with some implicit function renaming suggestions.

Remove: DigitalWrite, DigitalWrite, DigitalRead

## Function Outline

* Control
  * If
  * Repeat
  * Repeat # times

* Conditions
  * Is equal
  * This and/or that
  * Not
  * True/false

* Console
  *

[2015-04-17 18:28] AndyLindsay opened #58 "Some Blocks are too wide"
The MMA7455 block is an example of one that's too wide.  I'd recommend putting the parameter list on more than one line in cases like this one.

[2015-04-17 19:25] DarkmatterVale commented on #56
Yep. I see the name changes. I will update this over the weekend and push a commit to the master branch with the update.

[2015-04-19 00:33] DarkmatterVale commented on #56
In the next commit, this is fixed. I will create a PR after fixing the other new issues.

[2015-04-19 00:36] DarkmatterVale commented on #58
Fixed.

[2015-04-19 00:38] DarkmatterVale commented on #57
I will work on this and get the first cut done within the next week.

I will create a PR when I am done ( this will include the other 2 issues' fixes as well ).

[2015-04-19 00:46] DarkmatterVale commented on #43
After some work, I am making some progress. I can display the converted code in the text area, but as stated above, I am unable to display anything if I do not use a text area. Michel, do you have any ideas as to why I might be having this issue?

I will attach a picture to this comment soon....

[2015-04-21 00:55] AndyLindsay commented on #57
This list is going to be revised significantly in a few weeks.

[2015-05-10 19:49] michel-cf opened #61 "Rewrite server to java"

[2015-05-10 21:07] DarkmatterVale commented on #61
Do we know what needs to be done to accomplish this? Specifically, what do we want to rewrite? Does the whole server need to be rewritten, and have the same functionality? Is there anything new that needs to be added?

[2015-05-10 21:26] michel-cf commented on #61
I'll have to setup a framework with services and a database layer and have
to transfer all current functionality.

It should be easier afterwards to add more functionality. Care must be
taken as this will be a distributed system. (Saving session information in
the database instead of on the harddisk or in memory)

On Sun, May 10, 2015 at 11:07 PM, Vale <notifications@github.com> wrote:

[2015-05-10 22:10] michel-cf commented on #26
This is on hold for now, we won't complete this in the php version but implement it in the upcoming java version

[2015-05-10 22:11] michel-cf commented on #31
As we are going to a java server version, this is of no importance anymore

[2015-05-10 22:11] #31 closed

[2015-05-10 22:14] michel-cf commented on #52
For uniformity I would suggest keeping it running in the users normal browser, but hosted from within BlocklyPropClient

[2015-05-10 22:38] DarkmatterVale commented on #61
Hmmm...Ok.

Let me know if you would like any assistance, Java is my preferred language to program so I might be more help than I was with PHP.

[2015-05-10 22:39] DarkmatterVale commented on #26
Thank gosh. Ok.

[2015-05-10 22:48] DarkmatterVale commented on #58
I am going to close this issue since it will be fixed in my next PR ( and I have tested it and it works the same as before ).

[2015-05-10 22:48] #58 closed

[2015-05-23 12:36] michel-cf commented on #61
Server framework setup is coming along. Database with transactions, dao, services and servlets seem to work fine now.

Before implementation can be started a few things will still need to be done: the biggest being the setup of the security framework.

[2015-05-27 18:59] michel-cf commented on #61
Multiple password hashing with salt finally works, only need to find out if the permissions system works then we should be ready to start implementing the current functionality.

[2015-05-28 00:09] DarkmatterVale commented on #61
Awesome! Will I still be able to run my local server? Will I need to change some stuff?

[2015-05-28 18:29] michel-cf commented on #61
Running locally should be possible, it only requires a tomcat 7 and mysql.

Maybe some other servers will be used in production, but are not required during development. An example of this is log analysis or metrics analytics server.

[2015-06-02 22:43] DarkmatterVale opened #63 "Dynamic Block Creation/Usage"
This is something I think will become vital to BlocklyProp if users would like to add their own blocks themselves without having to do any coding. Below is my outlined solution.

The idea would be to create a Python script that would be called from the server ( or from the local device ) on startup and would do the following:
1. Parse folders containing file containing blocks for blocks
2. Populat

[2015-10-19 21:45] PropGit opened #64 "Forgot password returns error"
Forgot password function returns error after submitting.

![image](https://cloud.githubusercontent.com/assets/1266318/10592266/d8508868-766f-11e5-8062-b4db2f72e3b1.png)

[2015-10-19 22:15] DarkmatterVale commented on #64
valid@email.com is not a valid address, correct?

Could it possibly be due to the fact that the email was never registered? Or have you already implemented a catch for that in your code Michel?

[2015-10-20 19:15] michel-cf commented on #64
This failed because the mysql connection was broken from the Cloud-session server.

After restarting the tomcat it worked. The later reported problem with the email and the token not matching also could not be reproduced. For now

[2015-10-20 19:51] michel-cf commented on #64
Improved the message shown to the user. Reopen if necessary

[2015-10-20 19:51] #64 closed

[2015-10-20 19:53] michel-cf commented on #33
Grouping on multiple levels is available with the upgraded Blockly version

[2015-10-20 19:53] #33 closed

[2015-10-20 20:04] DarkmatterVale commented on #56
I believe this has been fixed.

@michel-cf do you agree? Can we close this issue?

[2015-10-20 20:07] DarkmatterVale commented on #26
I am going to close down my PR since the server has been changed from PHP to Java, and so my current additions are useless. Maybe I can resume working on this in the Java version if Michel is alright with it.

[2015-10-20 20:10] DarkmatterVale commented on #36
@AndyLindsay,

Am I still going to be developing documentation for BlocklyProp? Or have I been kicked from working on that?

[2015-10-20 20:25] michel-cf commented on #36
I can't speak about what you can do for the documentation. But in a meeting with Jeff it has been decided that all documentation files will be put into a separate repository.

This way it can be more easily be integrated into an offline version when needed. And is there more separation between code and documentation.

[2015-10-20 20:28] DarkmatterVale commented on #36
Yes, I remember you mentioning that in one of the emails that I have received from either you or Mr. Martin.

Do we have any ideas as to what format they will be in? Markdown maybe?

[2015-10-20 20:29] michel-cf commented on #56
The blocks need reorganization, so this is not important anymore.

[2015-10-20 20:29] #56 closed

[2015-10-20 20:32] DarkmatterVale commented on #56
Ok. Do you have a plan to merge the Java version into the master branch anytime soon? Also, how can I see the new BlocklyProp in action? Is there a website that I can go to see it?

[2015-10-20 20:32] michel-cf commented on #36
I'dd prefer to keep them in textile as it is more powerful, even though it's less know as markdown.

[2015-10-20 20:34] DarkmatterVale commented on #36
Sounds like a good idea then :thumbsup:

[2015-10-21 09:04] michel-cf commented on #32
Closing because this is about a previous, now unsupported version

[2015-10-21 09:04] #32 closed

[2015-10-21 09:06] michel-cf commented on #36
Closing as these will come in a separate repository

[2015-10-21 09:06] #36 closed

[2015-10-21 10:47] DarkmatterVale commented on #36
Should I create a new repository and place the documentation I've created so far into them? Is that alright with you Mr. Lindsay and Mr. Martin?

[2015-10-21 11:02] michel-cf commented on #36
It's easier if Jeff creates it instead of having to transfer it afterwards. And I also have to think about the directory structure as it should support multiple spoken languages, contain help for usage of BlocklyProp, using the blocks, explain generated code. And as such it's a bad idea to just start creating help files in a new repository.

[2015-10-21 11:05] DarkmatterVale commented on #36
I see what you are saying. Definitely better to hold off then.

[2015-10-23 08:24] michel-cf opened #65 "Login page: change username into email"

[2015-11-02 19:13] michel-cf commented on #65
Changed

[2015-11-02 19:13] #65 closed

[2015-11-02 19:25] michel-cf opened #66 "Internationalization"

[2015-11-11 03:33] PropGit opened #67 "Update Documentation (readme.md)"
Once our new server system for BlocklyProp is released for public use, update public-facing documentation:
- Repo's readme.md
- Create wiki? (may prefer the item below instead)
- Create repo web page

Items to address:
- Introduction
  - System requirements (platforms)
  - Supported microcontroller
- Getting Started
  - How to get to BlocklyProp
  - Configuring system to run

[2015-11-11 03:48] PropGit opened #68 "BlocklyProp Editor Design Changes"
Previous discussion indicates there is very little that can be done to change the appearance of the BlocklyProp editor itself; perhaps limited only to the menu at the top.

Here is a draft of a proposed UI change (the graphic, color style, positioning in the menu).

@michel-cf - Is this proposed styling possible?

![image](https://cloud.githubusercontent.com/assets/1266318/11083393/f6f9f2a6-87e3-1

[2015-11-11 03:50] PropGit opened #69 "List block color pallet"
@michel-cf - Please provide a list of the entire color pallete (and related information) allowed for the blocks in the editor.

[2015-11-11 03:52] PropGit opened #70 "Proposed BlocklyProp Logo"
Here is the proposed BlocklyProp logo.  This is intended to be used in strategic places in the UI and related documenation.  @michel-cf - What do you think?

![blocklyproplogo](https://cloud.githubusercontent.com/assets/1266318/11083437/7fe3f2ba-87e4-11e5-96a6-b23668b6bbd4.png)

[2015-11-11 03:59] PropGit opened #71 "Supporting Page Design"
For the supporting pages (all non-editor pages), the following are proposed samples of the style and assets.  The menu of Issue #68 and recently demonstrated menu (from @michel-cf) should be merged into this proposed design.

__Desktop Dimensions:__
![blocklyprop-desktop](https://cloud.githubusercontent.com/assets/1266318/11083539/5c987456-87e5-11e5-8c9c-cd5a195c9a3a.png)

__Tablet Dimensions:__
!

[2015-11-11 04:00] PropGit commented on #71
@michel-cf - Please consider and comment on the above design proposals.

[2015-11-11 04:06] PropGit opened #72 "Login / Register - Convert to Overlay?"
Can the Log in (../blockly/login.jsp) and Register (../blockly/register) pages be converted to an overlay-type view like the "You are not logged in" prompt is shown?

![image](https://cloud.githubusercontent.com/assets/1266318/11083623/6f59c382-87e6-11e5-8828-e9ee783ecea7.png)

[2015-11-11 04:09] PropGit opened #73 "Add Cancel option for Register prompt/page"
Add Cancel button for the Register prompt/page.

When the user Cancels, the system takes them back to the main BlocklyProp landing page (or the current page visible under the Register overlay if the Register prompt is presented as an overlay as suggested in issue #72).

[2015-11-11 04:11] PropGit opened #74 "Add Cancel option for Log In prompt/page"
Add Cancel button for the Log In prompt/page.

When the user Cancels, the system takes them back to the main BlocklyProp landing page (or the current page visible under the Log In overlay if the Log In prompt is presented as an overlay as suggested in issue #72).

[2015-11-11 04:19] PropGit opened #75 "Consider changing "BlocklyProp Client" name to "BlocklyProp Assistant" or "...Service""
Can we (should we) change the name of _BlocklyProp Client_ to _BlocklyProp Assistant_ or _BlocklyProp Service_?

_Client_ implies something that the end-user interacts with directly, but the Client in our case is really a download driver (or assistant), right?

[2015-11-11 04:22] PropGit opened #76 "Devise method to advertise and deliver platform-specific BlocklyProp Client"
Create way to deliver the platform-specific BlocklyProp Client to the user via a button click.

Perhaps this can be exposed near the menu-bar message that indicates the BlocklyProp Client is not available?

Can we tell if the Client exists?  Or just that the client is not currently running (ie: it may not exist, or may exist but isn't running).

[2015-11-11 09:52] michel-cf commented on #69
Blockly documentation:

Blockly uses a [Hue-Saturation-Value](https://en.wikipedia.org/wiki/HSL_and_HSV) (HSV) colour model. Saturation and Value are hard-coded into Blockly, whereas the Hue is defined on each block. This ensures that developers have the freedom to choose from a wide range of colours, while still guaranteeing that all the blocks will fit together visually. It also allows the entir

[2015-11-11 09:52] michel-cf commented on #69
The image shows the different colors for the default values. I propose that we go a bit brighter.

[2015-11-11 10:06] michel-cf commented on #72
Although possible, it's a major change.

Current setup:
- page is created on server with links to the full editor and some meta information, if you are not logged in, the html and javascript for the "You are not logged in" dialog is added.
- On page load, this javascript changes the links to the editor so that the editor is opened
- if you click on "try", the original url is changed to the demo ed

[2015-11-11 10:25] michel-cf commented on #76
A download link should not be a problem, checking if it exists does.

The only way to know it is running is by frequently polling on the configured host and port.

[2015-11-11 10:37] michel-cf commented on #75
Service for me implies that there is no gui.

What about BlocklyProp Loader? Although that also is not applicable once we use it for an offline version. But I'm not sure if that is still the plan with the plans for the Chrome version

[2015-11-11 12:14] michel-cf commented on #68
The menu on top should not be a problem (although some items will be removed or changed)

The restyling of the Blockly toolbox is more difficult. I can take a look but I can't promise anything

[2015-11-11 15:45] michel-cf commented on #71
Added the logo, and content, while keeping the menu that I already created

![image](https://cloud.githubusercontent.com/assets/5745991/11095023/5c892100-8893-11e5-8afa-7126d4dcdbc7.png)

[2015-11-11 15:48] michel-cf commented on #70
Looks nice, I resized it and added it

[2015-11-11 17:25] michel-cf commented on #73
Where do you want this cancel button? Is this still required with the menu?
A cancel button under the form is not a good idea as users will accidentally click on it instead of submitting the form.

[2015-11-11 17:25] michel-cf commented on #74
Where do you want this cancel button? Is this still required with the menu?
A cancel button under the form is not a good idea as users will accidentally click on it instead of submitting the form.

[2015-11-11 17:41] michel-cf commented on #68
Do you have the used colors and fonts?

[2015-11-12 22:38] jeffam70 commented on #68
Not yet, but I can get them once I know she's done with her suggestions.  I'll verify and get back on this one.

[2015-11-12 23:11] jeffam70 commented on #71
Looks good, thanks!

[2015-11-12 23:14] jeffam70 commented on #72
@michel-cf - okay, we don't want to introduce so much work for an item like this.

Overall, the thing that really struck me is that the log in and registration fields seem to be somehow right-justified on the browser window (but not all the way to the right edge).  If we can restyle that (along with other things on those pages) so that the group is horizontally centered in the page, it'd probably

[2015-11-12 23:59] JenJacobs commented on #69
I agree. Brighter would be better.

[2015-11-13 10:05] michel-cf commented on #72
The current layout is:
Fixed width, 2 columns with the login/registration for in the right column.

The intention was to add an accompanying text in the left column.

[2015-11-15 18:19] DarkmatterVale opened #77 "Dynamic includes based on block/hardware context"
In C, all programs require specific libraries. For example, every C program requires simpletools.h to be included. If, however, every single block for a specific hardware platform or sensor "grouping" need a specific library to be included, that must be hardcoded into every block created in relation to said platform or sensor grouping. If there were multiple such includes, the code that every new

[2015-11-15 20:48] michel-cf commented on #77
I don't see the problem here. Any single block usually only takes 1 include, and you can hardcode the simpletools.h in the blockly/generators/propc.js

As the Parallax badge uses the Badgetools.h. It would be possible to add that one by default when selecting the badge as board type.

[2015-11-16 19:54] michel-cf commented on #68
I've made some initial changes to approximate the design:

![image](https://cloud.githubusercontent.com/assets/5745991/11192970/41913ab2-8ca4-11e5-8da8-305b0410f0c5.png)

[2015-12-20 14:21] DarkmatterVale opened #78 "Miscellaneous block issues"
Dr. Brady reported these bugs (I double-checked to make sure they existed on my machine as well).

1) Forever loop doesn't work. It only loops 10 times. We should use a while loop and not a for loop
2) The while loop doesn't accept the proper arguments
3) The if block doesn't accept a straight boolean value

[2015-12-30 12:57] DarkmatterVale commented on #78
The forever loop should work fine now.

[2016-01-12 21:08] PropGit opened #81 "Update year in License"
Please update the year from 2015 to 2016 in license page:  .../blockly/public/license.

[2016-01-12 21:09] PropGit opened #82 "Copyright year update"
Please update the copyright notice in the footer from "Parallax © 2015" to "Parallax © 2016"

[2016-01-12 21:10] PropGit opened #83 "Parallax to provide introduction block text"
Parallax needs to provide introduction block text to include on home page (.../Blockly/):
![image](https://cloud.githubusercontent.com/assets/1266318/12276996/e00e3144-b92d-11e5-857c-6f52c94a3e8a.png)

[2016-01-12 21:12] PropGit opened #84 "Change spelling of License in English translation"
Please change spelling of "Licence" in English translation to "License" in footer on landing pages:
![image](https://cloud.githubusercontent.com/assets/1266318/12277024/16340956-b92e-11e5-9f4d-513b0c523656.png)

[2016-01-12 21:29] PropGit opened #85 "Remove Spanish translation until it's ready"
Please remove the Spanish translation option from the list until we have it ready.

[2016-01-12 21:31] PropGit opened #86 "Can the Copyright text be a link to Parallax's main site?"
Can the Copyright text in the footer
![image](https://cloud.githubusercontent.com/assets/1266318/12277544/bdf538b6-b930-11e5-85dd-11535dcc5e69.png)

be a link to Parallax's main site:  www.parallax.com?

[2016-01-12 21:42] PropGit opened #87 "Explore making Help link open in another tab (in browser)"
Explore possibility of making header's Help link target a new browser tab so users don't lose their place in their current BlocklyProp code when needing to access help.
![image](https://cloud.githubusercontent.com/assets/1266318/12277792/3bd557c4-b932-11e5-9977-324a8a0989c0.png)

[2016-01-12 21:48] michel-cf commented on #82
Format: 2015 - <present year>

[2016-01-12 22:08] michel-cf commented on #81
Changed text to 2016.

Still looking into making it change automatic.

[2016-01-12 22:14] michel-cf commented on #85
Commented out from language selector

[2016-01-12 22:14] #85 closed

[2016-01-12 22:15] michel-cf commented on #86
Changed into a link

[2016-01-12 22:15] #86 closed

[2016-01-12 22:16] michel-cf commented on #84
Changed spelling in translation file

[2016-01-12 22:16] #84 closed

[2016-01-12 22:16] michel-cf commented on #82
Changed

[2016-01-12 22:16] #82 closed

[2016-01-12 22:19] michel-cf commented on #87
Done

[2016-01-12 22:19] #87 closed

[2016-01-13 21:10] michel-cf commented on #81
Changed to placeholder and piece of javascript so that it's always the current year.

[2016-01-13 21:10] #81 closed

[2016-02-14 14:44] michel-cf opened #89 "C and Spin: serial transmit number"

[2016-02-14 17:35] #61 closed

[2016-02-19 19:20] PropGit opened #91 "Register link provides unstyled page"
From the _Login/Register_ page, the _Register Now!_ link provides an unstyled page.

![image](https://cloud.githubusercontent.com/assets/1266318/13186385/d24ff0d4-d6fa-11e5-8a72-ff6b9ad1d1b9.png)

[2016-02-19 19:25] PropGit opened #92 "Can't log in"
Though unregistered accounts clearly show an "Login was unsuccessful!" error message...

![image](https://cloud.githubusercontent.com/assets/1266318/13186464/3a600042-d6fb-11e5-8b74-bf61993daf46.png)

using a previously registered account does not show an error and, in fact, doesn't give any kind of feedback, even if the password is surely wrong:

![image](https://cloud.githubusercontent.com/asset

[2016-02-19 19:28] PropGit opened #93 "Registering caused error"
From main BlocklyProp page, I clicked on _Login/Register_, then _Register Now!_, entered a screenname, email address and password, then clicked the _Register_ button and received this response:

HTTP Status 500 - com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 28 path $

type Exception rep

[2016-02-19 19:33] PropGit opened #94 "Can't exercise "Forgot Password" feature"
Just like with Issue #93, the _Forgot Password_ feature can not be used because of a server error:

HTTP Status 500 - com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 28 path $

type Exception report

message com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException

[2016-02-19 19:44] PropGit opened #95 "Error on null password"
The _Register_ page allows the user to leave the password field(s) blank, causing an ugly error upon clicking _Register_.

HTTP Status 500 - java.lang.NullPointerException: Password cannot be null

type Exception report

message java.lang.NullPointerException: Password cannot be null

description The server encountered an internal error that prevented it from fulfilling this request.

exception

j

[2016-02-19 19:52] PropGit opened #96 "Previous Projects appear blank"
After being unable to log in because of issues #92, #93, and #94, I tried just viewing previous projects "My New Spin Project" and "My First C Project" but both appear blank.

![image](https://cloud.githubusercontent.com/assets/1266318/13187294/3720a306-d6ff-11e5-83e0-9839bb8f84b7.png)

In fact, when first appearing, the scroll bars indicate I'm looking all the way down to the extreme lower right

[2016-02-19 19:57] PropGit opened #97 ""You are not logged in" dialog has "Log in" and "Register" too close to each other"
When not logged in, but trying out the editor, clicking _Save_ displays this dialog that has "Log in" and "Register" right next to each other with no apparent difference in context between them (ie: they appear to be all one link until you mouse over them).

![image](https://cloud.githubusercontent.com/assets/1266318/13187456/eea4cc64-d6ff-11e5-9d07-e798113d1d1a.png)

[2016-02-19 20:01] PropGit opened #98 "Invalid "Register" link on "You are not logged in" dialog"
The __You are not logged in__ dialog's _Register_ link is invalid

![image](https://cloud.githubusercontent.com/assets/1266318/13187538/79572cbc-d700-11e5-94ec-178a48940d04.png)

Clicking it presenting the following page:

![image](https://cloud.githubusercontent.com/assets/1266318/13187546/8aa72468-d700-11e5-8deb-4534d4001087.png)

[2016-02-21 16:07] michel-cf commented on #91
https pages require https resources. Reworking cdn url calculation

[2016-02-21 16:13] michel-cf commented on #91
Fixed

[2016-02-21 16:13] #91 closed

[2016-02-21 16:25] michel-cf commented on #95
Validation was in place, but the generated exception was not caught and shown as a warning message.

[2016-02-21 16:25] #95 closed

[2016-02-21 16:26] michel-cf commented on #83
Reminder

[2016-02-21 17:16] michel-cf commented on #98
Url fixed

[2016-02-21 17:16] #98 closed

[2016-02-21 17:17] michel-cf commented on #96
Because of the redesign of the blocks projects that use old versions of block's or blocks that don't exist anymore show up empty.

[2016-02-21 17:23] michel-cf commented on #97
Changed the text and layout:

![image](https://cloud.githubusercontent.com/assets/5745991/13204131/32c8fa2c-d8c8-11e5-8147-4da195d3d781.png)

Please reopen if not satisfactory.

[2016-02-21 17:23] #97 closed

[2016-02-21 19:25] michel-cf commented on #96
"Blinky new" owned by michell seems to work:  /blockly/demo/blocklyc.jsp?project=7

![image](https://cloud.githubusercontent.com/assets/5745991/13204798/08a31bea-d8d9-11e5-84a8-e4d4ea84c989.png)

[2016-02-21 19:50] michel-cf commented on #94
Partially fixed, need to tackle root cause

[2016-02-21 19:50] michel-cf commented on #93
Partially fixed, need to tackle root cause

[2016-02-21 19:52] michel-cf commented on #92
During testing, it didn't appear that there was a problem with the form, but with the connection with Cloud-session

As such they are more related to:
#93 and #94

[2016-02-22 17:31] PropGit commented on #92
@michel-cf - To ensure a response to the user for their action, please add a catch-all error response that displays something like "Error: unable to log in at this time; please try again later or contact the system administrator."  Without this, the user doesn't know if 1) they didn't click the button properly, 2) their browser is working properly or not, 3) their Internet connection is at fault o

[2016-02-22 17:36] PropGit opened #99 "Can't exercise "Email Confirm Request" feature"
This may be related to Issues #93 and #94.

On the __Email confirm request__ page, after entering a registered email address and clicking the _Request_ button, the system responds with this error:

HTTP Status 500 - com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 28 path $

type Exception

[2016-02-22 17:41] PropGit commented on #94
@michel-cf - Confirmed: This error does not occur anymore with the Forgot Password feature.

[2016-02-22 17:41] #94 closed

[2016-02-22 17:44] PropGit opened #100 "Enhance "Request Reset" header"
On the Forgot Password feature page __Request Reset__, please change the "Request reset" header to be "Request password reset"

[2016-02-22 17:51] PropGit opened #101 "Enhance "Request Password Reset" success response"
On the Forgot Password feature's __Request Password Reset__ page, when a user enters a valid email address and selects the _Confirm_ button, the response simply clears the field, taking the user back to this:

![image](https://cloud.githubusercontent.com/assets/1266318/13226973/235fdbce-d949-11e5-93dd-e030b6e1e05e.png)

Please enhance this page's response to instead display a green notification ba

[2016-02-22 18:03] PropGit opened #102 ""Request Password Reset" doesn't send email"
On the __Request password reset__ page, entering a valid (registered) email address and clicking the _Confirm" button supposedly transmits an email, but none is ever received.

If there is an error contacting the SMTP server, please make the response indicate an error like, "Error: unable to send password reset email at this time; please try again later or contact the system administrator."

[2016-02-22 21:29] PropGit opened #103 "Register page is insecure"
The Register page is insecure.

![image](https://cloud.githubusercontent.com/assets/1266318/13233379/4e7478b4-d968-11e5-8516-be1cf5c5d3fc.png)

[2016-02-22 21:50] PropGit opened #104 "Register page doesn't accept period (.) in email address? (or some other problem)"
Received error "A problem occurred" when _Register_ is clicked.  This may have to do with entering a period (.) in the email address's username field; not sure.  The same error occurred when a plus (+) was entered instead of the period.

What "problem occurred?"  I can't tell, the error message is too generic.

![image](https://cloud.githubusercontent.com/assets/1266318/13233903/ee4885ea-d96a-11e5

[2016-02-22 22:41] PropGit commented on #83
The following block of text is being proposed and reviewed by Parallax staff.  This, or a variation of it, will be noted as official as soon as we've approved it.

#### BlocklyProp
Visually program the Parallax Propeller microcontroller with BlocklyProp.  Based on Google's Blockly library, the BlocklyProp system of web-based visual programming is easy to learn and fun to use.  Create entire applic

[2016-02-23 15:01] michel-cf commented on #103
As you can see in the url, it works using https. Any warnings the browser gives is because we are working with a self signed certificate in the demo environment.

[2016-02-23 15:01] #103 closed

[2016-02-23 15:53] michel-cf commented on #102
Currently sending emails is done asynchronously to have fast response times for the user. This does also mean that I can't show any results from sending the email.

Should this be changed?

[2016-02-23 16:52] PropGit commented on #96
Understood.  I'll delete and create new projects.

[2016-02-23 16:52] #96 closed

[2016-02-23 16:54] PropGit commented on #103
Ugh, sorry, you're right.  I should have realized that.

[2016-02-23 17:00] PropGit opened #105 "Login page is insecure"
The Login page accessed from the _Login/Register_ link is at an insecure address.  The address is blocked out in the image below as it's our dev server, but it's sitting at: http://< our_dev_server >/blockly/login.jsp:

![image](https://cloud.githubusercontent.com/assets/1266318/13259328/ba75a620-da0b-11e5-9263-5a0f3fdfcb44.png)

[2016-02-23 17:02] PropGit commented on #105
Note: I can not tell if the login overlay (that appears when trying to access a project without first being logged in) is over a secure connection or not.

![image](https://cloud.githubusercontent.com/assets/1266318/13259421/2021579e-da0c-11e5-913f-02c5c4069267.png)

[2016-02-23 17:12] PropGit opened #106 "Reset Requested page is missing green success bar on the success message"
The Reset requested response page should have the "Please check your email" message shown with a green background, like on the email confirmation request page.  Here's what it looks like now:

![image](https://cloud.githubusercontent.com/assets/1266318/13259739/8bd4ccb8-da0d-11e5-8ae3-1c90d55c6f4d.png)

[2016-02-23 17:23] PropGit opened #107 "Register Successful page has misspelling"
On the __Register successful__ page, "successful" is misspelled.

![image](https://cloud.githubusercontent.com/assets/1266318/13260104/fde2ebae-da0e-11e5-864d-62720c9fd50d.png)

[2016-02-23 17:35] PropGit opened #108 "Register confirmation email doesn't use same BlockyProp domain"
The account registration confirmation email uses different BlockProp domain that what was used to access BlockyProp.  The domain in this example is the short dev server IP address, instead of the longer dev domain we've switched to.  The link still works, but I wanted to draw attention to this in case it was unintentional and in case it would mean a problem for our public launch of BlocklyProp.

!

[2016-02-23 17:51] PropGit opened #109 "Email confirm link doesn't work for emails with plus (+) trick"
The email confirmation email's link doesn't work for emails that used the plus (+) trick. This seems to be because something is stripping the "+" from the email address and replacing it with a whitespace (space?) character in the Email field of the __Please confirm__ page:

![image](https://cloud.githubusercontent.com/assets/1266318/13260993/f3f39dec-da12-11e5-86d8-5724e17d8643.png)

This all work

[2016-02-23 17:57] PropGit opened #110 "Register page allows different users to use the same screen name"
The Register page (process) allows different users to specify the same screen name as any other registered user on the system.  This should not be allowed because 1) it can cause confusion when viewing the list of shared projects, and 2) it can allow a user to impersonate another.

Please make the register page display an error "Screen name already registered.  Please choose a different screen nam

[2016-02-23 18:07] PropGit opened #111 "Prevent new screen name that is equivalent to user's view of their own screen name"
Once logged in, the view of projects shows the user's one project's screen name as "yours".

1. This means it becomes an item that must be translated to different languages; probably not what we want to deal with.
  * If it must remain, or is desired to remain in this fashion, please change it to say "me" instead
  * Else, please allow it to simply continue to show the user's screen name instead o

[2016-02-23 18:50] PropGit commented on #83
@michel-cf - Here's the official Introduction paragraph we want to start out with.  The **bold text** is not intended to be bold, but rather linked to the appropriate item.  If that can not be done, please keep it plain text and put ", linked below, " right after it.  The text that's already linked goes to the open source project; if it can't be linked in the intro, just leave that as plain text.

[2016-02-23 18:51] michel-cf commented on #105
The login page can not use https because that would mean the user is only authenticated on https pages, not on http pages.

Because of this, the login form sends it request to blocklyprop-auth over https.

So, while the form is shown insecure, your credentials are never transmitted over an insecure connection.

[2016-02-23 18:59] michel-cf commented on #108
Although it was not intensional, I was aware of this. Both the email templates should be reviewed and updated before we go public.

[2016-02-23 19:29] PropGit commented on #91
@michel-cf  - Confirmed; this is fixed.

[2016-02-23 20:36] PropGit commented on #95
Verified working.

[2016-02-23 20:43] PropGit opened #112 "Password requirements are very loose"
Password requirements seem very loose.  Here's an example where an account could be created with just a single letter as the password (this was verified; the account is active and works with that password).

![image](https://cloud.githubusercontent.com/assets/1266318/13266048/02a9100c-da2b-11e5-80ee-fd802cfdc33a.png)

What are the _validated_ password requirements?

Can we (should we) make them mo

[2016-02-23 20:49] PropGit commented on #98
Verified fixed.  Also noticed the built-in Login fields.  Great!

[2016-02-23 20:50] michel-cf commented on #112
Currently policy is being enforced

[2016-02-23 21:00] PropGit opened #113 "Project List vs. Community Projects vs. Your Projects vs. My Projects"
The concept of "all projects" vs. the "user's projects" is displayed in multiple ways.  We need to be consistent across all uses.

On the landing pages, on the page header, the terms used are __Project list__ (for all projects, I assume), and __Your projects__ (for the user's projects).  But in the BlockyProp editor itself, the _Projects_ menu lists these as __Community projects__ and __My project

[2016-02-23 21:08] michel-cf commented on #109
Escaped the "+" sign so it is interpreted correctly by the browser

[2016-02-23 21:08] #109 closed

[2016-02-23 21:11] PropGit opened #114 "Enhance the Confirm Navigation dialog?"
Can we enhance the Confirm Navigation dialog further?

In this case (example below), a community project is opened by a different user, then, without changing anything, the user tries to go back to Community projects, but a Confirm Navigation dialog appears.  I understand way- this project has suddenly been cloned for them personally... it's waiting for them to save it or discard it.

![image](htt

[2016-02-23 21:21] PropGit commented on #97
This is satisfactory.  Thank you.

[2016-02-23 21:23] PropGit commented on #93
Confirmed - this problem does not seem to occur soon after a server restart.

[2016-02-23 21:28] michel-cf commented on #114
The only thing that can be changed in that dialog is the line "The project has been changed since the last save".
I could check why it shows the dialog even if no changes were made. (It should check if the current xml generated by blockly matches the last one saved)

Opening some else project and saving it will duplicate it into the current users project context. You can not change some else's pro

[2016-02-23 21:28] PropGit opened #115 "Login unsuccessful response has mispelling"
The word "unsuccessful" is misspelled (with two 'l's) on the Login page's error response.

![image](https://cloud.githubusercontent.com/assets/1266318/13267260/46fee03c-da31-11e5-990e-1f79b6783aec.png)

[2016-02-23 21:34] PropGit commented on #102
I see.  No, I was assuming that the communication with the email server was the issue; but I think you've determined it was a database problem that seems to occur some time after reboot.  Let's leave it as is for now regarding email.

But, if there's an additional error situation you can trap and display a meaningful message, that would be best because I think it wasn't displaying an error.  This

[2016-02-23 21:39] PropGit commented on #105
Okay, I see; I had a slight misunderstanding, but now I get it.

So why is the Register page different?  It is an https page.

[2016-02-23 21:42] PropGit commented on #108
Okay.  I'll make a separate issue for that.

[2016-02-23 21:42] #108 closed

[2016-02-23 21:42] PropGit opened #116 "Public Launch: Review email templates"
Review email templates before public release.

Confirm with Parallax.

[2016-02-23 21:47] PropGit commented on #114
Okay, yes, please check why it shows the dialog even if no changes were made.

[2016-02-23 21:49] michel-cf commented on #105
Because the register page doesn't log you in. The same for the password reset request/confirm and email confirm.

[2016-02-23 21:55] PropGit commented on #105
Good, that's what I was hoping you'd say.  This issue is working properly then; it is resolved as being due to a misunderstanding only.

[2016-02-23 21:55] #105 closed

[2016-02-23 22:23] #102 closed

[2016-02-23 22:37] PropGit opened #117 "Change page to use textile template"
Reminder:  "...change that page to use a textile template. Those are also translatable but allow adding links."

This relates to Issue #83.

[2016-02-23 23:10] PropGit opened #118 "Help search bar doesn't update according to category of help displayed"
The Help system's search bar doesn't update to reflect what category of help is being displayed.  For example, here the BlocklyProp category has been and is now shown, but __Help__ is still shown in bold (and is not a link), preventing the user from click back to the main help landing page.

![image](https://cloud.githubusercontent.com/assets/1266318/13269934/8c480750-da3f-11e5-8576-cea2f4ce5235.p

[2016-02-24 00:12] PropGit opened #119 "Editor's "BlocklyPropClient available" is still a link"
The editor's "BlocklyPropClient available" item that appears when the client is installed, running, and connected, is still a clickable link that targets the client download.

That's kind of confusing.  Maybe make it non-linked text when the client is available?

[2016-02-24 00:32] PropGit opened #120 "Enhance BlocklyProp Client link's information"
The link for the dynamic _BlocklyPropClient not available_ item on the editor displays an overlay to download the client software.

![image](https://cloud.githubusercontent.com/assets/1266318/13271234/93c8736c-da48-11e5-9451-3f29495627a2.png)

![image](https://cloud.githubusercontent.com/assets/1266318/13271296/fb2b036c-da48-11e5-91b3-016291b70d6f.png)

This looks great, but to clarify things for

[2016-02-24 00:33] DarkmatterVale opened #121 "Cannot compile most recent code"
I tried compiling BlocklyProp (just cloned the repo so I have the latest version) and the following popped up:

[code]

I ran "clean initialize package tomcat7:deploy" in Netbeans as my Maven goals. Any ideas why this is happening? Am I missing something or is something wrong in the code?

[2016-02-24 15:52] michel-cf commented on #83
introduction text moved to textile page. And text added

[2016-02-24 15:52] #83 closed

[2016-02-24 15:53] michel-cf commented on #117
Done

[2016-02-24 15:53] #117 closed

[2016-02-24 15:55] michel-cf commented on #107
Changed

[2016-02-24 15:55] #107 closed

[2016-02-24 15:55] michel-cf commented on #115
Changed

[2016-02-24 15:55] #115 closed

[2016-02-24 18:14] michel-cf commented on #112
Password policy enforcement added using http://www.passay.org/

Current requirement: 8 or more characters.
More complex rules can be added if required.

[2016-02-24 18:25] michel-cf commented on #119
Done

[2016-02-24 18:25] #119 closed

[2016-02-24 18:50] michel-cf commented on #120
Done using a textile page to enable usage of markup

[2016-02-24 18:50] #120 closed

[2016-02-24 19:05] michel-cf commented on #111
Removed "yours" and left the users screenname

[2016-02-24 19:05] #111 closed

[2016-02-24 19:13] michel-cf commented on #113
Changed

[2016-02-24 19:13] #113 closed

[2016-02-24 19:20] michel-cf commented on #76
Download page present

[2016-02-24 19:20] #76 closed

[2016-02-24 20:45] michel-cf commented on #121
It looks like you have not installed the Cloud-compiler-Java-client. You'll need to compile and install that project first so that it is present in your local maven repository.

[2016-02-25 08:14] michel-cf commented on #118
They aren't real categories but shortcuts to the 3 start pages. Sadly, due to the way the help system is set up, it's very hard (to impossible, depending on how the help pages will be written and organized) in which category you are looking.

I will change **Help ** into a link.

[2016-02-25 17:46] PropGit commented on #92
The issue at the bottom of the [first post](https://github.com/parallaxinc/BlocklyProp/issues/92#issue-134951685) and the solution suggested in the [prior post](https://github.com/parallaxinc/BlocklyProp/issues/92#issuecomment-187280938) still applies.  Today I tried to log in and get no response from the system upon clicking Login; the result appears just as if I had not clicked Login.  We need s

[2016-02-25 23:41] PropGit opened #122 "Failed registration process still enters email address in database"
It's possible for a registration process to end up in a failed state, yet still enters the account's email address into the database; preventing a repeated attempt from completing because "Email already exists."

We need to find a way to resolve this; either through transaction-based processing, or some other solution that prevents a user from feeling stuck.

In the case I experienced most recentl

[2016-02-25 23:55] PropGit commented on #112
It seems to be allowing only 8-character passwords now; no more and no less.

When I enter a 7-character or a 9-character password, the following is the response; otherwise, making it 8-characters works successfully.

![image](https://cloud.githubusercontent.com/assets/1266318/13338728/303f8c72-dbd8-11e5-82d6-c6d72d71932e.png)

[2016-02-26 09:17] michel-cf commented on #112
Changed to between 8 and 255 characters

[2016-02-26 09:17] #112 closed

[2016-02-26 10:59] michel-cf commented on #118
**Help** is now a link.

For the previously mentioned reasons, highlighting is not really feasible. If this should be added anyway, please reopen.

[2016-02-26 10:59] #118 closed

[2016-02-26 11:01] michel-cf commented on #106
Changed

[2016-02-26 11:01] #106 closed

[2016-02-26 11:05] michel-cf commented on #100
Translation changed

[2016-02-26 11:05] #100 closed

[2016-02-26 11:07] michel-cf commented on #92
I added a popup that will show:"An unexpected error occured. Please try again later or contact the webmaster."

[2016-02-26 11:19] michel-cf commented on #104
Probably a Cloud-session sleeping database connection problem.

[2016-02-26 11:19] #104 closed

[2016-02-26 11:19] michel-cf commented on #99
Probably a Cloud-session sleeping database connection problem.

[2016-02-26 11:19] #99 closed

[2016-02-26 11:19] michel-cf commented on #93
A Cloud-session sleeping database connection problem.

[2016-02-26 11:19] #93 closed

[2016-02-26 11:20] #92 closed

[2016-02-26 14:35] michel-cf commented on #110
They need to be unique now (I there are currently doubles in the database, you might need to change them before you will get the error message)

[2016-02-26 14:35] #110 closed

[2016-02-26 14:35] michel-cf commented on #116
Current templates sent to Parallax for review

[2016-02-26 16:29] michel-cf commented on #114
It shows the dialog for old projects, from before the recent Blockly upgrade.
With the new Blockly, id's are introduced.

Projects that are created with the new version, or old one's that have been edited. Now contain id's and don't have this problem.

[2016-02-26 16:29] #114 closed

[2016-02-26 16:31] michel-cf commented on #101
Is this still needed, even though the user is redirected to a separate confirmation page?

[2016-02-26 19:30] PropGit commented on #101
If it does send them to a separate confirmation page, this item is not needed because the point was to give some definitive feedback (which I wasn't seeing before).

[2016-02-26 19:50] #101 closed

[2016-02-26 21:07] PropGit commented on #116
I updated and returned the templates; however, they still need to be updated to reflect the official public URL for the launch.

[2016-02-26 21:32] PropGit opened #123 "Help page: update style of buttons"
Please add a #AECEE5 blue fill to the buttons, like this example:

![image](https://cloud.githubusercontent.com/assets/1266318/13366013/609178a8-dc8d-11e5-9246-8e1654003a63.png)

[2016-03-01 18:46] PropGit commented on #119
Verified done- it is now no longer a link when in the "BlockyPropClient available" state.

[2016-03-01 18:47] PropGit commented on #120
Verified - the dialog looks great!

[2016-03-01 18:48] PropGit commented on #111
Verified addressed.

[2016-03-01 18:50] PropGit commented on #113
Verified.

[2016-03-01 21:35] PropGit opened #124 "Strangest Log In Issue"
This may be something hard to diagnose, but it's good to get it written down regardless.

Unlike yesterday, I struggled to get logged in this morning.

1. Tried logging in with my normal account
1. It responded with a log in error
1. Tried multiple times to ensure I hadn't mistyped my password
1. Followed _Forgot Password_ link and enter email address
  1. Page cleared; no success or failure messa

[2016-03-01 21:48] PropGit commented on #118
Verified.

[2016-03-01 21:48] PropGit opened #125 "Add Help to Editor"
Can we add the link to Help on the titlebar of the Editor?

[2016-03-01 21:49] PropGit commented on #106
Verified.

[2016-03-01 21:50] PropGit commented on #100
Verified.

[2016-03-01 21:55] PropGit commented on #93
Probably correct; agreed.

[2016-03-01 21:58] PropGit commented on #99
Agreed; verified.

[2016-03-01 22:02] PropGit opened #126 "Fails to log in first time after confirmation"
I've seen the following behavior three times today, so I now know it's really happening this way...

1. Register a new account in one Chrome browser tab
1. Find confirmation email
1. Follow confirmation email's link
  1. A new tab opens
1. Click on the response page's Log In link
1. The first log in attempt to that account often fails with a "Login was unsuccessful" message.

![image](https://clou

[2016-03-01 22:10] PropGit commented on #112
Verified it must be 8 or more characters.
It accepts a 256 character password (not limited to 255) but I didn't check beyond that and I am not creating an issue for it. :-)

[2016-03-01 22:18] PropGit commented on #110
Verified, they need to be unique.

[2016-03-01 22:19] PropGit opened #127 "Register page should clearly indicate when screenname needs to be different"
Related to Issue #110, the error message shown when a screenname is not unique is too vague:

![image](https://cloud.githubusercontent.com/assets/1266318/13443972/89899168-dfb8-11e5-9fb7-6334f6d69560.png)

Please enhance the non-unique Screenname error to be "Screenname already registered. Please choose a different screenname."

[2016-03-03 01:09] DarkmatterVale commented on #121
Hmmm...Ok. I have been trying to set it up but I have hit numerous errors. I am working through them, it is just taking a long time...

[2016-03-04 12:57] DarkmatterVale commented on #121
I'm gonna close this because it is an installation problem not an issue with the code.

[2016-03-04 12:57] #121 closed

[2016-03-04 16:01] PropGit opened #129 "Make PIN# block changes - not all caps, and should set state before direction"
Please make the following changes to the Make PIN# block.

1. It should read "Make Pin#" (not all caps)
1. The block should set the pin state _before_ setting the pin direction so that, if the pin happened to be an input direction and the opposite logic level, there's no "glitch" in the effective state seen on the outside.  Setting direction first, in the case below, may output a momentary low bef

[2016-03-05 20:53] DarkmatterVale opened #132 "Register page not displaying properly"
Whenever I select the "Register Now!" link on the Log In/Register page, I am successfully transferred to the Register page. However, it does not display properly.

![screen shot 2016-03-05 at 3 51 49 pm](https://cloud.githubusercontent.com/assets/6094957/13550376/63c29f30-e2ea-11e5-8342-b6fa87fd8783.png)

[2016-03-06 05:00] michel-cf commented on #132
What url do you use and what browser? It works fine for me.

[2016-03-06 13:35] DarkmatterVale commented on #132
Browser: Safari 9.0.3 (11601.4.4)
Link: https://blockly.parallax.com/blockly/register

[2016-03-06 14:23] DarkmatterVale commented on #123
I fixed this in commit d9aba23f0fe1b6a124885fcef96c6c1afc6310ca in BlocklyProp-docs.

[2016-03-06 15:32] DarkmatterVale opened #134 ""Email confirm request" doesn't send confirmation email"
After registering, I get the default message to look for a confirmation email in my inbox. It has been over 24 hours since I first registered. Following registration, after a few hours with no confirmation email sent (I checked my spam, inbox, etc), I attempted to login with the credentials I set which promptly failed. I selected the "Email not confirmed?" link, entered the email address I put int

[2016-03-06 15:34] DarkmatterVale commented on #125
@PropGit Where would you like it placed?

[2016-03-06 15:35] DarkmatterVale commented on #89
Is this a block addition to allow simple serial transmit of a number? Can you provide some additional details?

[2016-03-06 15:51] DarkmatterVale commented on #41
@PropGit What are your thoughts on this? How would you like EEPROM support to look from the user's perspective?

[2016-03-06 15:52] DarkmatterVale commented on #57
I am going to close this issue since the revised version is in a Google doc.

[2016-03-06 15:52] #57 closed

[2016-03-06 15:56] DarkmatterVale commented on #77
I agree at the moment there is no need for this addition.

[2016-03-06 15:56] #77 closed

[2016-03-06 16:08] DarkmatterVale commented on #78
@michel-cf Is it possible to use multiple ```.setCheck()``` statements? For example, can I do

[code]

where I added the

[code]

Does that work? If not, is there another way to set checks for multiple different kinds of values?

[2016-03-06 16:40] michel-cf commented on #132
We need to change the cdn url to use the load balancer. @PropGit Can you get this done?

[2016-03-06 16:42] michel-cf commented on #134
I was waiting for this one. We are still running sandboxed for the email system. Until Amazon clears us to go public, it's restricted to a few email addresses.

[2016-03-07 14:34] PropGit commented on #134
Yes, this is the reason we said not to share the existence of the system with others yet, because the system can not send out emails until Amazon let's us do so.  Jim is working with them on expanding the service to reach others outside of Parallax.

[2016-03-07 17:50] michel-cf commented on #132
Fixed by changing cdn url in properties file

[2016-03-07 17:50] #132 closed

[2016-03-07 18:07] PropGit commented on #132
Thanks @michel-cf.

[2016-03-07 22:07] DarkmatterVale commented on #134
Oh, ok. Thank you for the explanation!

[2016-03-08 21:28] PropGit commented on #134
@DarkmatterVale - We now have the email system working.  You will have to try to log in, then click the confirm email link when it fails, go through the email confirmation process, then you can log in.

[2016-03-08 21:28] #134 closed

[2016-03-08 21:47] PropGit opened #135 "Can not log in through Safari browser"
Log in always fails when using the Safari browser (at least versions 8.0.3 through 9.0.3).

To verify, we tested on two computers, one of which was very clean, and also noted that Chrome (on the same two computers) could log in with the same account without any error.

Note: Internet Explorer 11 also logs in just fine.

[2016-03-08 21:49] PropGit commented on #126
Verifying - this is still a problem and seems to occur right after confirming an account.

[2016-03-09 04:16] cbradyatinquire opened #136 "Cognew block does not accept a number in the argument socket"
cognew block rejects the number block

[2016-03-09 04:17] cbradyatinquire opened #137 "RGB LED block does not have an off-state option"
there is not a block that permits turning the RGB leds off.
suggestion - that the SET block option list could include "OFF" as well as the colors it allows.

[2016-03-09 04:19] cbradyatinquire opened #138 "Going to the FUNCTION category causes a "ghost" to be left on"
(Probably a duplicate issue)
To reproduce -
Go to the Functions category.
Go to another category - "ghost' images of the first 2 of the 3 functions blocks will show 'behind' the blocks of the newly-selected category.

[2016-03-09 12:01] DarkmatterVale commented on #135
@PropGit I just tested this and I was able to successfully login on Safari 9.0.3 on my Mac.

[2016-03-09 12:14] DarkmatterVale commented on #50
This is a duplicate of internationalization

[2016-03-09 12:14] #50 closed

[2016-03-09 12:16] DarkmatterVale commented on #45
I have created a tool in Python which does this.

@PropGit Is the ability to let the user create custom blocks something we want to have in the final version?

[2016-03-09 12:18] DarkmatterVale commented on #47
Verified this has been fixed.

[2016-03-09 12:18] #47 closed

[2016-03-09 12:20] DarkmatterVale commented on #138
Thank you for reporting this! It is not a duplicate, but it is a known issue.

[2016-03-09 12:22] DarkmatterVale commented on #78
bump

[2016-03-09 12:25] DarkmatterVale commented on #116
This was fixed yesterday, correct?

[2016-03-09 15:31] michel-cf commented on #116
There is a difference between being able to send emails out and what they contain. But we reviewed and changed the url's for production.

[2016-03-09 15:31] #116 closed

[2016-03-09 15:38] michel-cf commented on #78
Until I'm home, I won't be able to test this, but I think an if statement should only accept a boolean. Never a number. Although the generated code might work, I think it's better to have to define explicitly that you want to check if a number is higher then 0 or something like that.

[2016-03-09 19:08] PropGit opened #139 "Error prevents further project creation"
It appears that a syntax error in a previous compile [ [Cloud-Compiler Issue#7](https://github.com/parallaxinc/Cloud-Compiler/issues/7) ] may have led to failure to create future projects.  After that compile error, any new C or Spin project results in this (below) when the _Finish_ button is clicked.

![image](https://cloud.githubusercontent.com/assets/1266318/13647010/fb30c136-e5e6-11e5-8e01-0b8

[2016-03-09 19:38] cbradyatinquire opened #140 "BADGE: OLED cursor and text style block allows only rows 0 and 1 (correct for LARGE text, not for small)"
This block is a challenge.  It needs to present different chooser options depending on whether the SMALL or LARGE text option is selected.

An option would be to make separate blocks for printing SMALL or LARGE text.  Then the row/column options could be non-dynamic. And in that case the options that are present in the block now would be the correct ones (i think) for the LARGE block.

[2016-03-09 19:41] cbradyatinquire opened #141 "Badge: At project creation, badge option is not available"
This issue is just to allow the badge to appear in the dropdown.

I think we want another issue for the larger task of making blocks filter according to the board type

[2016-03-09 19:43] cbradyatinquire opened #142 "Filter blocks based on board type of project"
Per discussion, a goal (eventually) is to have the blocks that are presented to the user be matched to those that make sense for the board-type selected at the time of project creation.

[2016-03-09 19:44] PropGit commented on #139
UPDATE: This may have something to do with a problem happening with the Cloud-Session server.

[2016-03-09 19:46] cbradyatinquire opened #143 "Detection of board. Default to correct serial option"
One of the GREAT things about SimpleIDE (even compared to the propeller IDE) is that the serial-port chooser almost always chooses the correct port (and in Simple IDE, doesn't even offer the incorrect serial ports).  In BlocklyProp, the chooser does not default optimally (at least in my experience on MAC)

[2016-03-09 19:48] cbradyatinquire opened #144 "BADGE: in OLED print, common error is to add quotes"
This could be addressed by making the block have the quotes printed on it --> see the block at

Communicate
--> Serial Terminal
-----> Print " __ "

[2016-03-09 19:53] cbradyatinquire opened #145 "Increment block broken"
In Programming
---->Math
----->Decrement

Creating a block to increment a variable, e.g., "counter" leads to the C code

++counter

No semicolon.

(And is the ++ correctly placed here?  shouldn't it be

counter++;

?

[Same issue with decrement.  compiler catches the error]

[2016-03-09 20:10] cbradyatinquire opened #146 "BADGE: can't print a number to the screen (issue with var types)"
Right now, the "print a variable" block under OLED, has the following problem.

1) its variable socket ACCEPTS a numeric value (e.g., get accelerometer reading)
2) it does not compile with such a value in the socket
3) there is no way to convert from number to string.

The suggested remedies for this are.
a) make the socket data-type sensitive (I believe Blockly allows this) - introduce a color sc

[2016-03-09 20:29] cbradyatinquire opened #147 "Badge: IR Receive not working (and not presented well for blockly prop user base)"
IR receive block appears to (1) ask for a variable as argument and (2) return a variable.

It is not clear (to users)  how this is intended to work.
Based on the C primitive that backs this block, I believe it is supposed to take a char buffer as the argument and return an integer (length) as the return value.

BUT I can't test this, as I don't see how to make a char buffer in the blockly prop env

[2016-03-09 20:48] cbradyatinquire commented on #136
(recall that there was an idea of making this block come with a default value of 128 (i think), and load up like the delay block with that number placed in the socket)

[2016-03-09 21:00] DarkmatterVale commented on #145
I will fix this...

The ++ can be placed in either position; one is called a pre-increment operator and the other is called a post-increment operator. If it is a pre-increment operator, it is completed before the rest of the statement is completed (i.e. ```if ( arr[++counter] == 5 )``` will increment counter before evaluating the rest of the expression.

[2016-03-09 21:01] DarkmatterVale commented on #136
https://github.com/parallaxinc/BlocklyProp/pull/128 addresses all of the requests that were made during the call (excluding the comments regarding restricting the method calls & how that works)

[2016-03-09 21:07] PropGit commented on #135
@DarkmatterVale - That's interesting.  I'll try again.  What version of OS X are you using?

[2016-03-09 21:12] PropGit commented on #45
@DarkmatterVale - Do we have one for Spin code to blocks?  If so, I wasn't aware of that.

We haven't discussed the possibility of this and I need to know more details before being sure.  One thing we don't want to do is allow a user to make a block which will fail to compile.

[2016-03-09 21:15] PropGit commented on #138
Strangely, in my tests, the first two blocks of Functions is left "ghosted" and the third disappears.

[2016-03-09 21:25] PropGit commented on #78
I agree for a system meant for young and budding programmer; if should require clear indication of what is being checked for true/false.

[2016-03-09 21:30] PropGit commented on #140
@michel-cf - Is providing two different sets of available rows in the list something we can achieve with the same morphing technique we used on other blocks to combine multiple blocks into one?

[2016-03-09 21:31] DarkmatterVale commented on #140
Yes, this is something I can achieve with the same morphing techniques used on other blocks.

[2016-03-09 21:32] DarkmatterVale commented on #135
I am running OS X 10.11.3

[2016-03-09 21:33] DarkmatterVale commented on #78
Ok.

We should clearly specify this limitation in the documentation then for blocks that apply to this.

[2016-03-09 21:35] DarkmatterVale commented on #45
My project supports converting both Spin and C blocks. You can view it on Github at https://github.com/DarkmatterVale/Blockly-Blocks-Converter

I agree; we will need to be careful how this is implemented. I think this should be something that we discuss later on after getting an initial version released.

[2016-03-09 21:35] PropGit commented on #143
In SimpleIDE, the app registers for device change messages, and if one appears (or disappears), it makes a decision about which port to select.  This is better than ignoring device changes all together, but @michel-cf will have to determine if it's possible to employ the same kind of behavior through the browser (I don't know if it's possible).

NOTE: SimpleIDE's behavior is a compromise; it is no

[2016-03-09 21:38] DarkmatterVale commented on #143
This will probably have to be done from the client, not on the cloud (the cloud still uses the client to communicate with the device ports). I'm not sure if Python can achieve the same thing that has been achieved in SimpleIDE, or if the client can communicate data back to the cloud.

[2016-03-09 22:46] PropGit commented on #145
Pre- and post- decrement/increment may be too advanced a concept for the audience, although we _could_ create pre-decrement/pre-increment and post-decrement/post-increment blocks to serve both... or a single block where pre/post and decrement/increment are selectable.  I still think it may be too complicated for this purpose.

Thoughts?

I'm leaning towards us just sticking with pre- decrement/inc

[2016-03-09 22:49] PropGit commented on #45
@DarkmatterVale - Thanks.  Yes, I agree; let's discuss it at a later time.

[2016-03-09 23:00] cbradyatinquire opened #148 "My Projects page sometimes shows "no results""
To reproduce.
Have an account with several projects
Go to the My Projects page.
Refresh until you see "no matching records found" (see screenshot)
Refresh again until you see the expected projects list

It is as though the server sometimes takes too long to respond with the list of projects, and the page treats the timeout as an empty list.
<img width="1010" alt="screen shot 2016-03-09 at 4 56 48

[2016-03-09 23:29] cbradyatinquire commented on #145
Ok - let me step back for a minute.
The Increment/Decrement block is a COMMAND block (not a value block).  that is, it has the UI that suggests it is an operation, not a function returning a value.

There is a coherent use of this concept, which simply means  "In/decrement the value of the variable...." [var]

Which to me would correspond to the line

var++;
or
var--;

The difference between pre-

[2016-03-10 01:43] PropGit commented on #148
Verified (kind of)... Clicking My Projects showed what I expected, and a refresh of the web page cleared it (as shown in the above post), but further refreshes or clicking on My Projects never showed the list again (always empty).  Tried more than 10 times.

[2016-03-10 01:44] DarkmatterVale commented on #147
I will let you know as soon as I have figured out how to create one (or if it is not possible) and how to do it.

With respect to how the block is intended to work, I think an explanation will have to be provided in documentation. Do you believe that will suffice or do you think a change to the block will be required to simplify it?

[2016-03-10 01:46] DarkmatterVale commented on #141
I believe #133 addresses this.

[2016-03-10 01:50] DarkmatterVale commented on #78
Since we are going to not use multiple different input values, I have verified that the issues are not relevant anymore.

[2016-03-10 01:50] #78 closed

[2016-03-10 02:17] DarkmatterVale commented on #145
I agree with @cbradyatinquire  assessment. @PropGit What do you think? Are you alright with the proposed solution?

[2016-03-10 04:02] michel-cf commented on #148
How do you check this? The list is loaded asynchronously, so to verify where the problem is you need to open your browser console and look at the requests being made.

[2016-03-10 12:24] DarkmatterVale commented on #146
I think option c is the preferred route to go. This makes it easy on the user and does not require additional blocks to be created (which could further confuse the user). I do not think it is that difficult to achieve since there are functions available in C to convert other data types to strings.

While I am working on this block, I think it would be a great idea to have it have a default value b

[2016-03-10 12:25] DarkmatterVale commented on #146
I also think we should change the name of the block to just "Print". Although it will be the same as the other print block, it will accept a different value type which will differentiate them.

[2016-03-10 12:29] DarkmatterVale opened #151 "Move String block"
Currently the string block is located under Programming --> Control. This is definitely not the right place to put it.

@PropGit Where would you like it placed?

[2016-03-10 17:51] PropGit opened #152 "Project delete function does not issue confirmation dialog"
Log in and go to __My Projects__, select a sacrificial project, on the project's details page, clicking the _Delete_ button immediately deletes the project without any confirmation (which could prevent an "oops" moment).

Please make the Delete function display a confirmation prompt first ("Delete the <project_name> project?") that has a _Delete_ and _Cancel_ button.  Only the selection of the con

[2016-03-10 18:01] PropGit opened #153 "Add browser hints for Sharing buttons"
Please add helpful explanatory text nearby explaining the meaning of the **Sharing** feature's _Private_, _Shared_, and _Default_ buttons.  This will help people learn what they mean.

[2016-03-10 18:25] PropGit opened #154 "Enhance title of Community projects page"
Please change the __BlocklyProp: Projects__ header on the __Community projects__ list page to be __BlocklyProp: Community projects__ instead.  This will ensure it's clear what list the user is viewing.

![image](https://cloud.githubusercontent.com/assets/1266318/13679742/2986e286-e6aa-11e5-9543-07e9cf06d2ad.png)

[2016-03-10 18:26] PropGit opened #155 "Enhance title of My projects list page"
Please change the __BlocklyProp: Projects__ header on the __My projects__ list page to be __BlocklyProp: My projects__ instead.  This will ensure it's clear what list the user is viewing.

![image](https://cloud.githubusercontent.com/assets/1266318/13679837/aeed3808-e6aa-11e5-8ce9-8dfb2406e15c.png)

[2016-03-10 18:29] PropGit opened #156 "Project details' "BlocklyProp" header leads to nowhere"
On the Project details page...
![image](https://cloud.githubusercontent.com/assets/1266318/13679629/9b4c505a-e6a9-11e5-9c10-47484e901e1b.png)

...the __BlocklyProp:__ header is a link to nowhere.

I don't know why it's a link (may be a leftover from before we had the titlebar) but it should probably just be changed to a normal, unlinked, header.

[2016-03-10 18:41] PropGit opened #157 "Enhance title of Project details' page"
Please change the __BlocklyProp: Project__ header on the project details page to be __BlocklyProp: Project details__ instead.  This will ensure it's clear what list the user is viewing.

![image](https://cloud.githubusercontent.com/assets/1266318/13680239/8f497488-e6ac-11e5-9ecd-150790de768b.png)

[2016-03-10 19:02] cbradyatinquire opened #158 "Create a "dictionary" of block colors"
both for our internal discussion and for end-users' benefit, it would be good to have a dictionary of colors and what we take them to mean.

[2016-03-10 19:21] PropGit opened #159 "Re-envision of project selection presentation and workflow"
Currently, selecting an existing project from the __Latest projects__ list on the main page...
![image](https://cloud.githubusercontent.com/assets/1266318/13679267/bcb3c41e-e6a7-11e5-805d-393046a857da.png)
...takes you immediately to the editor with the project's code within it.  This is great!
![image](https://cloud.githubusercontent.com/assets/1266318/13679319/0a9a7830-e6a8-11e5-84e4-9ecaac881ca

[2016-03-10 19:28] PropGit commented on #125
Even thought it'd be inconsistent with where it is on all the other pages, because of the way the editor's titlebar is organized, I think it'd make sense to place it to the right of the _View_ menu.

[2016-03-11 00:35] DarkmatterVale commented on #127
Verified this has been fixed.

![screen shot 2016-03-10 at 7 34 50 pm](https://cloud.githubusercontent.com/assets/6094957/13689498/324145d6-e6f7-11e5-94a9-85dc7332d973.png)

[2016-03-11 00:35] #127 closed

[2016-03-11 01:04] DarkmatterVale opened #160 "Add way to create a new project in menubar"
I think it would be a good idea to add a dropdown menu which will allow the user to create a new project. This would be placed next to the "My Projects" tab on the right, and would appear when both the user is and is not logged in.

@PropGit thoughts?

[2016-03-11 01:05] DarkmatterVale commented on #158
@PropGit Has Parallax created a color scheme as of yet or is that still on the todo list?

[2016-03-11 01:10] DarkmatterVale commented on #46
Can we verify this is fixed?

[2016-03-11 01:12] DarkmatterVale commented on #70
I am going to close this issue since we have added the new logo.

[2016-03-11 01:12] #70 closed

[2016-03-11 01:24] michel-cf commented on #158
According to #69 we were planning on making the color scheme a bit brighter. And to answer @DarkmatterVale question: no, there haven't yet been any decisions on what colors to use. I've tried to keep them the same within each category but there should be a management decision on what colors to use.

[2016-03-11 01:28] michel-cf commented on #127
I think the original problem was not with checking the screenname but probably some other failure, as I've had this error message since I added the screenname duplicate detection.

[2016-03-11 01:57] DarkmatterVale commented on #140
@cbradyatinquire I apologize for not getting to this sooner. I am learning about the morphing techniques right now and I will keep this updated with my progress on the block.

[2016-03-14 12:25] #129 closed

[2016-03-14 17:02] PropGit opened #164 "Delayed login failure response"
Related to Issue #92, where the solution was to "... add a popup that will show: 'An unexpected error occurred. Please try again later or contact the webmaster.'"

When the system is experiencing trouble, the first response to this failure (at least as seen in Chrome, did not test in other browsers) is the "unsuccessful" message:
![image](https://cloud.githubusercontent.com/assets/1266318/13752237

[2016-03-17 15:45] PropGit commented on #139
UPDATE: Same problem occurred today.
  * A restart of Cloud-Session service did not solve it.
  * Refreshing the Chrome browser cache did not solve it.
  * The only thing that seemed to fix it was actually closing the Chrome browser and then opening a new browser tab and logging in again.  After that, compilations worked again.

[2016-03-17 18:19] DarkmatterVale commented on #146
bump

[2016-03-17 18:47] DarkmatterVale opened #166 "New block category: Data Types"
The current data-type blocks are not located together, which can be confusing for beginners. I propose we create a new category under the "Programming" category titled "Data Types" which will contain the following blocks:

- [ ] Integer/Float math block
- [ ] Char/String block (fixes #151)

In addition, blocks related to creating arrays should go into this category.

[2016-03-17 18:50] PropGit commented on #146
@DarkmatterVale

Is there a way for a single Print block to accept multiple value types?  That'd be best, rather than two blocks of exactly the same name the require different types; otherwise, I think they'd be indistinguishable and that'd be confusing.

[2016-03-17 18:51] DarkmatterVale opened #167 "Add blocks to allow array creation and manipulation"
Blocks that allow the user to create and manipulate arrays of simple data types need to be created

[2016-03-17 18:54] DarkmatterVale commented on #146
@PropGit Yes, we can have it accept multiple value inputs. However, we are not able to allow 2 types (its all or one I believe). @michel-cf Can you confirm that ```.setCheck(---)``` can only be applied once to a block?

[2016-03-21 19:40] DarkmatterVale commented on #167
@michel-cf Do these blocks allow for the creation of lists/arrays? If so, where are they on the BlocklyProp website? I am unable to locate them...

https://github.com/parallaxinc/BlocklyProp/blob/master/src/main/webapp/cdn/blockly/language/common/lists.js

[2016-03-21 20:31] DarkmatterVale commented on #69
Has there been any progress on determining what colors should be used for which blocks @PropGit ?

[2016-03-23 19:52] JenJacobs commented on #69
Is anyone working on this project able to get me a list or a screen capture of all the block colors we are currently using, please?

[2016-03-23 21:40] PropGit opened #169 "System Failure: Error 503"
The BlocklyProp system has failed causing a 503 error message (shown on the Chrome browser console) and just a blank screen in the browser with no other status response.

![image](https://cloud.githubusercontent.com/assets/1266318/14001677/870a6da6-f104-11e5-940e-962d602b0f46.png)

I've restarted tomcat7 on the Cloud Session and also Blockly Prop servers.  No change.
I've rebooted each server (Dat

[2016-03-23 21:56] PropGit commented on #169
UPDATE: The same error occurs when all Blocky servers are stopped, leading me to think this problem is  actually stemming from the load balancer(s).

[2016-03-24 19:08] PropGit commented on #69
@JenJacobs - Here's some screen captures.  I don't have the color codes for these but you should be able to grab them from the image.

We need as wide a set of _different_ hues as practical (not too close to each other) (see the [above post](https://github.com/parallaxinc/BlocklyProp/issues/69#issuecomment-155718917) for documentation) and I believe @michel-cf has already set the saturation and va

[2016-03-24 19:43] michel-cf commented on #69
I have not yet changed the 2 other (fixed) parameters. If a change needs to be made to those, please let me know what values should be used. (this is a change in the core Blockly code and as such we'll need to make a list of what changes or done for when we update the Blockly core)

[2016-03-24 20:58] JenJacobs commented on #69
![newblocks](https://cloud.githubusercontent.com/assets/15825277/14030976/d13ecd40-f1c7-11e5-807b-f07e49c86dda.png)

Thank you for the screen shots, very helpful. For brighter blocks I propose green, aqua, blue, purple, and red. Mocked them up so you can see how they would look. Thoughts?

Green #2CB231
Aqua #2CA9B2
Blue #2C64B2
Purple #B22C91
Red #B22C2C

![blockly](https://cloud.githubuserconten

[2016-03-24 21:58] PropGit commented on #69
@JenJacobs - That's definitely more appealing to me.

I'm concerned it may be a tiny bit too bright because a couple of the colors feel harder to look at than others.  It might just be my eyes.  This is a saturation of 75% and value of 70%.  What do you think of something like 70% and 65%, respectively?  Maybe that's too dark?

@cbradyatinquire - Since you have students (I don't know what age rang

[2016-03-24 22:01] michel-cf commented on #69
Please remember that Blockly uses the HSV model with saturation and value. So, could you please provide the fixed values and the selected Hue value for each color?

[2016-03-24 22:03] PropGit commented on #69
@michel-cf - Okay.  What Jen provided was 75% Saturation, 70% Value, and Hues of 122, 184, 216, 316, and 0 degrees.

[2016-03-24 22:07] JenJacobs commented on #69
@PropGit Here are some less bright options in the same family. I can add more colors, how many sets of blocks do we expect to have?

@michel-cf I can get you the HSV values, no problem.

![lessbright](https://cloud.githubusercontent.com/assets/15825277/14032662/a9cf15bc-f1d1-11e5-9b3e-ef8db4cd93af.png)

[2016-03-24 22:37] PropGit commented on #69
@JenJacobs That _does_ look a little more dull; maybe washed-out is a better term.  I was hoping my suggestion would be less intense but not dingy.  You're original were more appealing to me.

This is hard to pinpoint and it has changed over time.  Right now we have about 10 categories and it's likely to increase, at least slightly.  Most human eyes can detect many hundreds (thousands?) of shades

[2016-03-24 23:03] JenJacobs commented on #69
Ok. If we go in increments of 25 for the 'H' value you can have 15 colors to choose from and nice round numbers that are easy to remember.

![blocklypropin25s](https://cloud.githubusercontent.com/assets/15825277/14033734/e9479e3c-f1d9-11e5-9be6-4ac215a03559.png)

[2016-03-24 23:19] PropGit commented on #69
Thanks @JenJacobs.  Good choice.  I think that provides a nice range of colors without getting too wild.

[2016-03-24 23:21] PropGit commented on #158
@cbradyatinquire and @DarkmatterVale - please check the latest on Issue #69 and weight in if you feel compelled.  I'd like to settle the list of available colors there first, then we'll define the dictionary of block colors in this thread.

[2016-03-24 23:24] DarkmatterVale commented on #69
I like these colors as well.

[2016-03-25 02:38] cbradyatinquire commented on #69
I agree in general.  I'm very glad to get the orangey and yellowey colors in play.  I do think that Row 1 column 4 is sub-optimal, and row 1 col 5 is too close to Row 2 col 1 & Row 2 col 2 to distinguish them  Same with Row 2 col 5 and Row 3 col 1; and Row 1 col 1 and Row 3 Col 4 & 5.  So we probably realistically have 9 or 10 fully distinguishable colors here.

Also - does anyone know:  How do th

[2016-03-25 15:50] JenJacobs commented on #69
@cbradyatinquire I had the same concern when we were working with just 5 colors. A palette of 15 is going to be tough on colorblind users - I'm not sure there's any way around that.

[2016-03-25 16:37] michel-cf commented on #69
We might try http://colororacle.org/index.html to see how it looks for colorblind people.
Google gives plenty of results when searching for _colorblind safe palette_

[2016-03-25 16:40] JenJacobs commented on #69
@michel-cf Additional color blind palettes could also be developed if it's possible to toggle between things like that in Blockly.

[2016-03-25 16:52] michel-cf commented on #69
It's not built in, but I could create a system where we manage colors in a central place and the blocks request what color they should be instead of being hardcoded in each block. It would still only be the Hue that can changes due to the way Blockly is set up. Being able to change all 3 parameters or using a different color model will need investigation, and if possible, will require quite a bit

[2016-03-25 16:57] michel-cf commented on #69
We could make the colorblindness type selection part of the profile page.
I need to know everything before initializing Blockly. I don't think I can change block colors after that. So, making the selection part of the profile makes sure I have the information beforehand and it eliminated the requirement for a selection on the editor screen. (We want this to be minimal, to have as much space for th

[2016-03-31 01:27] cbradyatinquire opened #170 "LED and Touchpad numbering out of sync"
IN the blocks view, the touchpad at P27 is touchpad 0, while the LED there is LED 1

In the Propeller C view, these are both at index 0.

I would suggest that the index should be the same in the Blocks and C views.  I would also suggest that in future runs of the HARDWARE, the numbering for the code should show up on the badge labeling

[2016-04-03 17:40] DarkmatterVale commented on #169
@PropGit This has been fixed, correct?

[2016-04-04 06:09] michel-cf commented on #169
This was a server mis configuration, not a bug

[2016-04-04 06:09] #169 closed

[2016-04-04 11:05] michel-cf commented on #156
Is BlocklyProp in the title even necessary? This comes from the day where there was no menu, now the BlocklyProp logo and name is on the left side of the menu bar.

[2016-04-06 23:29] PropGit opened #173 "Need more thorough logging"
The BlocklyProp system (as a whole, not just the BlocklyProp service itself) needs very thorough logging in order for us to find and address certain types of errors (those we are experienced with and those we are not).

Trying to find the source of the Cloud Session failure that prevents further log ins (on a frequent basis) seems close to impossible without insight from the system itself.

Please

[2016-04-06 23:36] PropGit opened #174 "Update list of supported boards and I/O pins"
Parallax Education will provide the list here.

[2016-04-07 11:25] michel-cf commented on #174
I received this list of boards. Now I need to know what I/O pins should be available to the user.

- Propeller Activity Board WX
- S3 Robot
- Hackable Electronic Badge

[2016-04-07 16:21] PropGit commented on #174
The only boards initially considered official are:
  * Propeller Activity Board WX
  * S3 Robot
  * Hackable Electronic Badge

[2016-04-07 23:02] PropGit commented on #156
Good point, @michel-cf.  Let's remove "BlocklyProp" from there completely.

[2016-04-08 18:06] PropGit commented on #159
@cbradyatinquire and @DarkmatterVale - do either of you have an opinion about this?

[2016-04-08 18:46] PropGit commented on #72
Thanks.  I understand and am closing this issue.

[2016-04-08 18:46] #72 closed

[2016-04-08 18:47] PropGit commented on #73
Good point.  The menu allows the user to get back to other places (effectively cancelling out), so I'm removing this request.

[2016-04-08 18:47] #73 closed

[2016-04-08 18:47] PropGit commented on #74
Good point.  The menu allows the user to get back to other places (effectively cancelling out), so I'm removing this request.

[2016-04-08 18:47] #74 closed

[2016-04-08 18:49] PropGit commented on #71
I'm closing this request as the majority is done and the Login/Register buttons are on the menu, which is deemed sufficient.

[2016-04-08 18:49] #71 closed

[2016-04-08 18:53] PropGit commented on #68
I think this item is resolved.  We are pleased with the current menu in the system.

[2016-04-08 18:53] #68 closed

[2016-04-08 19:54] PropGit opened #175 "Browser Confirms Navigation Even After Saving Blockly Program"
At least in Chrome (and maybe others), after saving your Blockly program, if you try to navigate to other projects (for example) the browser still forces you to confirm that you want to navigate away from the page.

[2016-04-08 20:21] DarkmatterVale commented on #159
Yes, I do have an opinion about this.

We need to make the process as simple as possible for the user, and having multiple different views for the same thing is very confusing. I think your solution is pretty good, although I believe the "Back" button should not be a button at all, but instead a large arrow. This makes it look more visually appealing (to me). What do you think @PropGit ?

[2016-04-08 20:21] DarkmatterVale commented on #167
bump

[2016-04-09 14:24] DarkmatterVale commented on #140
After some experimenting, I have determined that I am going to need the test server instance up and running to work on this.

[2016-04-09 14:25] DarkmatterVale commented on #174
Thank you! As soon as you post the values I will update the boards and send a PR.

[2016-04-09 14:27] DarkmatterVale commented on #147
@cbradyatinquire What do you think of my proposed solution?

[2016-04-09 16:14] cbradyatinquire commented on #147
Do you mean, the documentation solution?
I think that's our only solution unless we figure out a good way to translate the CONCEPT into the blocks metaphor.
Ideas from the group on THAT?

[2016-04-19 13:28] michel-cf commented on #139
Seems to be the same problem as #148

[2016-04-20 18:11] #152 closed

[2016-04-20 19:04] #175 closed

[2016-04-20 19:27] michel-cf commented on #174
Board list updated. Propeller Activity Board WX pins: 0 - 17, 26, 27 (pins for breadboard, servo, and 2 leds)

S3 Robot and HEB: currently all 32 pins. Will be updated once provided.

Also present: Other, with all 32 pins available for users of other boards.

[2016-04-25 18:25] #156 closed

[2016-04-25 18:25] #157 closed

[2016-04-25 19:34] #155 closed

[2016-04-25 19:34] #154 closed

[2016-04-25 20:10] michel-cf commented on #125
Open in new window doesn't seem to work, probably due to the page leave check. Will need to be fixed using JS.

[2016-04-27 19:05] #125 closed

[2016-04-27 19:54] #138 closed

[2016-04-29 20:34] michel-cf opened #177 "Freqout is not a command in spin"
Change generated code

[2016-04-30 19:55] michel-cf commented on #158
I added a central way to manage colors.

[2016-04-30 19:55] #158 closed

[2016-04-30 19:56] michel-cf commented on #135
Works for me

[2016-04-30 19:59] #145 closed

[2016-04-30 20:01] michel-cf commented on #141
Board list updated to list of supported board provided by Parallax

[2016-04-30 20:01] #141 closed

[2016-04-30 20:06] #123 closed

[2016-04-30 20:13] #137 closed

[2016-05-01 11:34] michel-cf commented on #159
I changed the layout a little. Please check if this is better.

[2016-05-01 12:52] #69 closed

[2016-05-01 12:55] #136 closed

[2016-05-04 01:31] cbradyatinquire opened #178 "Numeric dropdowns should allow variables"
For example, Set LED state LED# [   ]
Programmatically varying that argument would be powerful.

[2016-05-04 01:34] cbradyatinquire opened #179 "Need a random number generator block"
A block that creates a random number.
Following the lead of other blocks-based environments, it might be good to have a block that picks a random INTEGER between [arg1] and [arg2].

It might also be good/necessary to have a random-float kind of block.  but the integer between LOW and HIGH might be the first need.

[2016-05-04 01:35] cbradyatinquire opened #180 "OLED print [Variable] should allow numeric values"
It is going to be important to be able to convert numbers to strings.

I would advocate for this being done for the user in the OLED print [Variable] block.  but it would be acceptable (and i could understand the argument for it) to make this OLED print block accept ONLY strings, if we had a block to convert a number to a string.

[2016-05-04 01:48] cbradyatinquire opened #181 "Receive a message (IR) block problems"
It's not clear (to me) how the Receive a message block is supposed to be used.  It takes a variable argument and returns a variable.

See attachment for a screenshot of how it MIGHT be intended to be used (?)

Below is the code that is produced.   The code --> {{$var_type_test}}  is a giveaway to a problem in the compilation...
<img width="512" alt="screen shot 2016-05-03 at 8 42 58 pm" src="https

[2016-05-04 09:20] michel-cf commented on #178
Changing from dropdown to field that accepts variables is not really possible.

That's why I have both:
![image](https://cloud.githubusercontent.com/assets/5745991/15009994/1d930340-11ea-11e6-99aa-72ca9a11e399.png)

[2016-05-04 13:46] cbradyatinquire commented on #178
Cool - so we can follow that code as an example.

[2016-05-04 13:51] cbradyatinquire opened #182 "Variable type (masked boolean) that has HIGH LOW values and can be switched using NOT (or custom NOT)"
For programmatically switching things between HIGH and LOW, we should have a variable type that does this.

Certainly, this is "behind the scenes" just a boolean, but for the user it'd be nice to be able to set vars to the states HIGH or LOW and say var = NOT (var)  to switch.

Ideally, ideally - it would also be possible to PRINT this variable (and get "HIGH" or "LOW") [ or "HI" and "LO" if you w

[2016-05-04 20:14] DarkmatterVale commented on #182
Hi Dr. Brady,

I'm a little confused as to what you mean here. I can currently use "NOT" with a boolean without an issue:

![screen shot 2016-05-04 at 4 11 22 pm](https://cloud.githubusercontent.com/assets/6094957/15027649/dd6455c0-1212-11e6-811c-4e56c942f127.png)

Regarding the ability to print this variable, I'm not sure how we can accomplish that. If we are assuming you would like to be able to

[2016-05-04 20:14] DarkmatterVale commented on #181
I will review the block's code and get back to you about this.

[2016-05-04 20:16] DarkmatterVale commented on #178
@cbradyatinquire Would you like me to create a similar double-block for LED State then?

[2016-05-04 20:26] DarkmatterVale commented on #135
I just tested this and I am not able to login through safari, but I had no issues logging in through Chrome.

The only error message I get on the console:

![screen shot 2016-05-04 at 4 26 31 pm](https://cloud.githubusercontent.com/assets/6094957/15028096/02aa5c42-1215-11e6-9430-fb2ee2149e09.png)

[2016-05-04 20:38] DarkmatterVale commented on #148
Verified this is still an issue. I'm not sure why it is happening, because one second the project list is correct, then it cannot find any projects. The only way to fix the problem (once it occurs), is to restart the browser.

Another weird aspect of this issue...the problem appears to happen randomly. Sometimes I can reproduce the error, other times I cannot.

[2016-05-04 20:49] DarkmatterVale commented on #180
@cbradyatinquire https://github.com/parallaxinc/BlocklyProp/pull/172 Fixes this issue.

[2016-05-04 22:11] cbradyatinquire commented on #178
yah — my only question is whether the LED state should have a variable-input for the second (true/false;1/0;HIGH/LOW) argument.

On May 4, 2016, at 3:16 PM, Vale <notifications@github.com> wrote:

[2016-05-04 22:16] cbradyatinquire commented on #182
right -> so my thinking here is based on kids that are thinking about HIGH/LOW differently from TRUE/FALSE and 1/0.

if we create an essentially “fake" variable type which takes on the two values HIGH and LOW, then that type’s literal values can appear.  One reason, actually, to have this type is that it could have its own ways to handle toString()  and printing.

if we do NOT create this fake var

[2016-05-05 04:11] michel-cf commented on #135
Index.jsp is changed to index. Did you use a bookmark to go there?
Op 4-mei-2016 10:26 PM schreef "Vale" <notifications@github.com>:

[2016-05-06 00:42] DarkmatterVale commented on #89
bump

[2016-05-06 00:44] DarkmatterVale commented on #40
This is not a priority at the moment and can be reopened later if necessary.

[2016-05-06 00:44] #40 closed

[2016-05-06 12:26] DarkmatterVale opened #183 "Cog stop block"
Add a block to stop a cog

[2016-05-06 13:11] cbradyatinquire opened #184 "Be able to create string variable (char arrays)"
Right now when a program calls for a char array, the code conversion creates the placeholder

{{$var_type_<VARNAME>}}

this makes it impossible to create programs or test functionality that uses strings in any variable.

[2016-05-06 13:27] cbradyatinquire opened #185 "Project contents are not saved (at least sometimes)"
Although project metadata is saved, the project code comes up blank.

Steps.
1) go through the project creation steps (from New Project, C)
2) add code
3) save project (note feedback that project is saved)
4) go back out of blockly prop (possibly required to log out / in)
5) go to my projects
6) select previously saved project,
7) from meta-data page, select, view code.
[blank blocks creation scre

[2016-05-06 13:39] DarkmatterVale commented on #184
Which blocks are you using to create this error?

[2016-05-06 13:40] DarkmatterVale commented on #173
I believe this has been satisfied?

[2016-05-06 13:42] DarkmatterVale commented on #178
Yes, I think it should have a variable input. In the event that a user would like to change the state of an LED based on the input of some sensor, the block would require a variable input (otherwise you would have to use a long if clause.

[2016-05-06 13:44] cbradyatinquire commented on #184
you can use IR Receive with any variable input to the right-hand argument
or, more simply, initialize a new variable by setting it equal to the string literal (which shows up as Hello in the Control category)

[2016-05-06 13:46] DarkmatterVale commented on #184
Neither of those scenarios give me a {{$var_type_}} message, but I do see that the variables are not correctly handled. I believe this is an issue with the variable system that I will have to fix.

[2016-05-06 13:48] cbradyatinquire commented on #184
oops.  the simpler one didn't work for me (to not-work) today.  but the more complicated one DID. can you retry by doing the following...

1) place the IR receive block
2) put the dummy ITEM variable in the right hand argument and the dummy ITEM =  block in the receiving left-hand endpoint.
3) change the left hand variable to a new variable ( "anint" in the below)  and the right-hand one to a new

[2016-05-06 13:53] DarkmatterVale commented on #184
Ah, yes, I can reproduce that error. This issue is not related to the fact that the variables are always initialized as integers (which I will create a separate issue for), but it is due to the fact that you are attempting to reference a variable that has not been initialized. To fix the issue, you must first initialize the variable you are going to use.

I do not believe that a block can be auto-

[2016-05-06 13:53] DarkmatterVale opened #186 "All variables are created as integers"
We need char arrays, strings, etc.

[2016-05-06 13:56] cbradyatinquire commented on #184
Ok - another block that causes this error when no initialization occurs is the OLED print a variable block.

I tried initializing, and the code generated treated the var as an int.

To reproduce.

Choose the OLED print a variable.
Add a new variable i chose "astring"  to print.

Check that the {{ }} error occurs.

Then add an initialization step by choosing

astring =  Hello ( the hello string lit

[2016-05-06 13:59] DarkmatterVale commented on #184
See issue #186 ... I'm going to have to figure out how to fix this (but it might be something Michel should look at because variables are built into the core of BlocklyProp)

[2016-05-06 14:07] DarkmatterVale commented on #186
It appears that within BlocklyProp there is a block to declare a variable as one of many different types (https://github.com/parallaxinc/BlocklyProp/blob/93398ce9760a1d97e5058e7416ccec5b3571a102/src/main/webapp/cdn/blockly/generators/propc/variables.js). For some reason, it is not being implemented. @michel-cf Is there a specific reason you have not put these into production yet?

[2016-05-07 19:04] DarkmatterVale commented on #181
After reviewing the documentation, here is how the block is supposed to work:

1) "Variable" block input: This is the char array that the received string will be saved to. In your example, this is the test variable
2) The data sent back from the block is the length of the string saved

I think the name of this block needs a lot of work, and we might want to add another variable slot which will be

[2016-05-07 19:38] cbradyatinquire commented on #181
I would love to test this with users.  We can do that as soon as the variable type issue is solved. 
I would try out:
Receive messageContents: (var spot)Length (var spot)
In my mind it would be conceptually ideal if these two were both presented as return values (even though the contents var is in c an argument and the length var is a return.
I know it's not so conventional to give labels for the

[2016-05-08 11:05] DarkmatterVale commented on #178
@cbradyatinquire What would you like the default values that go inside the value inputs to be? 0 and high (for pin and value, respectively)?

[2016-05-08 14:46] cbradyatinquire commented on #178
yah - i think that would be a good set of defaults.  but --> if i'm thinking right about this, this issue has to do with creating blocks that take variables.  So the BLOCK would just have sockets for pin# and value.  Then, the variable blocks that would fit in there are the big questions for me -> In particular, does a True/False fit into that second socket?  If yes, then it's odd to kids that are

[2016-05-10 23:58] DarkmatterVale opened #189 "Set pins block does not work"
The block's UI does not work nor does the block generate the correct code.

To reproduce this error, simply place the block anywhere in your program and select one of the dropdowns. Attempt to change any of the settings and it will not work.

[2016-05-11 00:05] DarkmatterVale commented on #159
This looks much better, thank you!

[2016-05-11 00:07] DarkmatterVale commented on #46
Lets open a new issue if it is decided to remove the volatile option; for now, this issue can be closed.

[2016-05-11 00:07] #46 closed

[2016-05-15 00:14] DarkmatterVale commented on #144
Closing this since this block has been removed (per the discussion about consolidating the blocks into one)

[2016-05-15 00:14] #144 closed

[2016-05-15 12:42] DarkmatterVale opened #193 "Clean codebase"
There is a substantial amount of code that is not used, and it needs to be cleaned out to simplify the codebase. This will help with maintenance and future updates.

[2016-05-17 13:39] michel-cf opened #199 "Put Block definitions in shared code between spin and c"
@DarkmatterVale @PropGit
Would it be a good idea to put the Block definitions (how they look and behave on screen) in shared files, with only language specific code generators?

This would improve consistency between the 2 languages.
Maybe this is not possible for all blocks, but I would think it should work for most of them.

[2016-05-17 14:13] DarkmatterVale commented on #199
Since this will not affect the user's experience with BlocklyProp, I think that we should leave the system the way it is right now. We need to focus on getting a feature-complete system ready as soon as possible, and I can work in separate directories without any issues. After we have the features needed integrated, we can go back and do more behind-the-scenes work which will make it easier to wri

[2016-05-18 04:47] zfi commented on #199
There are redundant code blocks between spin and c that may come back to bite us if they do not remain synchronized. Let's queue it for refactoring after we push through a release.

[2016-05-18 13:35] #146 closed

[2016-05-18 15:29] #170 closed

[2016-05-18 15:30] #180 closed

[2016-05-18 15:31] DarkmatterVale commented on #147
@cbradyatinquire Has this been fixed?

[2016-05-18 19:19] cbradyatinquire commented on #147
I may not be seeing merged code (wed 05/18/16 at 2:00 PM central time).

Per the above, I think that we have a simple-ish solution (see below) that we should implement and publish.  Then, we should think about a solution that fits better with what we learn are our users' mental models about this (passing a var as an argument to be filled is totally foreign to a blocks-based logic, I think).

For t

[2016-05-18 19:33] cbradyatinquire opened #200 "Slim down number of blocks & categories presented for Hackable Electronic Badge projects"
The Hackable Electronic Badge doesn't work with many of the blocks that are in other categories.  It would be very important (at least eventually) to get rid of these categories for HEB Projects.

Even though users CAN hack the hardware, they won't be able to use the "out of the box" connections to sensors, and they also won't be able to use any of the pin numbers in other blocks.

BlocklyProp is

[2016-05-18 21:42] DarkmatterVale commented on #200
@michel-cf Is the support for custom-selecting blocks something you are planning on working on in the near future? Is it something that I should look at?

[2016-05-22 14:59] DarkmatterVale opened #204 "Weird display issue with Freqout block"
It appears that the grey, transparent background does not go all the way out with the Freqout block. @michel-cf Do you know why this happens?

Below are screenshots of the issue. As you can see, the background does not go out past the end of the freqout block but it does with the much longer MMA7455 block.

![screen shot 2016-05-22 at 10 54 53 am](https://cloud.githubusercontent.com/assets/6094957

[2016-05-22 15:03] DarkmatterVale commented on #204
Could this be an issue because the other blocks within the category are not displaying properly?

[2016-05-22 19:32] DarkmatterVale opened #205 "Generated code for Spin MMA7455 accelerometer is not correct"
Currently, the offsets are not being written:

What the code should look like:
[code]

What the code looks like:
[code]

[2016-05-22 19:52] DarkmatterVale opened #206 "New function issue"
I have identified a bug with the function blocks in Spin. Complete the following steps and you will be able to reproduce the error. I have also attached a screenshot to show the error.

![screen shot 2016-05-22 at 3 38 51 pm](https://cloud.githubusercontent.com/assets/6094957/15456080/c23f7fd4-2033-11e6-907c-a14614beb1ca.png)

Steps to reproduce:
1. Create a function and add an input
2. Call that

[2016-05-24 16:45] #166 closed

[2016-05-29 11:02] DarkmatterVale opened #210 "Text quotes are not working"
This can be seen in numerous blocks. @michel-cf Did the files get moved? If not, do you know why the text quotes could not be working?

![screen shot 2016-05-29 at 7 01 22 am](https://cloud.githubusercontent.com/assets/6094957/15632807/4a148080-256b-11e6-8a4d-c519cb866868.png)

[2016-05-29 13:05] DarkmatterVale opened #211 "C - Issue with deleting all blocks in workspace"
If I right-click, and click "Delete X blocks", nothing happens.

![screen shot 2016-05-29 at 9 05 32 am](https://cloud.githubusercontent.com/assets/6094957/15633523/83a21c3e-257c-11e6-834f-ec8ba1d7e4c2.png)

[2016-05-29 13:16] michel-cf commented on #210
See blockly - generators - propc - console for a working example

    Blockly.Blocks.console_print = {
        helpUrl: '',
        init: function () {
            this.setColour(colorPalette.getColor('protocols'));
            this.appendDummyInput("")
                    .appendField("Print")
                    .appendField(this.newQuote_(true))
                    .appendField(new Blockly.Fiel

[2016-05-29 13:53] DarkmatterVale commented on #210
Good point...I will send a PR after changing it

[2016-05-30 18:11] #210 closed

[2016-05-30 20:57] #160 closed

[2016-05-30 20:57] #151 closed

[2016-05-30 20:57] #147 closed

[2016-05-30 20:57] DarkmatterVale commented on #34
I don't think this is a priority at the moment, so I am going to close the issue.

[2016-05-30 20:58] #34 closed

[2016-05-30 20:58] DarkmatterVale commented on #135
I can login fine now

[2016-05-31 17:55] cbradyatinquire commented on #181
The receive block still does not produce valid code:  Here is the code produced by the blocks below.

#include "simpletools.h"
#include "badgetools.h"

int num;
{{$var_type_msg}} msg;

int main() {
  badge_setup();
  rgb( L, RED );
  while(1) {
    led( 0, 1 );
    pause(1000);
    led( 0, 0 );
    send( "hello" );
    num =  ;
    if (num >= 4) {
      rgb( L, GREEN );
    }

    pause(1000);
  }

[2016-06-03 19:16] kgracey commented on #142
As we continue with this project this issue is more important to be resolved. David Carrier will soon be joining us with S3 blocks which shouldn't be confused with the ActivityBot, for example. What's the status of being able to implement this feature?

[2016-06-03 19:24] DarkmatterVale commented on #142
At the moment, it is not possible to separate the blocks based on the board; I'm not sure what Michel's status on this feature is...

[2016-06-03 20:16] kgracey opened #225 "Relocate Functions / Variables to Programming Category"
The Functions and Variables categories in BlocklyProp are frequently used in conjunction with the various blocks in the Programming category. I'd like to see these two combined. @michellampo could you please move the Functions and Variables to appear in the Programming category? Thanks!

[2016-06-03 20:27] DarkmatterVale commented on #159
@PropGit @kgracey Do you agree? Is the current setup better?

[2016-06-03 20:44] DarkmatterVale commented on #178
I think we should discuss how to handle the high/low, true/false, 1/0 etc. at a team meeting.

[2016-06-03 20:46] DarkmatterVale commented on #193
I have done a lot of work cleaning the C blocks so I think the intended tasks for this issue have been completed.

[2016-06-03 20:46] #193 closed

[2016-06-03 21:00] michel-cf commented on #204
When you encounter issues, please open your Browser debugger (Chrome recommended) to see any errors:

![image](https://cloud.githubusercontent.com/assets/5745991/15792660/f23462b8-29de-11e6-9c4d-c2d9c6dcdcdd.png)

[2016-06-03 21:12] kgracey opened #226 "Apply new colors for a total of eight (8) categories"
Hello,

We would like to apply some new colors in BlocklyProp. I realize there's been much discussion around colors so far - and even some more this afternoon between Matt and I. I've also spent the better part of a week looking at how Blockly colors are used in general and am trying to leverage some experience from others.

Bottom line up front! These are our new colors - and there are eight of t

[2016-06-03 21:29] kgracey opened #227 "Bluetooth port on the Mac: can these be re-ordered?"
From my e-mail to Michel:

Hello,

On the Mac (and maybe other platforms) the first port available to be chosen is “Bluetooth”. Considering we don’t have Bluetooth programming support I’d like to limit the programming ports to USB-only connected hardware. Is there a problem doing this, or is this list of port possibilities automatically generated from something behind the in some “port availabilit

[2016-06-03 21:30] michel-cf commented on #226
A little preview of blocks of all categories:

![image](https://cloud.githubusercontent.com/assets/5745991/15793278/29ad4f94-29e3-11e6-8da9-a13923396894.png)

[2016-06-03 21:38] kgracey commented on #226
Feeling better already. Please be prepared for more adjustments!

Ken Gracey  |  Parallax Inc.  |  Direct: (916) 625-3010 <tel:%28916%29%20624-8333>  |  www.parallax.com <http://www.parallax.com/>  |  @ParallaxKen <https://twitter.com/parallaxken>

[2016-06-03 21:43] michel-cf commented on #226
![image](https://cloud.githubusercontent.com/assets/5745991/15793522/c7edcc3c-29e4-11e6-97ae-c373c0e365bd.png)

This should be according to plan. (I also made the program something that could work. Excluding some of the blocks of other catergories. As you can see, much logic makes it monotone)

[2016-06-03 22:03] michel-cf commented on #227
I'll include this in the new BlocklyPropClient. As we possibly want different functionality in port ordering and filtering based on the OS, the only point to do this is in the Python code of the BlocklyPropClient.

As I'm in the progress of rewriting this, I don't see any advantage in putting more work in the old one.

[2016-06-03 22:17] kgracey commented on #226
That looks good so far!

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzElectronics>

On Fri, Jun 3, 2016 at 2:50 PM, Ken Gracey <kgracey@parallax.com> wrote:

[2016-06-03 22:35] MatzElectronics commented on #226
HSV (155,75,60) Input / Output
HSV (180,75,60) Sensors
HSV (200,75,60) Communicate
HSV (220,75,60) Programming (now includes the Functions and Variables categories) + Robot
HSV (240,75,60) Activity Board
HSV (260,75,60) Hackable Electronic Badge
~~HSV (280,75,60)~~ Actuator / Output
~~HSV (300,75,60)~~ Communicate
*HSV (275,75,60)*
*HSV (290,75,60)*
*HSV (305,75,60)*
*HSV (320,75,60)*

That gets u

[2016-06-05 05:52] MatzElectronics commented on #226
Gave it some serious thought this evening.  Here's what I propose:
`        'programming': 220,
        'math': 275,
        'binary': 275,
        'io': 200,
        'protocols': 320,
        'ab': 305,
        'input': 155,
        'output': 180,
        'robot': 290,
        'heb': 290,
        'functions': 240,
        'variables': 260,`

[2016-06-05 14:33] kgracey commented on #226
Are you reorganizing colors AND categories with this suggestion?

Ken

Sent from my iPhone

[2016-06-05 16:43] MatzElectronics commented on #226
Colors yes, categories no.  In your original suggestion, you doubled up
some things that were commonly used together, so a typical program would
likely end up looking very bland.

Another thing I realized is that colors should be doubled in an either or
case.  For example, you would be programming either a badge or a robot, not
both, so they should be the same color.

As for the suggestion itself,

[2016-06-05 17:10] kgracey commented on #226
Absolutely. Michel, please implement. KG

Sent from my iPhone

[2016-06-06 04:13] kgracey opened #228 "Chromebook support with Blockly"
Hey there,

It's a matter of minutes before we receive our first request from customers about using Blockly with Chromebooks. Take a look at the statsL http://futuresource-consulting.com/2016-05-K-12-Q1-Press-Release-2961.html

@PropGit (Jeff Martin, is this your name - if it's you how about just using your actual name so we know) and @michellampo this is a priority.

How do we go about implementi

[2016-06-06 15:01] michel-cf commented on #228
All code needs to be in the app for Chrome packaged apps (Chromebook). This results a couple issues:
- translating strings needs to be done differently
- generating blocks on the fly will never be possible, unless we create a very smart system

No javascript can be put in the html:
- I use this quite often at the moment, this all needs to be changed

It needs to be changed from a website where you

[2016-06-06 15:06] kgracey commented on #228
Thanks Michel. This seems like an effort for future consideration but one that must remain in our viewscape. At present I realize we have bigger issues with BlocklyPropClient’s functionality in general, not to be clouded by the addition of yet another task. We should also have Jeff involved in this kind of talk since he has the experience working with Parallax IDE in Chrome. He might even have ano

[2016-06-06 19:35] michel-cf opened #229 "math_single (C -> programming -> math -> 2nd block)"
This is an empty block?

[2016-06-06 22:39] cbradyatinquire commented on #181
after the pull request, tested (mon june 6, 5:30 PM Central, code generation is not working -> Below are the blocks and c-code results.

<img width="516" alt="screen shot 2016-06-06 at 5 37 12 pm" src="https://cloud.githubusercontent.com/assets/769072/15840157/8ffe83c2-2c0d-11e6-9239-a69ca7385081.png">
<img width="382" alt="screen shot 2016-06-06 at 5 37 04 pm" src="https://cloud.githubusercontent

[2016-06-07 00:28] DarkmatterVale commented on #225
@michel-cf I can do this if you are busy; its not very difficult.

[2016-06-07 00:28] DarkmatterVale commented on #204
Thank you! I did that and identified the issue; the category works now.

[2016-06-07 00:28] #204 closed

[2016-06-07 00:28] #183 closed

[2016-06-07 00:29] DarkmatterVale commented on #181
Grrr this block just doesn't want to work! I'll find the error and fix it... @cbradyatinquire I apologize for the length of time its taking to fix the issues.

[2016-06-07 00:30] DarkmatterVale commented on #186
I'm going to work on fixing this and a number of other math/array related issues this weekend (got a nice long plane ride ahead of me).

[2016-06-07 11:27] DarkmatterVale commented on #181
Ok, so I think I've identified the issues. I believe there are two separate things going on here:

1) Incorrect output when attached to blocks -> I believe this is caused because I have set the output of the block to be a Number (which is correct) but the default ordering for numbers messes this up.
2) The variable issue -> I am going to work on fixing the variable system this weekend (since it is

[2016-06-12 10:19] #226 closed

[2016-06-12 10:28] #225 closed

[2016-06-12 10:36] #211 closed

[2016-06-12 10:41] michel-cf commented on #206
Apparently this only is a problem if the user does not rename the function

[2016-06-12 10:44] michel-cf commented on #200
Filtering blocks based on the board is now possible.
If you don't want a given category for "heb" add: `exlude="heb"`
If you want a given category only for "heb" add: `include="heb"` (This already has been done on the HEB category)

[2016-06-12 11:10] #189 closed

[2016-06-12 11:11] michel-cf commented on #189
Fixed using a Blockly modification: retest needed if that gets upgraded:

Blockly.RTL?Blockly.FieldDropdown.ARROW_CHAR + " ":" " + Blockly.FieldDropdown.ARROW_CHAR))
instead of:
a.RTL?Blockly.FieldDropdown.ARROW_CHAR + " ":" " + Blockly.FieldDropdown.ARROW_CHAR))

(a is compressed representation of 'block')

[2016-06-12 11:12] michel-cf commented on #185
Retest with simplified authentication system

[2016-06-12 11:16] michel-cf commented on #200
Duplicate of #142

[2016-06-12 11:16] #142 closed

[2016-06-12 11:17] #135 closed

[2016-06-12 11:43] #200 closed

[2016-06-12 16:38] michel-cf opened #232 "Show board in project table and project details"
As there are major differences between the different boards, the project board should be shown in the project table and details.

[2016-06-12 17:19] cbradyatinquire commented on #181
Hi
It might be that Vale's commit was only supposed to fix a PART of this issue.  But as of Noon Central Time on 6/12, the issue persists.  Attached are two screenshots also sent via email.

<img width="268" alt="screen shot 2016-06-12 at 12 05 40 pm" src="https://cloud.githubusercontent.com/assets/769072/15992694/d0281a06-3097-11e6-9091-684a293f0099.png">
<img width="621" alt="screen shot 2016-06

[2016-06-12 17:21] cbradyatinquire opened #233 "OLED print and variable substitution"
I believe that the code conversion is not handling strings or string-variables correctly (part of this might just be a consequence of the IR receive issue.

![Uploading Screen Shot 2016-06-12 at 12.05.40 PM.png…]()
<img width="621" alt="screen shot 2016-06-12 at 12 05 26 pm" src="https://cloud.githubusercontent.com/assets/769072/15992718/360963b6-3098-11e6-8abd-932e5a581a17.png">

[2016-06-12 18:19] michel-cf commented on #233
Changed to:

![image](https://cloud.githubusercontent.com/assets/5745991/15993024/f23b26d6-30da-11e6-869c-66a6b5161205.png)

[2016-06-12 18:29] DarkmatterVale commented on #233
@michel-cf Is this from my commit this morning?

[2016-06-12 18:43] michel-cf commented on #233
@DarkmatterVale
This does include your latest merge request but the print is a fix I did.

[2016-06-12 18:47] DarkmatterVale commented on #233
Ah, ok. I was looking at the variables.

[2016-06-12 18:57] #233 closed

[2016-06-12 20:15] cbradyatinquire opened #234 "is-touchpad-pressed [#] block is not accepted as boolean input into IF block"
i can work around this by assigning the result of is-touchpad-pressed []  to a VARIABLE and then using this variable in the if condition.

but it's important for the block to be check-able directly by the IF

[2016-06-12 20:23] cbradyatinquire commented on #185
I am still unable to save projects, with the build of 3PM Sat June 12

[2016-06-12 20:28] cbradyatinquire opened #235 "Show the Project Name in the editor environment"
right now, there is no indication to the project author, of what project they are working on.

putting this up in the area above the Projects, View, and Help menus would be great.

it would also allow us to put in the conventional (*) in the project name to show that it has unsaved changes.

[2016-06-12 20:42] michel-cf commented on #185
I never have this. Are you editing an existing project of your own or someone else? Was it a newly created project?
Where there any errors in the console (either while saving or opening the project)?

[2016-06-12 20:46] michel-cf commented on #234
All `Boolean` types should be `'Boolean'`

[2016-06-12 20:51] cbradyatinquire commented on #185
it has happened to me consistently in testing the IR block (when i want to make 2 programs, one to receive one to send). the project NAME shows up in My Projects, but when i view the code, it gives me an empty screen.

the console output might be illuminating.  it shows

Navigated to http://blockly.parallax.com/blockly/editor/blocklyc.jsp?project=82
blocklypropclient.js:28Object {version: 0.3, ser

[2016-06-12 20:52] cbradyatinquire commented on #185
here's the expansion of the uncaught exception:

blockly_compressed.js:999 Uncaught Blockly.Xml.textToDom did not obtain a valid XML tree.Blockly.Xml.textToDom @ blockly_compressed.js:999load @ framec.jsp:116loadProject @ editor.js:59init @ blocklyc.js:104init @ framec.jsp:100blocklyReady @ editor.js:51ready @ framec.jsp:123onload @ framec.jsp:133

[2016-06-12 20:56] michel-cf commented on #235
I'll add the project name, and if it is not your project, the project author.

Adding the (*) will be harder. I would need to continuously parse the blocks and compare it with the last saved data (what I now do when you leave the page)

[2016-06-12 20:58] cbradyatinquire commented on #235
Omitting the * is fine (Certainly for now).
Project name (and if not yours, the author) is excellent.

[2016-06-12 21:00] michel-cf commented on #185
Where you opening an older project? I renamed some blocks which makes the project code invalid, and will show an empty page.

BTW: I can't open your project as it is marked as private/default.

[2016-06-12 21:01] #181 closed

[2016-06-12 21:12] #184 closed

[2016-06-12 21:19] cbradyatinquire commented on #185
Ok -
I've made them "shared" (I assumed that "default" was 'shared') :)
I noticed the failure when i tried making projects within a single build, BUT i am not able to reproduce this right now - so it MAY be caused by compile failures or other really-invalid XML.
So far, whenever i see the failure to load, it IS accompanied by the console's XML-invalid exception.

[2016-06-12 21:28] #234 closed

[2016-06-12 21:44] cbradyatinquire commented on #186
Michel's fixes resolved many issues, but a variable initialized with a char array is still set as an int.  In the screenshot below, payPerm shows the problem:

<img width="267" alt="screen shot 2016-06-12 at 4 44 27 pm" src="https://cloud.githubusercontent.com/assets/769072/15994002/fc774cc4-30bc-11e6-968c-140bb080aa49.png">

[2016-06-12 21:50] michel-cf commented on #186
I closed this one by mistake.

I fixed the use case you provided so you could use it. I saw declaring variables as a separate issue. (But I didn't notice that it was this one)
I was aware this would still be a problem.

[2016-06-12 21:53] cbradyatinquire opened #236 "Deleting projects doesn't seem to work"
If I try deleting the project titled "April30"

http://blockly.parallax.com/blockly/projects.jsp#30

i get a server error.

It's also interesting that even if I change the "sharing" status on this one to Private, it shows up in the community list.

<img width="649" alt="screen shot 2016-06-12 at 4 53 08 pm" src="https://cloud.githubusercontent.com/assets/769072/15994032/27dd2310-30be-11e6-9735-27f

[2016-06-12 22:00] michel-cf commented on #236
I'll need to look in to that.

As for the:

That list are all the projects that you have access to.
- When you are not logged in: all public projects
- When you are logged in:
  - All public projects
  - All your projects
  - All your friends projects that have shared = Friends (current = default)

[2016-06-12 22:14] michel-cf commented on #235
![image](https://cloud.githubusercontent.com/assets/5745991/15994126/c517e696-30fb-11e6-8f5a-0d62a51eb112.png)

[2016-06-12 22:15] #235 closed

[2016-06-12 22:21] cbradyatinquire commented on #235
cool - thanks

[2016-06-13 18:22] PropGit opened #237 "Missing page right after log in"
On main blockly site (production), I requested a password reset, followed the steps (which worked swiftly), and then after logging in, immediately got a 404:

![image](https://cloud.githubusercontent.com/assets/1266318/16018359/0cc03c34-3159-11e6-96f2-5c1c77c9ebc4.png)

If I then remove everything from the URL right after .com/ and press enter, the main page comes up just fine and I'm logged in.

[2016-06-13 18:24] #236 closed

[2016-06-13 18:35] #237 closed

[2016-06-13 18:54] PropGit commented on #237
Confirmed fixed.

[2016-06-13 21:41] kgracey opened #238 "Set State example runs in SimpleIDE, but not Blockly (WAIT function)"
I created the following blocks in Blockly, connected to a seven-segment LED. Please note the function name is "wait":
![screen shot 2016-06-13 at 2 42 45 pm](https://cloud.githubusercontent.com/assets/9534148/16023866/a032f578-3173-11e6-9888-74a1d792a86f.png)
It produces the following code from Blockly:
[code]
And it throws this error during RAM/EEPROM download:
Required libraries: simpletools
Lib

[2016-06-14 14:25] cbradyatinquire opened #239 "Sort by Date Modified, Platform, (and other features) in my projects and community projects"
It would be a great addition to the usability of the my-projects and community projects to have some sorting/filtering.

A first one would be by date.

A second would be by board/platform

Tagging or keywording could add other ways of finding relevant stuff.

This is important after launch, to help a community form.

[2016-06-14 14:28] cbradyatinquire opened #240 "Clean out invalid projects before public launch"
Due to fixes in the code, there are a number of projects that are "invalid" in the sense that their blocks don't load in the editor (you get just a blank screen).

These should be cleaned out of the server so that the projects listings are all valid projects

I am guilty of having made many of these, but with delete not working, i can't clean them out.  An example that I *didn't* produce :) is ken

[2016-06-14 15:49] kgracey commented on #240
I agree - can these be wiped out by any of us, or do they require Michel’s attention?

Ken Gracey
graceyken@gmail.com

[2016-06-14 16:25] kgracey opened #241 "Cognew block omits method call name"
Hello,

Prior to the latest release the use of a multicore block worked, as shown below:
![cjzy8vlugaa4bid jpg-large](https://cloud.githubusercontent.com/assets/9534148/16050795/d3de1e54-3211-11e6-918d-9e8cf0080fce.jpg)

Now, the multicore block seems to be missing the method name in the C code creation and looks like this:
![screen shot 2016-06-14 at 9 34 03 am](https://cloud.githubusercontent.co

[2016-06-14 16:41] michel-cf commented on #240
I'dd prefer it if everyone would just quickly go through their own projects:
- delete what's not working
- make private or default what you want to keep but is not a good example (or delete it if you don't want it anymore)

I don't think it's my job to mess with other peoples projects. Not now, not ever.

[2016-06-14 16:44] cbradyatinquire commented on #240
totally agree - i had missed the fact that PROJECT DELETE was now working.
-c

On Jun 14, 2016, at 11:41 AM, michel-cf <notifications@github.com> wrote:

[2016-06-14 17:15] michel-cf commented on #241
This seems to be as a result of #222

[2016-06-14 17:24] DarkmatterVale commented on #241
Sorry for joining the conversation late...

I apologize for the confusion the change has caused. To implement a cog_end block, you must know the pointer the cognew method returns. For this reason, I added an output value for the cognew block, so this value can be stored and then used to end the cog. If I remove the change, I do not think we will be able to stop a cog (unless it stops itself). @kgr

[2016-06-14 17:28] DarkmatterVale opened #242 "Cannot enter Blockly site"
When I go to the website, I get the following error(s):

[code]

I am using Safari on my Mac.

[2016-06-14 17:32] DarkmatterVale commented on #242
After restarting my browser, it works fine. I'm not sure what caused it (I don't really understand the log) but I thought I would submit the error. Hopefully it will never happen again...

[2016-06-14 17:52] michel-cf commented on #242
BlocklyPropSessionDao.readSession -> deserialize
ClassNotFoundException - AuthenticationData

It reads the session from the database and tries to deserialize it (convert from text to a java object) but the class definition is not present anymore in the code, so it can't convert it to an object.

[2016-06-14 18:56] kgracey opened #243 "Hackable Electronic Badge: remove Input/Output menu"
Hello, met with @cbradyatinquire this morning about simplifying block selection and we'd like to remove the Input / Output menu when the Hackable Electronic Badge is chosen as the hardware platform. Can do @michellampo Thanks! KG

[2016-06-14 19:01] kgracey opened #244 "Programming menu collapse and simplification"
(a) Remove Programming menu (following menus moved to top level)
(b) Create "Operators" and populate with content of Math and Conditions
(c) Content of Data Types moved the Variables menu (keeping Variables name)
(d) Contents of Multicore menu moved the Control menu (keeping Control name)

@cbradyatinquire speak up if you see an error in my notes! Thanks @michellampo
KG

[2016-06-14 19:02] kgracey opened #245 "Remove Robot from Propeller Activity Board selection"
When Propeller Activity Board is chosen please remove the Robot menu from the choices. @michellampo KG

[2016-06-14 19:08] kgracey opened #246 "Fix Stacksize in Cognew to 128"
Blockly is intentionally limiting and it is safe to remove any option to change the stack size from 128 to something else. This constant needn't be changed by the user and can be fixed to 128:
![screen shot 2016-06-14 at 12 19 04 pm](https://cloud.githubusercontent.com/assets/9534148/16056055/a0a7476a-3228-11e6-81ac-b6a8a0307aec.png)

Thanks @DarkmatterVale , Ken

[2016-06-14 19:34] cbradyatinquire commented on #244
This is consistent with my notes.  Only, I want to clarify one thing:  the now-top-level “Control” menu will include the current contents of “Control” as well as the current contents of “Multicore”

So, before the change, we have a top-level Programming menu with {several sub-menus}

After the change, we have the following at Top Level

Control {including blocks from Control & Multicore)
Operators

[2016-06-14 19:37] michel-cf commented on #244
Functions and variables are special categories that are populated by code. I can't put other blocks in them.

[2016-06-14 20:21] michel-cf commented on #245
Don't you want the ActivityBot features when selecting the ActivityBoard?

[2016-06-14 21:05] #243 closed

[2016-06-14 21:08] michel-cf commented on #242
Probably any user that was logged in before the simplification will encounter this once. After that your session gets recreated.

Only way to be sure is to clear the sessions table in the database.
@PropGit Do you think this is necessary?

[2016-06-14 21:10] michel-cf commented on #245
@kgracey Confirmation required before I can do this

[2016-06-14 21:11] #240 closed

[2016-06-14 21:16] michel-cf commented on #238
I added `wait` to the list of reserved words.

![image](https://cloud.githubusercontent.com/assets/5745991/16060003/e5d592ee-3285-11e6-8a45-33a40dbf64ef.png)

![image](https://cloud.githubusercontent.com/assets/5745991/16060016/f60ed26a-3285-11e6-92ed-854580475eda.png)

[2016-06-14 21:19] #238 closed

[2016-06-15 16:03] kgracey commented on #245
No.

Ken Gracey
graceyken@gmail.com

[2016-06-15 16:03] kgracey commented on #244
OK.

Ken Gracey
graceyken@gmail.com

[2016-06-15 16:04] kgracey commented on #241
@Vale I’ll have an update on this issue for you today. I’ve had to get together with Andy to sort it out, but we have an idea I think you can implement. Bottom line up front: we will need some volatile variables created when we do this so RAM can be shared cog-to-cog. Will return with an example!

Ken Gracey
graceyken@gmail.com

[2016-06-15 21:07] kgracey commented on #241
Hey @DarkmatterVale, Andy and @cbradyatinquire and I discussed this issue quite extensively today. I even had to sleep on it last night - why am I so slow to figure some things out? Anyway, we think it would be best to revert back to the original cognew block which doesn't use the address pointer (and therefore has no way to stop the cog).

The reason is that the address for cogID has several leap

[2016-06-15 21:14] kgracey opened #247 "Volatile variable creation"
@DarkmatterVale since we're working on the multicore blocks we should also make sure that variables could be shared across cogs. I propose the creation of a new variable type based on these:
![screen shot 2016-06-15 at 2 24 24 pm](https://cloud.githubusercontent.com/assets/9534148/16097532/1a14c746-3303-11e6-81da-69be992fabba.png)
While we may need to change the name of these at some point in the

[2016-06-15 21:20] kgracey opened #248 "Move Data Types below line, with Variables / Functions category"
Not sure who would handle this small improvement.

@cbradyatinquire and I talked about the structure of our menu today and we're starting to see ways to improve the presentation. I'd like to propose that:

1. "Data Types" menu be moved down below the line to live in the same region as Variables / Functions.
2. Rename it from Data Types to Values.

Thanks, KG

[2016-06-15 21:23] kgracey commented on #247
@DarkmatterVale when you create this variable the scope of the variable must be global, so it has to be created outside of a main function, before any functions.

[2016-06-15 21:40] kgracey opened #249 "Random block creation"
We need to be able to create a random variable. Could we create a variable block called random?

[code]
This block uses the modulus operator and returns values from 00 to 99. That should be enough for what we need to do with Blockly.

Thanks @DarkmatterVale and @cbradyatinquire for the idea. - KG

[2016-06-16 14:55] michel-cf commented on #249
Related to #179 (Duplicate?)

[2016-06-16 15:04] #244 closed

[2016-06-16 17:12] kgracey commented on #179
Yes, it is related and we provided a code example for doing this in issue 249.

[2016-06-16 17:31] #248 closed

[2016-06-16 17:51] #245 closed

[2016-06-16 19:49] #232 closed

[2016-06-16 20:41] kgracey opened #250 "Print command missing %d missing the \n part"
@DarkmatterVale I have a simple one for you to fix.

Example program drives a seven-segment LED and displays distance (in feet) from a Ping))) sensor:
![screen shot 2016-06-16 at 1 52 49 pm](https://cloud.githubusercontent.com/assets/9534148/16132413/d8af9b62-33c7-11e6-8282-d0dd275e1d73.png)

Code generated:
[code]

The Print command format doesn't run because it is missing the \n and should look

[2016-06-17 15:38] cbradyatinquire opened #251 ""one-of" block"
This is a related issue to the need for a  "random" block.
When we have a LIST (Enum) of possible values (e.g., the COLORS for the RGB led, but also could be used for things like "HIGH/LOW"), a good structure is a "one of" structure

In NetLogo, for example, one-of takes a LIST, and selects randomly from the list.

Conceptually, for learners, this is like DYNAMICALLY AUTOMATING the choice from a d

[2016-06-19 18:29] DarkmatterVale commented on #242
bump

[2016-06-19 18:30] DarkmatterVale commented on #177
@PropGit What is the proper command in Spin?

[2016-06-21 21:24] DarkmatterVale commented on #249
My PR has not been merged yet, so it should not be in the latest build.

[2016-06-21 21:27] DarkmatterVale commented on #247
@kgracey I'm not sure if I can do this. @michel-cf Can you comment on the feasibility of this?

[2016-06-22 14:34] cbradyatinquire opened #253 "OLED small-and-large fix proposal"
Given the importance of the OLED on the badge and the challenge of handling SMALL and LARGE text situations in one block (switching the options for ROW, COL dropdowns), I think it would be good (and maybe even BETTER) to have TWO blocks

Both blocks would remove the OPTION for LARGE-SMALL.  (So, there would be one block for large text; one block for small text)

The first block would be for LARGE

[2016-06-22 22:20] DarkmatterVale commented on #253
I like the naming scheme you have chosen! I don't think I have any suggestions...

[2016-06-22 22:46] kgracey commented on #247
Andy, Vale and I spoke about this issue today. @DarkmatterVale pointed out some specific issues with being able to create two variable types (local and global). Provided all variables are declared up top in the program and without optimization, all variables declared can be volatile. There's an easy way to do this which brings in @PropGit or @michel-cf to implement. Changing the compilation option

[2016-06-22 23:03] kgracey commented on #247
I have a little more intelligence on this solution. I opened up a .side project in SimpleIDE "Roaming with Whiskers.c". At present, it compiles to 10,728 bytes:
![screen shot 2016-06-22 at 4 13 27 pm](https://cloud.githubusercontent.com/assets/9534148/16286633/9ab46688-3892-11e6-9cb3-bb8b190c7400.png)
Then I switched the compiler option to -O0 None which apparently makes all variables global:
![sc

[2016-06-22 23:05] DarkmatterVale commented on #247
I like your solution better than messing with BlocklyProp's variable system. Also, the change in memory is very little so even in advanced programs this change should not be an issue. I think this is an awesome solution!

[2016-06-22 23:22] kgracey commented on #247
Well, then the solution involves nothing from @DarkmatterVale and some work from @michellampo.

Andy pointed out to me that this approach does not make all variables global, but makes all global variables volatile without having to add the volatile keyword.

Ken Gracey

[2016-06-22 23:31] DarkmatterVale commented on #247
The only downside to that solution I see is that the user will now not see the volatile declaration. @kgracey Do you think that it would be important for a user to see and understand the difference between normal and volatile variables? If so, then we should go with the solution that does not change compiling (and requires me to change the declaration of variables).

[2016-06-22 23:36] kgracey commented on #247
Nope, at this stage I don’t think it’s important. Put yourself in a middle schooler’s situation. A typical class would have about 80% of students who try to do anything, but about 10% that really understand what these terms might mean, and maybe one of them that understands [or needs to know] real C coding practices.

I think we should have Michel do the compiler switch stuff first and see how it

[2016-06-23 21:20] CarsonGracey opened #254 "Duplicate appearances in Operators"

[2016-06-23 21:23] DarkmatterVale commented on #182
I have created a "fake" variable in my new PR for HIGH/LOW declarations, which is pretty much a duplicate of the Boolean block but with different UI text. I believe this is what we want (minus the printing...we can create a separate issue for that if you would like).

[2016-06-23 21:24] CarsonGracey opened #255 "Duplicate appearances in Operators"
![operator](https://cloud.githubusercontent.com/assets/20099916/16320660/d4685d10-394d-11e6-8171-e84e192a25e5.PNG)

The blocks under operators labeled "And" and "Not" appear twice unnecessarily. I am running Google Chrome.

[2016-06-23 21:25] #254 closed

[2016-06-23 23:06] CarsonGracey opened #256 "Make PIN Toggle needs default state"
The Toggle option (located under Input/Output>PIN States>Make PIN# high/low/**toggle**/input/reverse) needs to have a default state that sets the PIN to low or high. Without this, the PIN does know know whether to initialize in the high or low state.

### Make PIN high/low enabled, Toggle PIN disabled
#include "simpletools.h"

int main() {

  for (int n = 0; n < 10; n++) {
    high(26);
    pause(

[2016-06-23 23:14] DarkmatterVale commented on #256
Ok so here is my change:

[code]
becomes:
[code]

The change will only be visible for pins that the user toggles. Further, this does not interfere with the user's ability to change the pin to high before he/she calls toggle. The code, if the blocks looked like:

![screen shot 2016-06-23 at 7 13 30 pm](https://cloud.githubusercontent.com/assets/6094957/16323160/9a8ad1a8-3976-11e6-96b5-9cd97aef5482.

[2016-06-23 23:25] DarkmatterVale commented on #251
This is going to be a more difficult block to make; is it high priority or can it wait a little while so I can sort out variable handling issues?

[2016-06-23 23:26] DarkmatterVale commented on #247
Good point...

[2016-06-24 00:21] DarkmatterVale commented on #89
I am going to close this issue because it is not clear and no one has explained this. @kgracey @PropGit please reopen the issue if this is something you would like to see.

[2016-06-24 00:21] #89 closed

[2016-06-24 00:23] DarkmatterVale commented on #41
I am going to close this for now; if a change to the current EEPROM system is required please open a new, specific ticket.

[2016-06-24 00:23] #41 closed

[2016-06-24 00:24] DarkmatterVale commented on #48
This bug is not relevant anymore because of changes to the Cog system in BlocklyProp.

[2016-06-24 00:24] #48 closed

[2016-06-24 00:25] DarkmatterVale commented on #66
I believe this has been satisfied with the creation of ```common``` and other similar internationalization features?

[2016-06-24 01:13] cbradyatinquire commented on #251
Yes - this can wait.  I agree variable handling issues are higher priority.

[2016-06-24 01:16] cbradyatinquire opened #258 "was-shaken? block does not snap into "if" boolean condition"
The Was-Shaken? block will not be accepted by the "If" block.

In past (for touchpad-pressed), a similar bug was due to an error in the type specification.

[2016-06-24 16:55] CarsonGracey opened #259 "Lack of clarity in login prompt"
When this login request was encountered we weren't certain whether it was generated from Blockly or the web browser. This happened on Google Chrome, a fix could be to make it say Blockly Login.

![authentication](https://cloud.githubusercontent.com/assets/20099916/16344377/1f599624-39f1-11e6-9bf7-564aca6ffb05.PNG)

[2016-06-24 16:56] #229 closed

[2016-06-24 16:56] #241 closed

[2016-06-24 16:56] #246 closed

[2016-06-24 16:56] #249 closed

[2016-06-24 16:56] #250 closed

[2016-06-24 16:59] michel-cf commented on #259
What page where you trying to reach? The only requests that will give this popup are rest services that you don't open in a browser.

[2016-06-24 17:04] CarsonGracey commented on #259
This happened when we had computers that were logged in to Blockly all night, on the Block Editor page. The notification was here in the morning.

[2016-06-24 18:20] CarsonGracey opened #260 "Black blocks appearing under operators and values"
When running Google Chrome on both Mac and Windows, we had these black blocks that could be moved but would not stack with any other blocks. I assume this most likely because the website was just updated minutes ago. Neither produced any code and the problem disappeared once the page was refreshed.

![snip](https://cloud.githubusercontent.com/assets/20099916/16346487/7829183c-39fc-11e6-84f0-bbf327

[2016-06-24 18:23] CarsonGracey opened #261 "Duplicate true/false blocks"
There are two true/false blocks located in the Values tab since the site update.

![duplicate](https://cloud.githubusercontent.com/assets/20099916/16346740/dc94c7de-39fd-11e6-8241-c3af925a8b5b.PNG)

[2016-06-24 18:53] cbradyatinquire opened #262 "random block causes compile errors"
in the Friday 6/24 build of 1:30PM central US time, the random block fails

below is a minimal 'program' in block and c versions.

For some reason, the random variable is considered boolean (and i think boolean isn't the correct type declaration keyword)

<img width="215" alt="screen shot 2016-06-24 at 1 52 18 pm" src="https://cloud.githubusercontent.com/assets/769072/16347563/ffdfeb8c-3a12-11e6-9

[2016-06-24 18:57] cbradyatinquire opened #263 "second OLED text cursor control block should read SMALL"
this is the second block -
the block works correctly; its display is just wrong (it reads LARGE when it should read SMALL).
the first block is correct to read LARGE.

<img width="449" alt="screen shot 2016-06-24 at 1 55 51 pm" src="https://cloud.githubusercontent.com/assets/769072/16347660/8fe0db24-3a13-11e6-8a62-a5fcf83a0fb3.png">

[2016-06-24 19:12] cbradyatinquire opened #264 "Set LED State block produces no C code (suppresses any C-code if used)"
if this block is used in a program, the C-code view shows up empty.

<img width="264" alt="screen shot 2016-06-24 at 2 10 18 pm" src="https://cloud.githubusercontent.com/assets/769072/16348016/abb93330-3a15-11e6-8aed-bf0fd6ec2b1e.png">

[2016-06-24 19:38] CarsonGracey opened #265 "Error in code for CR Servos"
This program will make the CR servo go full speed backwards for five seconds, then full speed forwards for five seconds. The generated code needs one addition and one change so that it works.

![cr servo](https://cloud.githubusercontent.com/assets/20099916/16348232/2969b1e8-3a06-11e6-844e-8a7855da9242.PNG)

The changes that need to be made to the generated code are:
Add `#include "abdrive.h"`
Chan

[2016-06-24 20:05] RoxyH opened #266 "Standard Servo Block accepts out of range numbers."
I was using the standard servo block and it accepted values that where out of range, beyond 180. Is it possible to limit the block so it only accepts values 0-180?
- Roxy

![snip2](https://cloud.githubusercontent.com/assets/20117435/16349128/c37102aa-3a0b-11e6-8e49-c81e87498e3e.PNG)

[2016-06-24 20:19] Wierdowl opened #267 "Boolean is replacing int in programming."
I created the following Blockly code:
![screen shot 2016-06-24 at 1 02 31 pm](https://cloud.githubusercontent.com/assets/20117212/16349273/ba9f68dc-3a0c-11e6-9520-e0995f762bc2.png)
 It produced the following C code:

[code]
and then I went into SimpleIDE and changed the code to this:

[code]
 Where I replaced the boolean with int and it began to work.-Blake

[2016-06-24 20:25] RoxyH opened #268 "Standard servo offers too many pins"
The standard servo block offers too many pin numbers, I was wondering if we could possibly limit the pins to 12, 13, 14, 15, and 16?

[2016-06-24 20:30] Wierdowl opened #269 "Suggestion to remove ticks from the ping blocks."
I suggest we remove the ticks option from the Ping))) block because it will most likely confuse the target customers in middle school levels. Is that possible to do? - Blake

[2016-06-24 20:31] kgracey commented on #268
I agree with Roxy - we should keep people off of the breadboard.

Ken Gracey
graceyken@gmail.com

[2016-06-24 21:28] #255 closed

[2016-06-24 21:30] DarkmatterVale commented on #269
Yes, this is easily achieved. I will include this fix in the next PR.

[2016-06-24 21:36] DarkmatterVale commented on #266
Unfortunately, I do not believe this is possible. However, I can have the block generate a comment after the statement alerting the user that he/she has picked an invalid number of degrees.

@RoxyH What do you think of this solution?

[2016-06-24 21:40] DarkmatterVale commented on #262
The boolean declaration was another issue (which will be fixed in the next PR).

[2016-06-24 22:20] cbradyatinquire opened #270 "Set LED State block has wrong options (true/false) for High/Low state"
image shows the problem.
<img width="313" alt="screen shot 2016-06-24 at 5 19 10 pm" src="https://cloud.githubusercontent.com/assets/769072/16352013/ea77b050-3a2f-11e6-9a43-4faca9218494.png">

[2016-06-24 22:31] kgracey opened #271 "Joystick block code output revision"
Hey @DarkmatterVale: I think this one will be easy for you to repair. At present this Blockly code:
![screen shot 2016-06-24 at 3 39 56 pm](https://cloud.githubusercontent.com/assets/9534148/16352142/2230aaac-3a20-11e6-8856-c683ad12fd28.png)
Generates this code:
[code]
but this code gives us a scaled 0-99 result with more current uses of Andy's libraries:
[code]
There are a number of changes here

[2016-06-24 23:46] DarkmatterVale commented on #261
I apologize for this issue; I had a mistake in the HIGH/LOW block. This should go away once my next PR is in.

[2016-06-25 00:12] DarkmatterVale commented on #260
I *believe* I have figured out why this is happening, but it appears to be able to be caused by a number of different invalid pieces of code...

[2016-06-25 00:14] michel-cf commented on #266
We might be able to create a block using: https://developers.google.com/blockly/guides/create-custom-blocks/define-blocks#angle_field

If a numeric value is entered (not a calculation or variable) we could do some validations: https://developers.google.com/blockly/guides/create-custom-blocks/define-blocks#change_validator_javascript_only

[2016-06-25 00:19] DarkmatterVale commented on #186
This has been fixed (although we had a little boolean scare today...).

[2016-06-25 00:19] #186 closed

[2016-06-25 00:27] DarkmatterVale commented on #271
Is it important to add the 1 ```int y = 2048 + 40;``` to the beginning of the compiled code?

[2016-06-25 11:50] kgracey commented on #271
Yes, it scales the output down to a reasonable number.

[2016-06-25 11:52] kgracey commented on #186
BOOOOOlean scare :)

[2016-06-25 12:34] DarkmatterVale commented on #266
Great idea! I will send a PR for the first one later this weekend.

[2016-06-27 17:13] CarsonGracey commented on #265
Vale - Please remove the PR from this post, it needs to be approached with a different library since abdrive.h requires encoders.

[2016-06-27 17:13] #265 closed

[2016-06-27 17:32] #258 closed

[2016-06-27 17:32] #260 closed

[2016-06-27 17:32] #261 closed

[2016-06-27 17:32] #262 closed

[2016-06-27 17:32] #263 closed

[2016-06-27 17:32] #267 closed

[2016-06-27 17:32] #268 closed

[2016-06-27 17:32] #269 closed

[2016-06-27 17:32] #270 closed

[2016-06-27 17:32] #271 closed

[2016-06-27 17:45] #266 closed

[2016-06-27 17:54] Wierdowl opened #274 "Correction to the Sony Remote block code"
When I created These blocks:
![screen shot 2016-06-27 at 10 47 17 am](https://cloud.githubusercontent.com/assets/20117212/16389640/aeefca2e-3c53-11e6-91cb-ed3419a747f8.png)

I got this C code:
[code]

And when I went into Simple IDE I was able to change it to this:

[code]

Where I changed the "remote = s;" into "remote = sirc_button(10)"  And it was able to work. -Blake

[2016-06-27 18:12] #259 closed

[2016-06-27 18:34] RoxyH opened #275 "No logout button"
I noticed that there is no logout button and I think having one would be useful so that users won't have to close the window to logout.

[2016-06-27 20:57] RoxyH opened #276 "Wave play back block generates wrong code"
![snip4](https://cloud.githubusercontent.com/assets/20117435/16395335/2893291a-3c6e-11e6-915d-6525cbc685c3.PNG)
These are the blocks used

This is the code generated by Blockly
[code]

This is the corrected code
[code]

-Roxy

[2016-06-27 21:00] CarsonGracey opened #277 "Update for servo_setramp"
In issue #265 I said that `servo_speed` needs to be changed to `drive_speed` while adding `#include "abdrive.h" ` This was incorrect because `#include "abdrive.h" ` requires encoders since it is used with the ActivityBot. This library needs to be changed to `#include servo.h"`, while also reverting `drive_speed` back to `servo_speed` that means that the changes @DarkmatterVale made in the last PR

[2016-06-27 21:55] CarsonGracey opened #278 "Modification of Servo Set Ramp"
The Servo Set Ramp block needs to have a range of 0-100 with a default of 50. Values entered above 100, would default to 100 while all negative values would default to 0. The library that would need to be included would be `"servo.h"`. This would be helpful if added because the maximum range of step values for Servo Set Ramp is currently 1-20.

[2016-06-27 22:14] DarkmatterVale commented on #276
@RoxyH Should I also not declare ```const char filetechloop[] = {"techloop.wav"};``` since it is not used at all?

[2016-06-27 22:15] #167 closed

[2016-06-27 22:15] #178 closed

[2016-06-27 22:20] DarkmatterVale commented on #274
Gosh dang it I hate this bug so much...I will have this fix included in the next PR

[2016-06-27 22:28] kgracey commented on #274
Thankfully you are already familiar with the bug, so the hunt is already over before it began.

[2016-06-27 22:37] DarkmatterVale commented on #275
If you click on your email address, a dropdown window appears containing an option "Logout"

[2016-06-27 22:40] cbradyatinquire commented on #264
This does not work in the build of 6/27 evening.

[2016-06-27 22:42] cbradyatinquire opened #279 "boolean substitution still around for random() block"
the RANDOM block works when the value is directly printed
but when it's stored to a variable, that variable is initialized with "boolean" type

[2016-06-27 22:43] kgracey commented on #276
@DarkmatterVale since @RoxyH is out of town for the rest of the week I'll answer. First, you are correct!

This is the minimum code (without the unused line you noted):

[code]

[2016-06-27 22:44] cbradyatinquire opened #280 "print-a-number block should not print the variable name and "=""
because we can print these prefix things directly using print-a-string it would be better for this block just to print a number alone.

[2016-06-28 00:13] DarkmatterVale commented on #279
I found the issue with variable declaration (once again...) and I am confident this problem has finally been resolved.

[2016-06-28 00:30] #205 closed

[2016-06-28 00:30] #182 closed

[2016-06-28 00:30] #177 closed

[2016-06-28 00:30] #179 closed

[2016-06-28 00:30] #256 closed

[2016-06-28 00:31] #253 closed

[2016-06-28 00:31] #140 closed

[2016-06-28 00:40] DarkmatterVale commented on #264
@cbradyatinquire Can you please be more specific? I see an issue with the HIGH/LOW block, but the Set State block appears to be fine...

[2016-06-28 00:51] DarkmatterVale commented on #199
Since spin will eventually be removed, I am going to close this issue.

[2016-06-28 04:56] kgracey opened #282 "TOGGLE command bug: another repair"
I created the following Blockly code:

![image](https://cloud.githubusercontent.com/assets/9534148/16404126/eab120d2-3cb0-11e6-8d70-ff7fabfbc0a0.png)

which created this code:

[code]
Two particular repairs need to be made to the Blockly output:

**FIRST:** This single line of code `cog_run(blink26, 128)cog_run(blink27, 128)` should be on two lines and is missing the semicolons. Right way:
[code]

[2016-06-28 13:24] cbradyatinquire commented on #264
In case you didn't find the issue - I made a project "test LED pin state" that's public
it has the blocks below, and it produces no code.

<img width="488" alt="screen shot 2016-06-28 at 8 23 24 am" src="https://cloud.githubusercontent.com/assets/769072/16416845/b89aaaba-3d09-11e6-8086-e71580388a15.png">

[2016-06-28 20:22] RoxyH opened #283 "Shift Block"
![snip7](https://cloud.githubusercontent.com/assets/20117435/16430982/2ac83822-3d33-11e6-899b-414256501848.PNG)
We should remove or hide this block. It is in operators.

[2016-06-28 21:45] DarkmatterVale commented on #264
@cbradyatinquire Actually that is a bug with the repeat block; I will post a separate issue for that.

With regards to the bugs with Set LED state, I corrected one issue, but I'm not sure if it is going to fix the issue. I was getting an extra ```,``` one line after the generated C code, and I'm not sure if that is an issue within the Set LED state block or a separate issue.

[2016-06-28 22:05] kgracey commented on #282
@DarkmatterVale we decided this is a much better way:

[code]

[2016-06-28 22:06] #275 closed

[2016-06-28 23:04] DarkmatterVale commented on #264
This is going to take me some time to figure out; the program you provide does not work, but if I remove the Set LED state block from the if statement (and do not connect it to any other blocks), it works fine. But, if I add it to another block like this:

![screen shot 2016-06-28 at 7 03 55 pm](https://cloud.githubusercontent.com/assets/6094957/16435318/17889402-3d63-11e6-89e7-67e6a019009b.png)

[2016-06-28 23:14] DarkmatterVale commented on #264
I've put in a few more fixes, but I'm not sure if it will fix the problem...

[2016-06-28 23:54] CarsonGracey opened #285 "Case Sensitivity"
We discussed that for the sake of consistency and simplicity, all words and letters in blocks should be lower case. All acronyms can be left capital. Here they all are:

**Control:**

**Operators:**

**Values:**

**Input/Output:**

**Communicate:**

**Activity Board:**

**Sensor/Input:**

**Actuator/Output:**

[2016-06-30 00:35] MatzElectronics opened #286 "Boolean type on variable assignment"
Discovered this when I tried to use wasShaken and placing it in a variable.

[2016-06-30 00:38] DarkmatterVale commented on #286
Hi @MatzElectronics,

I am aware of the bug and a fix is present in #281. Thank you for the report though!

[2016-06-30 16:20] kgracey commented on #286
Oh yeah, we all know about this little troublemaker. Vale has it under control.

[2016-06-30 17:51] PropGit opened #287 "Some Dependencies not in Repository"
@michellampo - There are a number of references to a maven repository named e******.c******.propeller (obscured for safety). We don't know what it is requiring from there, but we're concerned that there are files held there that are required for building BlocklyProp and we really need to understand that and get those into a repository to manage it long-term.

Please inform us of the details and ho

[2016-06-30 20:30] michel-cf commented on #287
I don't think there were actual dependencies. But there BlocklyProp server was in the wrong group.
And Cloud-session-java-client and Cloud-compiler-java-client had references to my maven repository

[2016-06-30 20:30] #287 closed

[2016-06-30 20:52] michel-cf commented on #247
Changed, waiting for deployment.

[2016-06-30 20:52] #247 closed

[2016-06-30 21:28] CarsonGracey opened #288 "Menu Reorginization"
In addition to the case sensitivity, we thought it would also be beneficial to reorganize the menu as well and the proposed changes are here.

### Original

-  Control
-  Operators
-  Values
-  Variables
-  Functions
-  Input/Output
   -  Pin States
   - Timing
- Communicate
   - Serial Terminal
   - Protocols
- Activity Board
   - Voltage
   - Memory
   - Audio
- Sensor/Input
   - ETape liquid le

[2016-07-01 18:01] CarsonGracey opened #289 "Changing location of curly braces in generated code"
These blocks generate the code directly below. The current formatting works but is hard for beginners since the curly braces tend to not have their own line. The main reason this should be changed is so the code will be easier to read and understand.

![screen shot 2016-07-01 at 10 50 30 am](https://cloud.githubusercontent.com/assets/20099916/16529614/cc06b104-3f78-11e6-9dc8-c04fb3aeab4c.png)

###

[2016-07-01 18:57] michel-cf commented on #289
I have to disagree on this one. I always open curly brackets on the same line as the function/class/condition definition it's about.
They are both accepted by different groups of programmers, but my brain just goes crazy when you open curly brackets on new lines.

[2016-07-01 19:12] kgracey commented on #289
Sure, I can see why you prefer it the way you do @michel-cf.

There are two reasons we think this is important. First, Blockly is a bridge to programming in C. Curly braces are notoriously difficult for people to handle - the starts and stops can be hard to find. Our audience for Blockly is as low as middle school (first time programmers). I am also a first-time C programmer and I can attest to th

[2016-07-01 21:09] CarsonGracey opened #290 "RFID Block Code Fix"
The comments have the correct code for each RFID block and their purpose.

[code]

[2016-07-01 21:55] DarkmatterVale commented on #289
Personally, I have no opinion about this. I can code in both styles without any issues. Generally, I code in the style the other code is styled in. So, following that guideline, I agree that we should separate curly braces to match the other parallax code.

With regards to the difficulty implementing this change...It is not very difficult.

[2016-07-02 12:14] michel-cf commented on #289
@DarkmatterVale I was going to look to add a code formatter in, then you don't need to change the blocks. (And in the future we might offer the choice of code style)

[2016-07-02 13:34] DarkmatterVale commented on #289
Ah, ok...sounds like an interesting idea. I will hold off on completing this then; good luck!

[2016-07-02 18:05] DarkmatterVale opened #291 "Fix SD Card Blocks"
Just a reminder to myself...

[2016-07-02 18:13] DarkmatterVale commented on #285
Control:

[ ] Delay - delay
[ ] Method - method
Operators:

[ ] Decrement/Increment - decrement/increment
Values:

[ ] HIGH/LOW - high/low
Input/Output:

[ ] Make Pin# - make pin#
[ ] Check PIN# - check pin#
[ ] Set the state of 1 pins starting at # 0 Values: p0: HIGH/LOW - set the state of 1 pins starting at # 0 values: p0: high/low
[ ] Freq PIN# Duration - frequency pin# duration
[ ] Pulse-in PI

[2016-07-02 18:41] DarkmatterVale commented on #288
Where does the timing category now go? Or is it removed?

[2016-07-03 18:01] michel-cf commented on #289
Ready to be merged in demo

[2016-07-03 20:00] #242 closed

[2016-07-03 20:00] DarkmatterVale commented on #173
bump

[2016-07-03 20:00] DarkmatterVale commented on #159
Can we close this?

[2016-07-03 20:01] DarkmatterVale commented on #67
Can we close this?

[2016-07-03 20:06] michel-cf commented on #67
With the OAuth changes I just wrote a configuration readme. (For all configurations, not only oauth).

Maybe we can use parts of the latest created Google docs to write the other readme's

[2016-07-03 20:07] DarkmatterVale commented on #43
This has been completed and is working very well.

[2016-07-03 20:07] #43 closed

[2016-07-03 20:21] michel-cf commented on #164
Anyone still having this problem?

[2016-07-05 20:12] CarsonGracey opened #297 "Memsic 2-axis generated code"
Hey @DarkmatterVale,

A couple of small changes need to be made to the Memsic 2125 accelerometer blocks. These are the blocks I created:

![memsic](https://cloud.githubusercontent.com/assets/20099916/16596084/254b61f2-42a7-11e6-96a6-f87b5e01bcc9.PNG)

The Blocky generated code is correct except for two things. One being the Boolean variable which has already been adressed and the other being ```x_

[2016-07-05 20:24] #297 closed

[2016-07-05 20:27] CarsonGracey opened #298 "Memsic 2-axis generated code and block name"
Hey @DarkmatterVale,

A couple of small changes need to be made to the Memsic 2125 accelerometer blocks. These are the blocks I created:

![fixed](https://cloud.githubusercontent.com/assets/20099916/16599670/43cefd30-42b8-11e6-8be7-d4f3a092eb10.PNG)

The Blocky generated code is correct except for two things. One being the Boolean variable which has already been adressed and the other being ```x_a

[2016-07-05 21:01] CarsonGracey opened #299 "Block request for Memsic 2-axis rotation"
There are currently two blocks for the Memsic 2-axis in Blockly that can measure and acceleration for X and Y axis but there is not yet one that can measure rotation or tilt.
One new block could be added to the Memsic 2-axis menu that would be named:

MX2125 rotation X-axis pin# (dropdown1) Y-axis pin# (dropdown2)

The code this block would need to generate would be

```mx_rotate(xPin, yPin);```

[2016-07-05 21:01] CarsonGracey opened #300 "Block request for Memsic 2-axis tilt"
There are currently two blocks for the Memsic 2-axis in Blockly that can measure and acceleration for X and Y axis but there is not yet one that can measure rotation or tilt.
Two new blocks could be added to the Memsic 2-axis menu that would be named:

MX2125 tilt X-axis pin#(dropdown1)
MX2125 tilt Y-axis pin#(dropdown2)

The code this block would need to generate would be:

[code]

where dropdown

[2016-07-05 23:25] CarsonGracey opened #301 "Three replacement XBee blocks"
We can replace both Serial transmit blocks and the Serial read byte block with XBee setup, while both XBee transmit and Xbee receive need a variable attached to them.
The setup block would create ```fdserial *xbee``` and also create ```xbee = fdserial_open(DO pin, DI pin, (fix last two parameters at 0, and 9600))```

[code]

[code]

[2016-07-06 00:05] DarkmatterVale commented on #174
This has been finished; please reopen if it is still relevant.

[2016-07-06 00:05] #174 closed

[2016-07-06 17:03] CarsonGracey opened #304 "Connection for Pulse-in and RC charge/discharge"
Both the Pulse-in and RC charge/discharge blocks should have their connection typed changed to be similar to that of a Ping))) block. This is because neither of them can equal a variable or have their inputs stored.

![pulse-in low](https://cloud.githubusercontent.com/assets/20099916/16626821/78024272-435f-11e6-96dd-9a57c82425b8.PNG)

![rc charge](https://cloud.githubusercontent.com/assets/2009991

[2016-07-06 19:13] CarsonGracey opened #306 "Block request for ColorPal"
### ColorPal enable
Adds these two lines of code and will be a function call block, looks like:

![close rfid](https://cloud.githubusercontent.com/assets/20099916/16630942/4dc809d0-4371-11e6-9833-df3df2b85b8c.PNG)

[code]

### ColorPal get colors
Adds three lines of code that has the text: Get colors pin# [0-15] R [ ] G [ ] B [ ]
Looks similar to

![save an int](https://cloud.githubusercontent.com

[2016-07-06 19:52] CarsonGracey commented on #289
Tested and verified.

[2016-07-06 19:52] CarsonGracey commented on #288
Tested and Verified.

[2016-07-06 19:53] CarsonGracey commented on #285
Tested and Verified.

[2016-07-06 20:00] CarsonGracey commented on #278
There may a better way do this but it would be helpful if we also put (0-100) after rampstep so people will realize there is a minimum and maximum.

[2016-07-06 20:01] CarsonGracey commented on #277
Tested and Verified.

[2016-07-06 20:02] CarsonGracey commented on #286
Tested and Verified.

[2016-07-06 20:03] CarsonGracey commented on #283
Verified.

[2016-07-06 20:41] kgracey opened #307 "Block modification for Functions - If - Return"
Hey @DarkmatterVale - I have an easy one for you.

We are not really planning on using parameter pass / return to and from functions at this early stage of Blockly. The issue we created a while ago for global variables will make this possible without parameter passing. So, you can delete the Function - If - Return block and I'd like to replace it with this block:
![screen shot 2016-07-06 at 12 57

[2016-07-06 22:24] CarsonGracey opened #308 "Block elimination"
![to do return](https://cloud.githubusercontent.com/assets/20099916/16636533/8d11266e-438d-11e6-8dca-6ddc34e53994.PNG)

This block could be deleted because we hope to have global variable support so we won't have to pass parameters.

[2016-07-06 22:26] CarsonGracey opened #309 "Block rename"
![cognew method](https://cloud.githubusercontent.com/assets/20099916/16636589/e0b61234-438d-11e6-9e59-6c0794b5e638.PNG)

This block would be easier to use if the words said:
new core
function

[2016-07-06 22:28] CarsonGracey opened #310 "Block Deletion"
![sf02 laser](https://cloud.githubusercontent.com/assets/20099916/16636622/25de4570-438e-11e6-8844-f61e2265c04f.PNG)

This block could possibly be deleted because the SF02 laser is very expensive and is mostly used for commercial use.

[2016-07-06 22:31] CarsonGracey opened #311 "Menu name change"
In the menu for demo.blockly.parallax.com, one sub menu is

Audio

It would look better if it were changed to

Audio

[2016-07-06 22:34] CarsonGracey opened #312 "Volume block values"
![volume](https://cloud.githubusercontent.com/assets/20099916/16636733/d46b16e0-438e-11e6-8c6e-af8e6914f0ab.PNG)

Since the volume max of this block is 10 and the minimum is 0, right after volume it could say (0-10) where all values under 0 default to 0 and all values over 10 default to 10.

[2016-07-06 22:41] CarsonGracey opened #313 "Moving PWM"
![pwm channel 1](https://cloud.githubusercontent.com/assets/20099916/16636884/c64ded98-438f-11e6-802d-c57619a6c961.PNG)
![pwm start](https://cloud.githubusercontent.com/assets/20099916/16636886/c9c55204-438f-11e6-86bf-868b51bb3d02.PNG)
![pwm stop](https://cloud.githubusercontent.com/assets/20099916/16636891/cd77c864-438f-11e6-9184-0ca55213667b.PNG)

All three of these blocks could be moved over to

[2016-07-06 23:30] CarsonGracey opened #314 "PWM Blocks"
### PWM Start
PWM Start (defaults to 100 microseconds, not set by user)

[code]

### PWM Set
PWM Set Pin, Channel (A or B maps to 0 or 1), duty cycle (0-100) % (limit range from 0-100, accept var or constant)

[code]

### PWM Stop

[code]

[2016-07-07 00:13] DarkmatterVale commented on #308
I will have to confirm I can do this; Michel might have to tackle this one...

[2016-07-07 00:40] DarkmatterVale commented on #290
Do you want me to add a "store in the variable ___" option in the RFID read block, or do you want me to leave it as a value?

[2016-07-07 01:56] cbradyatinquire commented on #309
Hi - Ken ( @CarsonGracey ) - didn't you want to use "Process" as a synonym for "cog" (rather than "core")?
So

[[
new process

function
]]

?

[2016-07-07 02:15] kgracey commented on #309
Yes, I do.

I prefer “new processor” if that’s okay.

Ken Gracey
graceyken@gmail.com

[2016-07-07 02:24] cbradyatinquire commented on #309
ah, right - i mis-'spoke'

[
new processor
function
]

[2016-07-07 02:56] kgracey commented on #290
I’m not sure I understand the difference.

Variable or value? Can you explain a bit more?

Ken Gracey
graceyken@gmail.com

[2016-07-07 15:49] PropGit commented on #247
@michel-cf - Can you point me to the commit where this happened?

[2016-07-07 18:05] cbradyatinquire opened #317 "set LED State block invalid INITIAL state"
the set LED State block is ALMOST working on Demo as of 7/7.  The hitch is that the block in its default state has "HIGH" as its value, whereas the two valid values are "high" and "low" - once you change that default value (to low and then back to high), the resulting C-code compiles.

[2016-07-07 18:35] michel-cf commented on #247
https://github.com/parallaxinc/Cloud-Compiler/commit/4ed8a8903e8f81aec845f8f19a4543b0ff9a4583

[2016-07-07 19:44] michel-cf commented on #239
I just created a merge request for some initial sorting capabilities
@PropGit @zfi

[2016-07-07 22:59] DarkmatterVale opened #319 "Bug in HEB Set LED open"
https://github.com/parallaxinc/BlocklyProp/blob/master/src/main/webapp/cdn/blockly/generators/propc/hackable_electronic_badge.js#L82

This is more of just a reminder for myself so I don't forget to fix it...

[2016-07-07 23:01] DarkmatterVale commented on #317
Oops I think this was caused when I changed the case of the high/low block as requested in another issue. I'll fix this...sorry!

[2016-07-07 23:24] DarkmatterVale commented on #290
A variable will be simpler for the user, but more restrictive (only variables can be used). Although, I think that there will never be a need for values...

I will prototype the variables and send it to demo where you can take a look and make a better educated guess.

[2016-07-08 00:51] kgracey commented on #290
Aha, I got ya now. A variable vs. a constant. Indeed, just a variable block will take care of this one.

How are you going to handle 10 bytes of data?

Ken Gracey
graceyken@gmail.com

[2016-07-08 18:12] PropGit opened #321 "Terminal Capabilities"
@michel-cf - What are the BlocklyProp Terminal capabilities in terms of display manipulation and cursor movement?  Is it currently only able to display input as scrolling text (left-to-right, top-to-bottom) and supporting only the CR (or LF?) control character?

We have a need for at least a little more manipulation capability based on control characters in the input serial stream.  Such examples

[2016-07-08 18:13] PropGit opened #322 "Terminal Font Size Setting"
@michel-cf - Can we make a Terminal Font Size setting, or at least increase the current default font size?

[2016-07-08 19:48] PropGit opened #323 "Reset password and Email Confirm Broken for OAuth accounts"
The Reset password and Email Confirmation pages do not work properly when the user enters an OAuth account email address in the field.  Currently it responds with a 500 error.

[2016-07-08 20:10] kgracey commented on #321
I’d like us to support a very small number of these options so we can have a few more formatting controls during release. If it helps, Michel, we can make a super short list. The number of blocks to support this entire list would be pretty big.

[2016-07-09 08:58] michel-cf commented on #323
@zfi I mistakenly instructed you to only copy the app directory of cloud-session when deploying the new version.

This functionality depends on Failures.py in the root directory of the repository. Could you please deploy this and restart the Cloud-session server again? That should fix these problems.

[2016-07-09 14:41] zfi commented on #323
@michel-cf  I just deployed the updated Failures.py to the DEMO stack and restarted supervisor.

[2016-07-09 15:03] DarkmatterVale commented on #319
Oops already fixed this in my branch...too much to much remember...

[2016-07-09 15:03] #319 closed

[2016-07-09 16:48] michel-cf commented on #323
Thanks, I just tested it and it now seems to work fine.

[2016-07-09 16:48] #323 closed

[2016-07-10 13:36] DarkmatterVale commented on #291
I have redone the SD Card blocks to *hopefully* make them better. It is in demo, so please let me know what you all think of the changes and if any more are necessary.

[2016-07-10 13:37] kgracey commented on #291
Okay! We’re ready to demo the SD card blocks on the demo.blockly.com site? I’ll go take a look!

Primary purpose would be storing and retrieving data, right?

Ken Gracey
graceyken@gmail.com

[2016-07-10 13:40] DarkmatterVale commented on #291
Since the automatic building is not enabled yet, I do not believe it has been pushed to production (but the next build of the demo branch will contain the updates).

Yes, that is correct. I modified the getting of the data to give the user access to each individual element of the arrays, as well as making the arrays global (instead of restricting them to a single method).

[2016-07-10 13:43] kgracey commented on #291
Did the change of making all variables global make the SD card coding easier as well?

Ken Gracey
graceyken@gmail.com

[2016-07-10 13:49] DarkmatterVale commented on #301
Can you please clarify why the transmit block needs to be attached to a variable? Given your explanation, I believe it is a standalone block that does not return any data?

[2016-07-10 13:50] kgracey commented on #301
I’ll go look at this right now. - KG

[2016-07-10 13:51] DarkmatterVale commented on #291
Hahaha, it ended up being about the same. I think though that even the small changes will be a lot better for the user (it simplifies each step a little bit I believe).

[2016-07-10 13:53] DarkmatterVale commented on #301
I also think that the receive block does not need to be attached to a variable, as I can put the "storing variable" directly into the block

[2016-07-10 13:58] kgracey commented on #301
I think I see the confusion. The Tx block doesn't need to be keyed into a variable, but it needs to accept one (or a constant) as the argument in the body of the block. Same for receive block, just as you noted above. This has me wondering: wouldn't the two approaches (a left keyed connection to a variable vs. dropping the var/value into the block) have the same result? Aren't they really doing th

[2016-07-10 14:00] DarkmatterVale commented on #301
Yes, they do have the same result but there is one difference: I cannot pre-attach a block to a variable, while I can add value inputs and pre-fill those. By giving defaults the user can see, it reduces possible confusion and lets them easily get the block up and running without consulting anyone or any documentation.

[2016-07-10 14:01] kgracey commented on #301
Gotcha. That makes sense to me. I'm happy with approach you are using.

[2016-07-10 14:03] DarkmatterVale commented on #301
Awesome! I will have these into the demo branch ready to go in a little bit.